.alert_line {
    padding-left: 17px;
    border-left: 2px solid $neutral-grey3;
}

.alert_line--default {
    border-color: $primary-darkblue;
}

.alert_line--error {
    border-color: $primary-red;
}

.alert_line--success {
    border-color: $supplement-darkgreen;
}

.alert_line__title {
    margin: 0;
}

.alert_line__message {
    margin-top: 3px;
}

// .alert_line--title-small {
//     .alert_line__title {
//         font-size: $default-font-size;
//     }
// }
