@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.alert {
    border: 2px solid $neutral-grey3;
    padding: 16px 20px 16px 60px;
    min-height: 30px;
    background-color: $primary-white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: 4s ease-out 0s 1 slideInFromLeft forwards;
    top: 80px;
    min-width: 210px;
    z-index: 100;
}

.alert__icon:before {
    position: absolute;
    left: 20px;
    top: 16px;
    width: 20px;
    height: 20px;
    font-size: 22px; 
}

.alert__title { 
    margin: 0;
}

.alert__message { 
    margin-top: 2px;
}

.alert--info {
    border-color: $primary-darkblue;
}

.alert--error {
    border-color: $primary-red;

    .alert__icon:before { 
        color: $primary-red;
        top: 20px;
        font-size: 20px;
    }
}

.alert--warning {
    border-color: $supplement-orange;
    .alert__icon:before {
        color: $supplement-orange;
    }
}

.alert--success {
    border-color: $supplement-lightgreen;
    .alert__icon:before {
        //@include icon($icon-Check-Mark);
        color: $supplement-lightgreen;
    }
}

@for $i from 1 through 10 {
    .alert:nth-child(#{$i}) {
        animation-delay: (($i - 1) * 3.5s);
    }
}

.alert--inline {
    position: relative;
    display: block;
    margin: 0 auto;
    animation: none;
    opacity: 1;
    transform: none;
    left: auto;
    top: auto;
    max-width: 400px;
    z-index: 90;
} 