// ********************
// BUTTONS
// 
// <div class="form-field form-field--buttons">
//     <input type="submit" value="Wijzigingen opslaan" class="button button--primary">
//     <a href="" class="button button--secondary">Annuleer</a>
// </div>
// 
// Multiple buttons next to eachother (Submit and cancel, for example) 
// should be grouped in a container with a class of .form-field--buttons .
// ********************
    
[type="submit"] {
    margin: 10px 0;

    &:hover {
        color: $primary-black;
    }

    &[disabled] {
        color: $neutral-grey3;
    }

    &.invalid {
        border: 1px solid $primary-red;
        box-shadow: inset 0 0 0 1px $primary-red;
    }

    &.invalid + .error-text {
        display: block;
    }
}

.button,
[type="submit"] {
    border: 1px solid transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: content-box;
    color: $primary-white;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    max-width: 620px;
    min-width: 70px;
    padding: 12px 15px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    display: inline-block;
    vertical-align: middle;

    &:hover,
    &:focus {
        text-decoration: none;
        box-shadow: inset 0 0 0 1px $primary-darkblue;
    }

    &[disabled] {
        background-color: $neutral-grey2;
        color: $neutral-grey3;
    }

    .form-field--buttons > & {
        margin: 0;
    }
}

.button__icon {
    display: inline-block;

    &:not(:only-child) {
        margin-right: 10px;
        position: relative;
        top: 1px;
    }
}

.button__label {
    display: inline-block;

    &:not(:only-child) {
        position: relative;
        top: -3px;
    }
}

// ********************
// PRIMARY BUTTON STYLING
// ********************
    
.button--primary,
[type="submit"] {
    background-color: $primary-darkblue;
    color: $primary-white;

    &:hover,
    &:focus {
        background-color: $button-hover-background;
        border-color: $button-hover-background;
        color: $primary-white;
    }
}

// ********************
// SECONDARY BUTTON STYLING
// ********************
    
.button--secondary {
    border: 1px solid $primary-darkblue;
    background-color: $primary-white;
    color: $primary-darkblue;
    
    &:hover,
    &:focus {
        color: $primary-darkblue;
    }
}

// ********************
// TERTIARY BUTTON STYLING
// ********************
    
.button--tertiary {
    border: 1px solid $neutral-grey2;
    background-color: $neutral-grey2;
    color: $primary-black;
    
    &:hover,
    &:focus {
        color: $primary-black;
        border-color: $neutral-grey3;
        background-color: $neutral-grey3;
        box-shadow: none;
    }

    &:focus {
        // box-shadow: 0 0 0 0.3125em orange;
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

// ********************
// OTHER BUTTON VARIANTS
// ********************
    
// button with only an icon in it, no text
.button--icon {
    min-width: inherit;

    &:hover,
    &:focus {
        box-shadow: none;
    }
}

// button that serves as a read more 
.button--readmore {
    display: inline-block; 
    margin-top: 30px;
    margin-bottom: 20px;
}


.button--previous {
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: rgb(236, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 12px 15px;
    transition: color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    margin-left: 15px;
    
    .arrow {
        position: absolute;
        top: 0px;
        left: -37px;
        width: 0px;
        height: 0px;
        border-width: 22px 15px 22px 22px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0) rgb(236, 0, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        border-image: initial;
        border-right: 15px solid rgb(236, 0, 0);
        transition: border-color 0s ease 0s, all 0.1s ease-in-out 0s;
    }
}

.button--next {
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: rgb(236, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 12px 15px;
    transition: color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    margin-right: 15px;

    .arrow {
        position: absolute;
        top: 0px;
        right: -37px;
        width: 0px;
        height: 0px;
        border-width: 22px 22px 22px 15px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(236, 0, 0);
        border-image: initial;
        border-left: 15px solid rgb(236, 0, 0);
        transition: border-color 0s ease 0s, all 0.1s ease-in-out 0s;
    }
}