// ********************
// BUTTONS
// 
// <div class="form-field form-field--buttons">
//     <input type="submit" value="Wijzigingen opslaan" class="button button--primary">
//     <a href="" class="button button--secondary">Annuleer</a>
// </div>
// 
// Multiple buttons next to eachother (Submit and cancel, for example) 
// should be grouped in a container with a class of .form-field--buttons .
// ********************
    
.button {
    box-sizing: content-box;
    color: $primary-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    margin: 0;
    max-width: 620px;
    min-width: 70px;
    margin-top: 10px;
    padding: 12px 15px;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: 1px solid $primary-darkblue;
    }

    &[disabled] {
        background-color: $neutral-grey2;
        color: $neutral-grey3;
    }
}

.button--primary,
[type="submit"] {
    border-color: transparent;
    background-color: $primary-darkblue;

    &:hover,
    &:focus {
        color: $primary-white;
    }
}

.button--secondary {
    border: 1px solid $primary-darkblue;
    background-color: $primary-white;
    color: $primary-darkblue;
    
    &:hover,
    &:focus {
        color: $primary-darkblue;
    }
}

.button__icon {
    &:not(:only-child) {
        margin-right: 10px;
    }
}

.button__label {
    &:not(:only-child) {
        position: relative;
        top: 2px;
    }
}
