// ********************
// BUTTONS
// 
// <div class="form-field form-field--buttons">
//     <input type="submit" value="Wijzigingen opslaan" class="button button--primary">
//     <a href="" class="button button--secondary">Annuleer</a>
// </div>
// 
// Multiple buttons next to eachother (Submit and cancel, for example) 
// should be grouped in a container with a class of .form-field--buttons .
// ********************
    
[type="submit"] {
    margin: .625rem 0;
}

.button,
[type="submit"]:not(.text-link),
[type="cancel"] {
    border: .063rem solid transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: .9rem;
    box-sizing: content-box;
    color: $primary-white;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    max-width: 38.75rem;
    min-width: 4.375rem;
    padding: .5rem .62rem;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    user-select: none;

    transition: all .2s ease-in-out;

    @media all and (min-width: $tablets) {
        font-size: inherit;
        padding: .75rem .938rem;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &[disabled],
    &[disabled]:hover {
        background-color: $neutral-grey2;
        color: $neutral-grey3;
        border: .063rem solid $neutral-grey2;
        cursor: default;
    }

    @media all and (min-width: $tablets) {
        .form-field--buttons > & {
            margin: 0;
        }
    }
}

    .button__icon {
        display: inline-block;
        scale: .9;

        @media all and (min-width: $tablets) {
            scale: 1;
        }

        &:not(:only-child) {
            margin-right: .625rem;
            position: relative;
            top: .063rem;
        }
    }

    .button__label {
        display: inline-block;

        &:not(:only-child) {
            position: relative;
            top: -0.188rem;
        }
    }

// ********************
// PRIMARY BUTTON STYLING
// ********************
    
.button--primary,
[type="submit"]:not(.text-link) {
    border: .063rem solid $primary-darkblue;
    background-color: $primary-darkblue;
    color: $primary-white;

    &:hover,
    &:focus,
    &:active {
        background-color: $primary-darkerblue;
        border-color: $primary-darkerblue;
        color: $primary-white;
    }
}

// ********************
// SECONDARY BUTTON STYLING
// ********************
    
.button--secondary {
    border: .063rem solid $primary-darkblue;
    background-color: $primary-white;
    color: $primary-darkblue;
    
    &:hover,
    &:focus,
    &:active {
        background-color: $primary-darkerblue;
        color: $primary-white;
        border-color: $primary-darkerblue;
    }
}

// ********************
// TERTIARY BUTTON STYLING
// ********************
    
.button--tertiary {
    border: .063rem solid $neutral-grey2;
    background-color: $neutral-grey2;
    color: $primary-black;
    
    &:hover,
    &:focus,
    &:active {
        color: $primary-black;
        border-color: $neutral-grey3;
        background-color: $neutral-grey3;
    }

    &:focus,
    &:active {
        outline: .063rem dotted #212121;
        outline: .313rem auto -webkit-focus-ring-color;
    }
}

// ********************
// OTHER BUTTON VARIANTS
// ********************

//button that looks like a text-link
.text-link {
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    font-size: inherit;
    margin: .625rem 0;
    color: $neutral-grey3;
    cursor: not-allowed;
    
    svg {
        vertical-align: text-top;
    }

}

button.text-link {
    color: $link-content;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $link-content;
    }

    &--small {
        font-size: .9rem;
        font-weight: normal;
    }
}

// button with only an icon in it, no text
.button--icon {
    min-width: inherit;
}

// button that serves as a read more 
.button--readmore {
    display: inline-block; 

    @media screen and (min-width: $tablets) {
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
}

.button--success,
.button--danger,
.button--warning {
    svg {
        color: currentColor;
        vertical-align: text-top;
    }
}

.button--success {
    border: .063rem solid $support-valid;
    background-color: $support-valid;
    color: $primary-white;

    
    &.button--secondary {
        background-color: $primary-white;
        color: $support-valid;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: darken($support-valid, 10);
        border-color: darken($support-valid, 10);
        color: $primary-white;
    }
}

.button--danger {
    border: .063rem solid $support-invalid;
    background-color: $support-invalid;
    color: $primary-white;

    &.button--secondary {
        background-color: $primary-white;
        color: $support-invalid;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: darken($support-invalid, 10);
        border-color: darken($support-invalid, 10);
        color: $primary-white;
    }
}


.button--warning {
    border: .063rem solid $supplement-orange;
    background-color: $supplement-orange;
    color: $primary-black;

    &.button--secondary {
        background-color: $primary-white;
        color: $supplement-orange;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: darken($supplement-orange, 10);
        border-color: darken($supplement-orange, 10);
        color: $primary-white;
    }

}


.button--previous {
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    color: $primary-darkblue;
    align-items: center;
    line-height: 1.25rem;
    position: relative;
    z-index: 0;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: .75rem .938rem;

    .button__icon:not(:only-child) {
        margin-right: 0;
        top: 0;
    }

    &:hover {
        border-color: transparent;
        color: $primary-darkerblue;
        text-decoration: underline;
    }
}

.button--next {
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.25rem;
    background-color: rgb(236, 0, 0);
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
    text-decoration: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: .75rem .938rem;
    transition: color .1s ease-in-out 0s, background-color .1s ease-in-out 0s;
    margin-right: 1.563rem;
    overflow: visible;

    .arrow {
        position: absolute;
        top: 0;
        right: -2.313rem;
        width: 0;
        height: 0;
        border-width: 1.375rem 1.375rem 1.375rem .938rem;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgb(236, 0, 0);
        border-image: initial;
        border-left: .938rem solid rgb(236, 0, 0);
        transition: border-color 0s ease 0s, all .1s ease-in-out 0s;

        &::after {
            content: "";
            position: absolute;
            top: -1.625rem;
            right: -1.875rem;
            width: 0;
            height: 0;
            z-index: -1;
            opacity: 0;
            border-width: 1.625rem 1.625rem 1.625rem 1.063rem;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) -webkit-focus-ring-color;
            border-image: initial;
            border-left: 1.063rem solid -webkit-focus-ring-color;
        }
    }

    &:hover {
        background-color: rgb(185, 0, 0);
    }

    &:focus {
        outline: .063rem dotted #212121;
        outline: .188rem auto -webkit-focus-ring-color;

        .arrow::after {
            opacity: 1;
        }
    }

    &:not(:disabled):hover .arrow {
        border-left-color: rgb(185, 0, 0);
    }
    
    &:after {
        content: "";
        display: block;
        min-height: inherit;
        font-size: 0;
    }
}