// ********************
// BUTTONS
// 
// <div class="form-field form-field--buttons">
//     <input type="submit" value="Wijzigingen opslaan" class="button button--primary">
//     <a href="" class="button button--secondary">Annuleer</a>
// </div>
// 
// Multiple buttons next to eachother (Submit and cancel, for example) 
// should be grouped in a container with a class of .form-field--buttons .
// ********************
    
[type="submit"] {
    margin: 10px 0;

    &:hover {
        color: $primary-black;
    }

    &[disabled] {
        color: $neutral-grey3;
    }

    &.invalid {
        border: 1px solid $primary-red;
        box-shadow: inset 0 0 0 1px $primary-red;
    }

    &.invalid + .error-text {
        display: block;
    }
}

.button,
[type="submit"] {
    border: 1px solid transparent;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: content-box;
    color: $primary-white;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    margin: 0;
    max-width: 620px;
    min-width: 70px;
    padding: 12px 15px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;

    display: flex;

    &:hover,
    &:focus {
        text-decoration: none;
        box-shadow: inset 0 0 0 1px $primary-darkblue;
    }

    &[disabled] {
        background-color: $neutral-grey2;
        color: $neutral-grey3;
    }
}

.button--icon {
    min-width: inherit;
}

.button--primary,
[type="submit"] {
    background-color: $primary-darkblue;
    color: $primary-white;

    &:hover,
    &:focus {
        border-color: $primary-darkblue;
        color: $primary-white;
    }
}

.button--secondary {
    border: 1px solid $primary-darkblue;
    background-color: $primary-white;
    color: $primary-darkblue;
    
    &:hover,
    &:focus {
        color: $primary-darkblue;
    }
}

.button__icon {
    &:not(:only-child) {
        margin-right: 10px;
    }
}

.button__label {
    &:not(:only-child) {
        position: relative;
        top: 2px;
    }
}
