//lists

.list--tools {
    margin-top: 1rem;
    li {
        margin-bottom: .5rem;
        text-align: right;
        
        > * {
            color: $primary-darkblue;
            text-decoration: underline;
            font-weight: normal;
            cursor: pointer;
            padding-right: 30px;
            position: relative;
            text-align: right;

            &:hover {
                text-decoration: none;
            }
        }

        svg {
            position: absolute;
            top: 0;
            right: 0;
            fill: currentColor;
        }

        .print__icon {
            transform: scale(.7);
            right: -2px
            ;
        }

        .text-link {
            padding: 0 30px 0 0;
            margin: 0;
            text-align: right;
        }
    }
}

.tool--email {
    color: $primary-darkblue;
    text-align: center;
    > * {
        display: block;
    }

    .client-header details summary & {
        svg {
            color: currentColor;
        }

    }
}