.container-button--feedback {
  z-index: 100;
  right: 0;
  top: 50%;
  margin-top: -58.5px;
  width: 40px;
  height: 137px;
  position: fixed;
  .button {
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: 50% 130%;
  }

  .modal-active & {
    pointer-events: none;
    opacity: 0;
  }

  @media screen and (max-width: $tablets) {
    top: 85%;
  }
}


body.isInIframe,
.container-modal--vue {
  background-color: #fff;

  main {
    padding-bottom: 0;
  }
  .site-container {
    min-height: auto;
  }


  .content-container {
    background-color: white;
    padding: 15px;
    margin: 0 -15px;
    position: relative;
    
    h2 {
      margin: 0 0 15px;
    }
    hr {
      margin: 15px -15px;
  
    }
  
    label {
      small {
        font-weight: 400;
      }
    }
  
  // FEEDBACK
  
  // INVITE

  &.form-invite-container {
    input[type="hidden"]+label {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
    }
    
    .button--previous {
      min-width: 0;
      display: inline;

      &:hover {
        background-color: transparent;
        border-color: transparent;
      }
    }
    .button__icon {
      
      margin-right: .3rem;
      vertical-align: text-top;
    }

    .content-wrapper {
      position: relative;
    }
    .link-manage {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

    @media screen and (max-width: $tablets) {
      margin: -15px;
    }
  }
  
  .button--close {
    width: 20px;
    height: 20px;
    min-width: auto;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: $primary-black;
  }

}

.modal-active {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow */

}
.no-js {
  .modal,
  .modal-inner {
    opacity: 0;
    display: none;  
  }
}

.modal {
  display: flex;
  position: fixed;
  pointer-events: none;
  z-index: 3000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  align-items: flex-start;
  justify-content: center;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  opacity: 0;
  transition: opacity 0.3s;

  background-color: $overlay-black70;

  &.active {
    //display: flex;
    pointer-events: all;
    opacity: 1;
    right: 0;
    bottom: 0;
  }

}


.modal-inner {
  position: absolute;
  display: block;
  opacity: 0;
  z-index: 300;
  //margin: 100px auto 20px auto;
  top: 25%;
  left: 50%;
  transform: translatex(-50%);
  width: 95%;
  max-width: 700px;
  max-height: 100vh;
  transition: all .3s ease-in-out;

  background-color: #fff;

  > *:last-child {
    margin-bottom: 0;
  }

  iframe {
    border: 0;
    width: 100%;
    transition: height .3s ease-in-out;

  }

  .active & {
    opacity: 1;
  }
  
}

.modal-close--bg {
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .container-modal--vue &{
    background-color: $overlay-black70;
  }
}

