.details-client--approve {
    p{
        .check__icon,
        .close__icon {
            display: inline-block;
            margin-right: .5rem;
        }
        .check__icon {
            color: $support-valid;
        }
        .close__icon {
            color: $support-invalid;
        }
    }
}

.prompt-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border: 1px solid $neutral-grey3;
    background-color: $primary-white;

    .prompt-approve,
    .prompt-disapprove {
        display: none;
    }

    &.show-prompt-approve {
        display: block;

        .prompt-approve {
            display: block;
            
        }
        .prompt-disapprove {
            display: none;
        }
    }

    &.show-prompt-disapprove {
        display: block;

        .prompt-approve {
            display: none;
            
        }
        .prompt-disapprove {
            display: block;
        }
    }

    form {
        text-align: center;
        > * {
            margin: 1rem;
        }
    }
}
