.navigation-container {
    position :relative;
    list-style: none;
    padding: 0;
    height: 2.75rem;
    margin: 0 auto;
    max-width: 60rem;
    display: flex; 
    
    font-size: 1.125rem;
    font-weight: 500;
    
    a {
        display: inline-block;
        color: $primary-black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    li a {
        padding: .75rem .938rem;
    }

    > li {
        display: flex;
        align-items: center;
        
        &:hover,
        &:active {
            ul {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }

    > li:first-child > a {
        padding-left: 0;
    }

    > li:last-child > a,
    > li:last-child > button {
        padding-right: 0;
    }

    li ul {
        position: absolute;
        background-color: $neutral-grey1;
        
        font-size: 1rem;
        
        box-shadow: (((60rem - 87.5rem) / 2) + .938rem) 0 0 0 $neutral-grey1, (((87.5rem - 60rem) / 2) - .938rem) 0 0 0 $neutral-grey1;
        
        top: 100%;
        left: -.938rem;
        right: -.938rem;
        
        list-style-type: none;
        
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        
        transition: visibility 0s linear .2s;
        
        li {
            margin-top: -.5rem;
        }
    }

    li.admin-settings ul {
        text-align: right;
    }

    .admin-settings {
        margin-left: auto;
    }
}

.navigation__open {
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0;
    padding: .75rem .938rem;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    color: $primary-darkblue;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: $primary-red;

        + ul {
            display: block;
        }
    }

    &:focus-within {
        display: block;
    }
}