.tag-list {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.tag-list__item {
    display: inline-block;
}

.button--tag__hidden {
    display: none;
}

.detail-wrapper--highlighted {
    .dot {
        background-color: $primary-darkblue;
    }
}