.tag-list {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.tag-list__item {
    display: inline-block;
}

.button--tag__hidden {
    display: none;
}

.detail-wrapper--highlighted {
    .dot {
        background-color: $primary-darkblue;
    }
}

.button--tag {
    background-color: $neutral-grey4;
    align-items: center;

    span {
        pointer-events: none;
    }

    &:hover,
    &:focus {
        border-color: $neutral-grey4;
        color: $primary-black;
        background-color: $primary-white;
    }
}

.button--tag--selected {
    background-color: $primary-red;

    .button--tag__hidden {
        display: block;
    }

    &:hover,
    &:focus {
        border-color: $primary-red;
        color: $primary-black;
        background-color: $primary-white;
    }
}