.section--client{

    .section-details-client {
        margin-bottom: 3.75rem;

        .downloads {
            display: block;
        }

        &--vertical{
            .downloads {
                max-width: 600px;
            }
        }
    }
    .details-client {

        header {
            >*:not(:first-child){
                display: inline-block;
                margin-left: 1rem;
            }
        }
        h2 {
            display: inline-block;
            small {
                font-weight: normal;
            }
        }

        ul {
            list-style: none;
            margin-bottom: 1rem;
            li {
                margin-bottom: .625rem;
            };
        }

        dl {
            margin-top: 0;
            div {
                display: flex;
                padding: 0 .938rem .475rem;
                border-left: 1px solid $neutral-grey1;
                border-right: 1px solid $neutral-grey1;
                border-bottom: 1px solid $neutral-grey1;
                margin-bottom: 0;
    
                &:nth-of-type(odd){
                    background-color: $neutral-grey1;
                }

                dt, dd {
                    flex: 1;
                }
                dt {
                    font-weight: bold;
                    //flex-basis: 35%;
                }
                dd {
                    //flex-basis: 65%;
                }
            }

            + .h3 {
                margin-top: 0;
            }
        }

        &--status{

            svg {
                vertical-align: text-top;
            }

            .status-container,
            .status-history-container {
                z-index: 5;

                .icon-circle {
                    margin-right: 3px;
                }
                .status {
                    vertical-align: text-top;
                    font-weight: bold;
                }
                .facts {
                    @include clearfix;

                    p {
                        font-style: italic;
                        font-size: smaller;
                        margin: .25rem 0;
                    }
                }
                small:not(.label) {
                    color: $neutral-grey4;
                    
                }


                &.form-field-history {
                    margin: 0;
                    position: relative;

                    
                }
            }
                .status--wrapper {
                    border: 2px solid $neutral-grey3;
                    background-color: $neutral-grey1;
                    padding: .5rem;

                    .h3 {
                        font-weight: bold;
                    }
                }
        }


        &--basic{
            dl {
                div {
                    border: 0;
                    background-color: transparent;
                    padding-left: 0;
                    &:nth-of-type(odd){
                        background-color: transparent;
                    }
                }
            }
        }
    
        &--appendix {
            .downloads {
                li {
                    display: flex;
                    justify-content: space-between;

                    >div {
                        
                        display: flex;
                        text-align: right;

                        &:first-of-type {
                            width: 90%;
                            text-align: left;
                            a {
                                width: 50%;
                                padding-right: 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            span{
                                width: 20%;
                                &:last-child{
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--address {
            dl {
                div {
                    border: 0;
                    padding-left: 0;
                    &:nth-of-type(odd){
                        background-color: transparent;
                    }
                }
            }
        }

        .sub-section--readonly {
    
            dl {
                div {
                    padding: 0 .938rem;
                    dt, dd {
                        padding: .25rem 0;
                        
                    }
                    dt {
                        flex: 0 1 25%;
                        font-weight: 500;
                    }
                }
            }
        }
        
    }
    .section--forms {

        .tab-container {
            border-bottom: 1px solid $neutral-grey1;

            .button--tertiary {
                background-color: transparent;
                border-color: $neutral-grey1;


                &.selected,
                &:hover{
                    background-color: $neutral-grey1;
                }
            }

            + ul{
                margin-top: 0;
            }

            +.details-client--basic {
                
            }
        }

        // h2 {
        //     display: inline;
        // }

        ul {
            list-style: none;
            margin-top: 1rem;
            padding-left: 0;



            li {
                position: relative;
                background-color: $neutral-grey1;
                padding: 1rem 1rem 1rem 3.875rem;
                margin-bottom: .25rem;
                @include clearfix;

                &:not(:last-child):before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    left: 1.75rem;
                    top: 1.25rem;
                    bottom: -1.5rem;
                    width: 2px;
                    margin-left: -1px;
                    background-color: #767676;
                    pointer-events: none;
                }

                .strong {
                    margin-bottom: 1rem;
                }

                .dot {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-.75rem);
                    z-index: 2;
                }

                .form-link {
                    float: right;
                    margin-left: 1rem;
                }

                [role="button"]{
                    text-decoration: none;
                }

                .form-link--statuscontainer {
                    display: inline;
                }
                .form-link--added {
                    display: inline-block;
                    margin-right: 30px;
                }

            }
        }
    }
    .client-header,
    .form-field-history,
    .details-client--address{
        details {
            margin: .25rem 0 0;
            position: relative;
            z-index: 10;

            .icon-details--open {
                display: none;
            }
            .icon-details--closed {
                display: inline;
            }
    
            &[open]{
                .icon-details--closed {
                    display: none;
                }
                .icon-details--open {
                    display: inline;
                }
            }
            > summary {
                list-style: none;
                small {
                    font-size: .8rem;
                }
    
                &::-webkit-details-marker {
                    display: none;
                }
            }
            >.content {
                margin: 3px 0 20px;
                padding: 8px 10px 10px;
                border: 1px solid $neutral-grey4;
                *:last-child {
                    margin-bottom: 0;
                }

                .button--close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .475rem;
                    min-width: 0;

                    .close__icon {
                        color: $primary-black;
                    }
                }
            }

            summary{
                outline: 0;
                color: $link-content;
                text-decoration: underline;
                font-weight: bold;
                cursor: pointer;

                svg {
                    vertical-align: baseline;
                    margin-left: .5rem;
                    color: $primary-black;
                }
            }

            &[open]{
                .content {
                    position: absolute;
                    top: 24px;
                    left: -10px;
                    width: calc(100% + 20px);
                    background-color: $primary-white;
                    border-color: $neutral-grey2;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
                    padding: 1.5rem 0 0 0;

                    .u-scroll-wrapper {
                        max-height: 15rem;
                        overflow: scroll;
                        
                    }
                }
            }

            ul {
                padding: 0;
                li {
                    padding: .475rem;
                    margin: 0;
                    border-bottom: 1px solid $neutral-grey2;
                }
            }
        }
    }

    .client-header {
        padding: .5rem 0;
        margin-bottom: .5rem;
        border-bottom: 2px solid $neutral-grey2;
        border-top: 2px solid $neutral-grey2;

        h1 {
            line-height: 45px;
        }

        > *:last-child {
            text-align: right;
        }

        summary {
            margin-left: 1rem;
        }

        details {
            float: right;
            margin-top: 0.9rem;
            &[open]{
                .content {
                    width: 300px;
                    max-width: 90vw;
                    left: auto;
                    right: 0;
                    text-align: left;
                }
            }
            
        }
    }
    @media all and (min-width: $tablets) {
        .section-details-client:not(.section-details-client--vertical){
            display: flex;
            .details-client{
                flex: 1;

            }
        }
        
    }
}

.section--mijn-clienten,
.status-history-container {
    .tab-list-container {
        .tab-list {
            margin-bottom: -2px;
        }
        .list-label {
            span {
                font-weight: bold;
                padding: .75rem .938rem .5rem 2rem;
                vertical-align: middle;
            }
        }
        li {
            display: inline;
        }
        .button--tertiary {
            background-color: $neutral-grey1;
            border: 2px solid $neutral-grey1;
            border-bottom: 2px solid $neutral-grey2;
            font-weight: normal;

            &:hover{
                background-color: $primary-white;
                text-shadow: 0 0 .65px #000, 0 0 .65px #000;
            }
        }
        .tab {
            margin-right: 0.25rem;
            &.selected {
                .button--tertiary{
                    background-color: $primary-white;
                    border-bottom: 2px solid $primary-white;
                    text-shadow: 0 0 .65px #000, 0 0 .65px #000;
                }                
            }
        }
    }

    .label {
        display: inline-block;
        padding: 5px;
        margin: -5px;
        min-width: 125px;
        text-align: center;
        font-size: .9rem;
        &--status-approved {
            background-color: $supplement-darkgreen;
            color: $primary-white;
        }
        &--status-disapproved {
            background-color: $support-invalid;
            color: $primary-white;
        }
        &--status-pending {
            background-color: $supplement-orange;
            color: $primary-black;
        }
    }

    .client-inactive {
        
        .label {
            &--status-approved,
            &--status-disapproved,
            &--status-pending{
                background-color: $neutral-grey1;
            }
        }
    }
}

.icon-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: $primary-white;
    text-align: center;
    

    .icon { 
        color: $primary-white;
        vertical-align: initial !important;
        margin-top: 4px;
        transform: scale(0.75);
    }

    &--status-approved {
        background-color: $supplement-darkgreen;
    }
    &--status-disapproved {
        background-color: $support-invalid;
        .icon { 
            margin-top: 5px;
        }
    }
    &--status-pending {
        background-color: $supplement-orange;
    }
}

.client-inactive {
    color: $neutral-grey3;
    *:not(.show-active) {
        color: inherit;
    }
}

.case-number {

    label {
        display: inline-block;
        margin-right: .5rem;
    }
    input {
        width: 135px;
        margin-top: 0;
    }
    button {
        vertical-align: baseline !important;
    }
}