.section--client{

    .section-details-client {
        margin-bottom: 3.75rem;

        .downloads {
            display: block;
        }

        &--vertical{
            .downloads {
                max-width: 600px;
            }
        }
    }
    .details-client {

        header {
            >*:not(:first-child){
                display: inline-block;
                margin-left: 1rem;
            }
        }
        h2 {
            display: inline-block;
            small {
                font-weight: normal;
            }
        }

        ul {
            list-style: none;
            margin-bottom: 1rem;
            li {
                margin-bottom: .625rem;
            };
        }

        dl {
            margin-top: 0;
            div {
                display: flex;
                padding: .475rem .938rem;
                border-left: 1px solid $neutral-grey1;
                border-right: 1px solid $neutral-grey1;
                border-bottom: 1px solid $neutral-grey1;
                margin-bottom: 0;
    
                &:nth-of-type(odd){
                    background-color: $neutral-grey1;
                }

                dt, dd {
                    flex: 1;
                }
                dt {
                    font-weight: bold;
                }
            }
        }


        &--basic{
            dl {
                div {
                    border: 0;
                    background-color: transparent;
                    padding-left: 0;
                    &:nth-of-type(odd){
                        background-color: transparent;
                    }
                }
            }
        }
    
        &--appendix {
            .downloads {
                li {
                    display: flex;
                    justify-content: space-between;

                    >div {
                        flex: 1;
                        display: contents;

                        &:first-of-type {
                            a {
                                width: 50%;
                                padding-right: 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            span{
                                width: 20%;
                                &:last-child{
                                    width: 30%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section--forms {

        .tab-container {
            border-bottom: 1px solid $neutral-grey1;

            .button--tertiary {
                background-color: transparent;
                border-color: $neutral-grey1;


                &.selected,
                &:hover{
                    background-color: $neutral-grey1;
                }
            }

            + ul{
                margin-top: 0;
            }

            +.details-client--basic {
                
            }
        }

        // h2 {
        //     display: inline;
        // }

        ul {
            list-style: none;
            margin-top: 1rem;
            padding-left: 0;



            li {
                position: relative;
                background-color: $neutral-grey1;
                padding: 1rem 1rem 1rem 3.875rem;
                margin-bottom: .25rem;
                @include clearfix;

                &:not(:last-child):before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    left: 1.75rem;
                    top: 1.25rem;
                    bottom: -1.5rem;
                    width: 2px;
                    margin-left: -1px;
                    background-color: #767676;
                    pointer-events: none;
                }

                .strong {
                    margin-bottom: 1rem;
                }

                .dot {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-.75rem);
                    z-index: 2;
                }

                .form-link {
                    float: right;
                    margin-left: 1rem;
                }

                [role="button"]{
                    text-decoration: none;
                }

                .form-link--statuscontainer {
                    display: inline;
                }
                .form-link--added {
                    display: inline-block;
                    margin-right: 30px;
                }

            }
        }
    }

    @media all and (min-width: $tablets) {
        .section-details-client:not(.section-details-client--vertical){
            display: flex;
            .details-client{
                flex: 1;


            }
        }
        
    }
}