// ********************
// DOCUMENT LISTS FOR DOWNLOADING (and adding new)
// ********************

.downloads {
    // padding-bottom: calc(1.687rem * 4);
    margin: 0;
    padding-left: 0;

    @media all and (min-width: $tablets) {
        -ms-flex-line-pack: start;
        align-content: flex-start;
            display: -ms-grid;
            display: grid;
            grid-gap: 1.687rem;
            -ms-grid-columns: 1fr 1.687rem 1fr 1.687rem 1fr;
            grid-template-columns: repeat(3, 1fr);
            -ms-grid-columns: 1fr (1.687rem 1fr)[auto];
            grid-template-rows: auto;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
    }

    @media all and (min-width: $large) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.document {
    height: 100%; 
    position: relative;
    list-style-type: none;
    margin-bottom: 1.5rem;
    border-right: .125rem solid transparent;
    border-bottom: .125rem solid transparent;

    @media all and (min-width: $tablets) {
        margin-bottom: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        border-right: 0;
        border-bottom: 0;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: $primary-black;
        border-right: .125rem solid $primary-red;
        border-bottom: .125rem solid $primary-red;
        
        @media all and (min-width: $tablets) {
            border-right: 0;
            border-bottom: 0;
        }
    }
}

// fallbacks for IE11
@media all and (-ms-high-contrast:none) {
    .document {
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
        padding-bottom: 1.875rem;
    }

    @media all and (min-width: $tablets) and (max-width: $large) {
        .downloads {
            -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
        }

        .document:nth-child(3n + 1) {
            -ms-grid-column: 1;
        }

        .document:nth-child(3n + 2) {
            -ms-grid-column: 3;
        }

        .document:nth-child(3n + 3) {
            -ms-grid-column: 5;
        }

        .document:nth-child(n+4):nth-child(-n+6) {
            -ms-grid-row: 3;
        }

        .document:nth-child(n+7):nth-child(-n+9) {
            -ms-grid-row: 5;
        }

        .document:nth-child(n+10):nth-child(-n+12) {
            -ms-grid-row: 7;
        }

        .document:nth-child(n+13):nth-child(-n+15) {
            -ms-grid-row: 9;
        }

        .document:nth-child(n+16):nth-child(-n+18) {
            -ms-grid-row: 11;
        }

        .document:nth-child(n+19):nth-child(-n+21) {
            -ms-grid-row: 13;
        }

        .document:nth-child(n+22):nth-child(-n+24) {
            -ms-grid-row: 15;
        }
    }

    @media all and (min-width: $large) {
        .downloads {
            -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
        }

        .document {
            -ms-grid-column-span: 1;
            -ms-grid-row-span: 1;
            padding-bottom: 2rem;
        }

        .document:nth-child(5n + 1) {
            -ms-grid-column: 1;
        }

        .document:nth-child(5n + 2) {
            -ms-grid-column: 3;
        }

        .document:nth-child(5n + 3) {
            -ms-grid-column: 5;
        }

        .document:nth-child(5n + 4) {
            -ms-grid-column: 7;
        }

        .document:nth-child(5n + 5) {
            -ms-grid-column: 9;
        }

        .document:nth-child(n+6):nth-child(-n+10) {
            -ms-grid-row: 3;
        }

        .document:nth-child(n+11):nth-child(-n+15) {
            -ms-grid-row: 5;
        }

        .document:nth-child(n+16):nth-child(-n+20) {
            -ms-grid-row: 7;
        }

        .document:nth-child(n+21):nth-child(-n+25) {
            -ms-grid-row: 9;
        }

        .document:nth-child(n+26):nth-child(-n+30) {
            -ms-grid-row: 11;
        }

        .document:nth-child(n+31):nth-child(-n+35) {
            -ms-grid-row: 13;
        }

        .document:nth-child(n+36):nth-child(-n+40) {
            -ms-grid-row: 15;
        }
    }
}

.document__header {
    text-decoration: none;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-content: flex-start;
    text-align: left;

    @media screen and (min-width: $tablets) {
        flex: 1 1 6rem;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    + time {
        flex: 1 0 auto;
    }
}

.document__name {
    color: $primary-black;
    margin-bottom: 0;
    white-space: normal;
    font-size: .875rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .25rem;
    
    @media screen and (min-width: $tablets) {
        margin-top: 1rem; 
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow:ellipsis;

        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

[data-document-type]:before {
    content: attr(data-document-type) ' ';
    opacity: .5;
}

.document__icon {
    display: none;

    @media all and (min-width: $tablets) { 
        display: block;
        flex: 0 02.5rem;
    }
}

.document__icon--hover {
    display: none;
}

.document__info-wrapper {
    @media all and (min-width: $tablets) { 
        
        position: absolute;
        left: 100%;
        margin-left: 1rem;
        
        background-color: $primary-white;
        top: 0;
        z-index: 3;
        
        visibility: hidden;
        pointer-events: none;
        
        transition: all 0s linear .2s;
        
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: -1rem;
            top: -1rem;
            right: -1rem;
            bottom: -1rem;
            background-color: rgba($primary-white, 0);
        }
        

        &:hover,
        &:focus {
            visibility: visible;
        }
    }
}

.document__info {
    background-color: $neutral-grey1; 
    color: $primary-black; 
    text-align: left; 
    padding: 1rem;
    width: 100%;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: block;
        margin-bottom: .5rem;

        @media all and (min-width: $tablets) {
            margin-bottom: 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    } 

    p:last-child {
        margin-bottom: 0;
    }

    @media all and (min-width: $tablets) {
        width: 18.75rem;
        background-color: $primary-white;
        box-shadow: 0 0 .313rem .125rem $neutral-grey3;

        li {
            display: inline-block;
            margin-right: .313rem;
            margin-bottom: 0;
        }
    }

    @media all and (min-width: $tablets) {
        width: 31.25rem;
    }
}

.document__version,
.document__new {
    color: $primary-black;
    background-color: $neutral-grey1; 
    padding: .5rem .5rem 0rem .5rem;
    position: relative;
    display: block;
    height: 100%;

    @media all and (min-width: $tablets) {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem .5rem .5rem .5rem;
    }
    
    &,
    &:visited {
        border-right: .125rem solid transparent;
        border-bottom: .125rem solid transparent;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: $primary-black;
        
        @media all and (min-width: $tablets) {
            border-right: .125rem solid $primary-red;
            border-bottom: .125rem solid $primary-red;
        }

        .document__name {
            text-decoration: underline;
        }

        .document__icon--default {
            display: none;
        }

        @media all and (min-width: $tablets) {
            .document__icon--hover {
                display: flex;
            }
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.document:hover,
.document:focus {
    z-index: 1;

    .document__info-wrapper {
        pointer-events: auto;
        visibility: visible;
    }

    @media all and (min-width: $tablets) and (max-width: $large) {
        &:nth-child(3n + 3) {
            .document__info-wrapper {
                left: auto;
                right: 100%;
            }
        }
    }

    @media all and (min-width: $large) {
        &:nth-child(5n + 3),
        &:nth-child(5n + 4),
        &:nth-child(5n + 5) {
            .document__info-wrapper {
                left: auto;
                right: 100%;
            }
        }
    }
}

.document:focus-within {
    .document__info-wrapper {
        visibility: visible;
        pointer-events: auto;
    }

    @media all and (min-width: $tablets) and (max-width: $large) {
        &:nth-child(3n + 3) {
            .document__info-wrapper {
                left: auto;
                right: 100%;
            }
        }
    }

    @media all and (min-width: $large) {
        &:nth-child(5n + 3),
        &:nth-child(5n + 4),
        &:nth-child(5n + 5) {
            .document__info-wrapper {
                left: auto;
                right: 100%;
            }
        }
    }
}

.document--add {
    background: transparent;
}

    .document__new {
        justify-content: space-between;
        height: 100%;
    }

.document__change {
    margin-top: .5rem;
    margin-bottom: 0;
}
