.downloads {
    padding-bottom: calc(1.687rem * 4);
    margin: 0;
    padding-left: 0;

    @media all and (min-width: $desktop) {
        -ms-flex-line-pack: start;
        align-content: flex-start;
            display: -ms-grid;
            display: grid;
            grid-gap: 1.687rem;
            -ms-grid-columns: 1fr 1.687rem 1fr 1.687rem 1fr;
            grid-template-columns: repeat(3, 1fr);
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
    }

    @media all and (min-width: $large) {
        -ms-grid-columns: 1fr 1.687rem 1fr 1.687rem 1fr 1.687rem 1fr 1.687rem 1fr;
        grid-template-columns: repeat(5, 1fr);
    }
}

.document {
    height: 100%;
    position: relative;
    list-style-type: none;
    background-color: $neutral-grey1;
    margin-bottom: 1.5rem;

    @media all and (min-width: $desktop) {
        margin-bottom: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
}

.document__header {
    text-decoration: none;
    flex: 0 0 100px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-content: center;
}

.document__name {
    color: $primary-black;
    margin-bottom: 0;
    white-space:normal;

    @media screen and (min-width: $desktop) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        word-break: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

.document__icon {
    align-self: center;
    flex: 0 0 40px;
}

.document__version,
.document__new {
    color: $primary-black;
    background-color: $neutral-grey1; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    padding: 1.5rem 1rem 1rem 1rem;
    position: relative;
    
    &,
    &:visited {
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;
        text-decoration: none;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        border-right: 2px solid $primary-red;
        border-bottom: 2px solid $primary-red;
        color: $primary-black;

        .document__name {
            text-decoration: underline;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.document:focus-within + .document {
    z-index: 1;
}

.document__description {
    background: $primary-white;
    border-radius: 50%;
    color: $primary-darkblue;
    position: absolute;
    // bottom: 0;
    // transform: translate(50%,-50%);
    right: 0;
    content: ' ';
    width: 32px;
    height: 32px;
    top: 0;
    transform: translate(50%,-25%); 
    z-index: 5;

    &:hover::before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $primary-white;
        color: $primary-black;
        z-index: 6;
        border: 1px solid $primary-black;
        padding: 10px;
        // transform: translate(50%, 50%);
        display: inline-block;
    }
}

.document--add {
    background: transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

    .document__new {
        justify-content: space-between;
        height: 100%;
    }

.document__change {
    border-top: .5rem solid #fff;
    margin: 0;
}
