// ********************
// TRICK FOR SHOWING LOGIN FORM WHEN ANCHOR IS ACTIVE
// ********************

.section--login {
    display: none;
}

#login:target .section--login {
    display: block;
    border-bottom: 1px solid $neutral-grey1;
    margin-bottom: 2rem;
    padding-bottom: 2.5rem;
}
