.organisation-list {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 3rem;
    border-bottom: 0;

    th {
        text-align: left;
    }

    td:last-of-type {
        width: 2.5rem;
        text-align: center;
    }

    [type="password"], [type="text"], [type="email"], [type="number"], select, textarea {
        margin-top: 0;
    }
}

.organisation {
    width: 100%;

    .form-field {
        label { 
            display: none;
        }
    }

    &:last-of-type td {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .form-field--delete {
        vertical-align: middle;

        label {
            display: block;
        }
    }
}