// ********************
// THE TIMELINE SCREEN
// ********************

$toplevel-moment: 1.5rem;
$sublevel-moment: 1rem;
$timeline-width: .188rem;
$padding-left: 1.875rem;

.details-list-wrapper {
    position: relative;
    .modal-bg {
        display: none;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
    }
}

.details-list-wrapper--edit {

    .details-wrapper {
        pointer-events: none;
    }

    .details-wrapper--edit {
        pointer-events: auto;
    }

    .change-order {
      display: none;
    }
    .modal-bg {
        display: block;
    }
}

// ********************
// BASIC TIMELINE STYLING
// ********************
.dot {
    content: ' ';
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: $primary-white;
}

    .dot--large {
        background-color: $neutral-grey4;
        width: ($toplevel-moment/ 2);
        height: ($toplevel-moment / 2);
        left: calc(
            #{$padding-left / 4} +
            #{$timeline-width  / 4}
            );
        top: calc(#{2rem - ($toplevel-moment / 2)});

        @media all and (min-width: $tablets) {
            width: $toplevel-moment;
            height:  $toplevel-moment;
            line-height: $toplevel-moment;
            font-size: 1rem;
            left: calc(
                #{$padding-left / 2} +
                #{$timeline-width  / 2}
            );
            top: .9rem;
        }

    }
    
    .dot--small {
        background-color: $neutral-grey4;
        width: $sublevel-moment;
        height: $sublevel-moment;
        line-height: $sublevel-moment;
        font-size: .8rem;
        left: calc(
            #{$padding-left / 2} +
            #{$timeline-width  / 2} +
            #{$sublevel-moment  / 4}
        );
        top: calc(
            #{$toplevel-moment / 2} +
            #{$sublevel-moment  / 4}
        );
    }

    .dot--blue {
        background-color: $primary-darkblue;
    }
.dot-wrapper {
    position: relative;
}

.details-wrapper {
    position: relative;
    margin-bottom: .25rem;
    .dot {
        display: block;
        position: absolute;
        z-index: 2;
    }

    // timeline line
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 1.75rem;
        top: 1rem;
        bottom: -1.25rem;
        
        width: 2px;
        margin-left: -1px;
        
        background-color: $neutral-grey4;
        
    }
    &:last-child:before {
        bottom: 1.5rem;
    }
}

.details {
    border-top: 0;
    border-bottom: 0;
    display: block;
    padding-left: $padding-left;


    &:hover,
    &:focus,
    &:active {
        background-color: $neutral-grey1;
        position: relative;

    }

}

.details__header-opened {
    display: none;
}

.details[open] {
    background-color: $neutral-grey1; 

    .details__header {
        background-color: $neutral-grey1;
        .tag-list {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .details__header-closed {
        display: none;
    }

    .details__header-opened {
        display: inline-block;
    }
    
    .details__content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-height: 2000px;
        opacity: 1;
    }
}

.details__header {
    font-weight: bold;
    border: 0;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    list-style-image: none;

    &::-webkit-details-marker {
      display: none;
      color: transparent;
      font-size: 0;
    }
    
    &::marker {
        display: none;
        color: transparent;
        font-size: 0;
    }

    > p {
        margin: 0;
    }

    &:hover,
    &:active {
        background-color: $neutral-grey1;

        + .details__content {
            background-color: $neutral-grey1;
        }
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: $neutral-grey1;
        outline: none;
    }

    .tag-list {
        display: none;
        font-size: 0;
        
//        opacity: 0;
//        pointer-events: none;
        
        transition: all .4s;

        @media all and (min-width: $tablets) { 
            margin: 0;
            display: inline-block;
            position: absolute;
            right: .625rem;
            top: 1rem;
        }
    }
}

.details {
    input {
        margin-top: 0;
    }
}

.details-admin  {
    
    margin-bottom: 1rem;
    
    @media all and (min-width: $tablets) {
        text-align: right;
    }

    a {
        margin-bottom: .5rem;

        @media all and (min-width: $tablets) {
            margin-bottom: 0;
        }
    }
}

.change-order {
    margin-left: auto;
    text-align: right;
    float: right;

    .button {
        display: inline-block;
        color: $primary-darkblue;
        margin-right: .5rem;
        padding-top: 0;
        padding-bottom: 0;

        &:hover,
        &:active {
            color: $primary-red;
            box-shadow: none;
        }
    }
}

.details__header:hover,
.details__title:hover,
.details__toggle-icon:hover {
    cursor: pointer;
}

.details__title {
    display: inline;
    margin: 0;
    position: relative;
    font-size: 1rem;
    line-height: 1.15rem;
}

@media all and (max-width: $tablets) {
    .details__title {
        width: 75%;
        display: inline-block;
        vertical-align: top;
    }
    .details__toggle-icon { 
        width: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
    }
}

.details__title__link {
    color: $primary-black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.details__toggle-icon {
    display: inline-block;
    margin-left: .5rem;
}

.details__header,
.details__content {
    padding: 1rem;

    @media all and (min-width: $tablets) {
        padding: 1rem 1rem 1rem 2rem;
    }
}

.details__content {
    background-color: $neutral-grey1;

    max-height: 0;
    opacity: 0;
    
    padding: 0 1rem;
    transition: max-height .2s linear, opacity .2s linear .2s;
    
    @media all and (min-width: $tablets) {
        padding: 0 1rem 0 2rem;
    }
    
}


// ********************
// LOCAL TIMELINE EXCEPTIONS TO GENERAL STYLING
// ********************

.section--timeline {
    .downloads {
        padding-bottom: 0;
    }

    .document__version,
    .document__new {

        &,
        &:visited {
            background-color: $primary-white;
        }

    }

    .document:only-child,
    .document:last-of-type {
        margin-bottom: 0;
    }

    .document__change {
        border-top: .5rem solid transparent;
        margin: 0;
    }

    .document__info {
        background-color: $primary-white;
        border-bottom: 1px solid $neutral-grey3;
        border-left: 1px solid $neutral-grey3;
        border-right: 1px solid $neutral-grey3;

        @media all and (min-width: $tablets) {
            border: 0;
        }
    }
}

// ********************
// INLINE ALERT/ERROR MESSAGES
// ********************

.details-wrapper {
    .alert-container {
        position: absolute;
        top: -2.75rem;
        height: 2.75rem;
        display: block;
        z-index: 100;
        width: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }

    .alert {
        color: $primary-white;
        padding: .188rem .438rem;
        opacity: 0;
        transition: opacity .4s linear;
        height: 100%;
        position: absolute;
        top: 0;
        animation: none;
        padding-left: 1.875rem;

        .alert__icon {
            transform: translateX(-50%);
        }
    }

    .alert--saving,
    .alert--saved,
    .alert--error {
        opacity: 0;
        pointer-events: none;
    }

    &.moment--saving {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }
        .alert--saving {
            background-color: $primary-darkblue;
            opacity: 1;
            pointer-events: all;
            transition: opacity .4s linear;
        }
    }

    &.moment--saved {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }

        .alert--saved {
            background-color: $supplement-darkgreen;
            opacity: 1;
            transition: opacity .4s linear;
        }
    }

    &.moment--error {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }

        .alert--error {
            background-color: $primary-red;
            opacity: 1;
            pointer-events: all;
            transition: opacity .4s linear;
        }
    }
}

// ********************
// FUNCTIONALITY
// ********************

.details:hover + .new-moment__add {
    .dot {
        display: block;
        background-color: $primary-white;
        border: .125rem $neutral-grey4 solid;
    }
    .details__header-closed {
        color: $neutral-grey4;
        fill: currentColor;
    }
    .new-moment__line {
        background-color: $neutral-grey4;
    }

    .button {
        z-index: 5;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
    }
}

.details-wrapper {
    &:nth-child(2) {
        .change-order [data-handler="moment-up"] {
            display: none;
        }
    }
    &:last-child {
        .change-order [data-handler="moment-down"] {
            display: none;
        }
    }

    [data-handler="exit-new-moment"] {
        display: none;
    }
    [data-edit-mode] {
        display: none;
    }
}


.details-wrapper--edit {
    z-index: 1000;
    margin-bottom: 0;
    

    [data-edit-mode] {
        display: block;
    }

    [data-static-mode] {
        display: none;
    }

    .details__toggle-icon {
        display: none;
    }

    .new-moment__add {
        pointer-events: none;
        opacity: 0;
        height: 0;
    }

    .details__header {
        padding-bottom: 0;
    }

}

.details-wrapper--new-moment {
    margin: 1rem 0;

    fieldset {
        display: block;
    }
    [data-handler="exit-edit-moment"] {
        display: none;
    }
    [data-handler="exit-new-moment"] {
        display: inline-block;
    }
    .dot--large {
        background-color: $primary-darkblue;
    }
    .details__toggle-icon {
        display: none;
    }
    [data-handler="delete-moment"] {
        //display: none;
    }
    [data-handler="exit-new-moment"] {
        display: inline-block;
    }
}


.new-moment__add {
    display: flex;
    align-items: center;
    height:2.5rem;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    position: relative;
    outline: none;

    .dot {
        top: .5rem;
        display: none;

    }
    .details__header-closed {
        color: $primary-white;
        fill: currentColor;
        margin-top: .125rem;
    }
    .new-moment__line {
        background-color: $neutral-grey2;
        height: .125rem;
        width: 100%;
    }

    .button {
        visibility: hidden;
        opacity: 0;
        background-color: $primary-darkblue;
        width: 1.5rem;
        height: 1.5rem;
        min-width: auto;
        left: 1.063rem;
        top: 1.063rem;
        position: absolute;
        padding: 0;
        display: flex;
        align-items: center;
    }

    &:disabled {
        opacity: 0;
        pointer-events: none;
        .new-moment__line,
        .button {
            background-color: $neutral-grey3;
        }

        .button {
            visibility: visible;
            opacity: 1;
            z-index: 5;

            &:hover,
            &:active {
                box-shadow: none;
            }
        }
    }

    &:not(:disabled):hover,
    &:not(:disabled):active {
        .dot {
            display: block;
            background-color: $primary-darkblue;
            border: none;
        }
        .new-moment__line {
            background-color: $primary-darkblue;
        }
        .details__header-closed {
            color: $primary-white;
            fill: currentColor;
            margin-top: .25rem;
        }

        .button {
            z-index: 5;
            visibility: visible;
            opacity: 1;
            box-shadow: none;
        }
    }
}
.no-js [disabled="disabled"] {
    display: none;
}
.no-js {
    .details__title,
    .change-order,
    .details__toggle-icon {
        display: none;
    }
    .details-wrapper--new-moment {
        display: block !important;
    }
}

// seems to be obsolete
// .details-wrapper > fieldset {
//     border: 0;
//     padding: 0;
// }
// .details__editform {
//     border: 0;
//     padding: 0 2rem 2rem 2rem;
//     margin: 0 2rem;
//     background-color: $neutral-grey2;
// }
