// ********************
// THE TIMELINE SCREEN
// ********************

$toplevel-moment: 1.5rem;
$sublevel-moment: 1rem;
$timeline-width: 3px;
$padding-left: 30px;

.details-list-wrapper {
    position: relative;
}

.details-list-wrapper--edit {

    .details-wrapper {
        pointer-events: none;
    }

    .details-wrapper--edit {
        pointer-events: auto;
    }

    .change-order {
      display: none;
    }

    &::before {
        content: '';
        z-index: 999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
    }
}

// ********************
// BASIC TIMELINE STYLING
// ********************

.details-wrapper {
    position: relative;

    .dot {
        content: ' ';
        border-radius: 50%;
        position: absolute;
        z-index: 2;
    }

    .dot--large {
        background-color: $neutral-grey4;
        width: $toplevel-moment;
        height:  $toplevel-moment;
        left: calc(
            #{$padding-left / 2} +
            #{$timeline-width  / 2}
            );
        top: calc(#{$toplevel-moment / 2});
    }

    .dot--small {
        background-color: $supplement-lightblue;
        width: $sublevel-moment;
        height: $sublevel-moment;
        left: calc(
            #{$padding-left / 2} +
            #{$timeline-width  / 2} +
            #{$sublevel-moment  / 4}
        );
        top: calc(
            #{$toplevel-moment / 2} +
            #{$sublevel-moment  / 4}
            );
    }

    .dot--blue {
        background-color: $primary-darkblue;

    }

    // timeline line
    &:not(:last-of-type)::before {
        border-left: 3px solid $neutral-grey4;
        top: 1rem;
        position: absolute;
        content: ' ';
        height: 100%;
        width: 0px;
        left: calc(
            #{$padding-left} -
            #{$timeline-width}
            );
        z-index: 1;
    }
}


.details {
    border-top: 0;
    border-bottom: 0;
    display: block;
    position: relative;
    left: $padding-left;
    width: calc(100% - 30px);

    // blue line
    &:not(:last-of-type)::before {
        border-left: 3px solid $primary-darkblue;
        top: 1rem;
        position: absolute;
        content: ' ';
        height: 100%;
        width: 0px;
        left: calc(-1rem + 12px);
        z-index: 21;
    }

    .details__header::before {
        height: 100%;
        width: $padding-left;
        content: ' ';
        background-color: transparent;
        position: absolute;
        left: -#{$padding-left};
        top: 0;
        border-left: 0;
        z-index: 0;
    }

    &:hover,
    &:focus {
        background-color: $neutral-grey1;
        position: relative;

        .details__header::before {
            background-color: $neutral-grey1;
        }
    }

    &:focus {
        .details__header::before,
        .details__headerhoverblock {
            outline: 0;
        }
    }
}

.details__header-opened {
    display: none;
}

.details[open] {
    background-color: $neutral-grey1;
    // padding-bottom: 1rem;

    .details__header {
        background-color: $neutral-grey1;
    }

    .details__header-closed {
        display: none;
    }

    .details__header-opened {
        display: inline-block;
    }

    .details__headerhoverblock {
        height: 100%;
        width: $padding-left;
        content: ' ';
        background-color: $neutral-grey1;
        position: absolute;
        left: -30px;
        top: 0;
        border-left: 0;
    }

}

.details__header {
    font-weight: bold;
    display: block;
    border: 0;
    width: 100%;
    position: relative;
    -webkit-appearance:none;
    list-style-image: none;

    &::-webkit-details-marker {
        display: none;
    }

    > p {
        margin: 0;
    }

    &:hover {
        background-color: $neutral-grey1;

        + .details__content {
            background-color: $neutral-grey1;
        }
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: $neutral-grey1;
        outline: none;

        &::before {
            background-color: $neutral-grey1;
            height: 100%;
            width: $padding-left;
            content: ' ';
            position: absolute;
            left: -#{$padding-left};
            top: 0;
            border-left: 0;
            z-index: 1;
        }
    }

    .tag-list {
        margin: 0;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 12px;
    }
}

.details {
    input {
        margin-top: 0;
    }
}

.details-admin  {
    text-align: right;

    .button {
        display: inline-block;
    }
}

.change-order {
    margin-left: auto;
    text-align: right;
    float: right;

    .button {
        display: inline-block;
        color: $primary-darkblue;
        margin-right: .5rem;
        padding-top: 0;
        padding-bottom: 0;

        &:hover {
            color: $primary-red;
            box-shadow: none;
        }
    }
}

.details__header:hover,
.details__title:hover,
.details__toggle-icon:hover {
    cursor: pointer;
}

.details__title {
    display: inline;
    margin: 0;
    position: relative;
}

.details__toggle-icon {
    margin-left: .5rem;
}

.details__header,
.details__content {
    padding: 1rem 1rem 1rem 2rem;
}

.details__content {
    background-color: $neutral-grey1;
}


// ********************
// LOCAL TIMELINE EXCEPTIONS TO GENERAL STYLING
// ********************

.details__content p {
    max-width: 650px;
}

.section--timeline {
    .downloads {
        padding-bottom: 0;
    }

    .document__version,
    .document__new {
        &,
        &:visited {
            background-color: $primary-white;
        }
    }

    .document:only-child,
    .document:last-of-type {
        margin-bottom: 0;
    }

    .document__change {
        border-top: .5rem solid transparent;
        margin: 0;
    }
}

// ********************
// INLINE ALERT/ERROR MESSAGES
// ********************

.details-wrapper {
    .alert-container {
        position: absolute;
        top: -44px;
        height: 44px;
        display: block;
        z-index: 100;
        width: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }

    .alert {
        color: $primary-white;
        padding: 3px 7px;
        opacity: 0;
        transition: opacity .4s linear;
        height: 100%;
        position: absolute;
        top: 0;
        animation: none;
        padding-left: 30px;

        .alert__icon {
            transform: translateX(-50%);
        }
    }

    .alert--saving,
    .alert--saved,
    .alert--error {
        opacity: 0;
        pointer-events: none;
    }

    &.moment--saving {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }
        .alert--saving {
            background-color: $primary-darkblue;
            opacity: 1;
            pointer-events: all;
            transition: opacity .4s linear;
        }
    }

    &.moment--saved {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }

        .alert--saved {
            background-color: $supplement-darkgreen;
            opacity: 1;
            transition: opacity .4s linear;
        }
    }

    &.moment--error {
        .alert-container {
            opacity: 1;
            pointer-events: all;
        }

        .alert--error {
            background-color: $primary-red;
            opacity: 1;
            pointer-events: all;
            transition: opacity .4s linear;
        }
    }
}

// ********************
// FUNCTIONALITY
// ********************

.details:hover + .new-moment__add {
    .dot {
        display: block;
        background-color: $primary-white;
        border: 2px $neutral-grey4 solid;
    }
    .details__header-closed {
        color: $neutral-grey4;
        fill: currentColor;
    }
    .new-moment__line {
        background-color: $neutral-grey4;
    }

    .button {
        z-index: 5;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
    }
}

.details-wrapper {
    &:first-child {
        .change-order [data-handler="moment-up"] {
            display: none;
        }
    }
    &:last-child {
        .change-order [data-handler="moment-down"] {
            display: none;
        }
    }

    [data-handler="exit-new-moment"] {
        display: none;
    }
    [data-edit-mode] {
        display: none;
    }
}


.details-wrapper--edit {
    z-index: 1000;
    margin-bottom: 0;

    &:not(:last-of-type)::before {
        top: 0;
    }

    [data-edit-mode] {
        display: block;

        @supports (display: grid) { 
            display: grid;
        }
    }

    [data-static-mode] {
        display: none;
    }

    .details__toggle-icon {
        display: none;
    }

    .dot--large {
        transform: translateY(1rem);
    }

    + .details-wrapper {
        .dot {
            z-index: 5;
        }

        &:not(:last-of-type)::before {
            top: -1rem;
            height: calc(100% + 2rem);
        }
    }

    .new-moment__add {
        pointer-events: none;
        opacity: 0;
        height: 0;
    }

    .details__header {
        padding-bottom: 0;
    }
}

.details-wrapper--new-moment {
    margin: 1rem 0;

    fieldset {
        display: block;
    }
    [data-handler="exit-edit-moment"] {
        display: none;
    }
    [data-handler="exit-new-moment"] {
        display: block;
    }
    .dot--large {
        background-color: $primary-darkblue;
    }
    .details__toggle-icon {
        display: none;
    }
    [data-handler="delete-moment"] {
        //display: none;
    }
    [data-handler="exit-new-moment"] {
        display: block;
    }
}


.new-moment__add {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    position: relative;
    outline: none;

    .dot {
        top: 8px;
        display: none;

    }
    .details__header-closed {
        color: $primary-white;
        fill: currentColor;
        margin-top: 2px;
    }
    .new-moment__line {
        background-color: $neutral-grey2;
        height: 2px;
        width: 100%;
    }

    .button {
        visibility: hidden;
        opacity: 0;
        background-color: $primary-darkblue;
        width: 24px;
        height: 24px;
        min-width: auto;
        left: 17px;
        top: 17px;
        position: absolute;
        padding: 0;
        display: flex;
        align-items: center;
    }

    &:disabled {
        opacity: 0;
        pointer-events: none;
        .new-moment__line,
        .button {
            background-color: $neutral-grey3;
        }

        .button {
            visibility: visible;
            opacity: 1;
            z-index: 5;

            &:hover {
                box-shadow: none;
            }
        }
    }

    &:not(:disabled):hover {
        .dot {
            display: block;
            background-color: $primary-darkblue;
        border: none;
        }
        .new-moment__line {
            background-color: $primary-darkblue;
        }
        .details__header-closed {
            color: $primary-white;
            fill: currentColor;
            margin-top: 4px;
        }

        .button {
            z-index: 5;
            visibility: visible;
            opacity: 1;
            box-shadow: none;
        }
    }
}
.no-js [disabled="disabled"] {
    display: none;
}
.no-js {
    .details__title,
    .change-order,
    .details__toggle-icon {
        display: none;
    }
    .details-wrapper--new-moment {
        display: block !important;
    }
}

// seems to be obsolete
// .details-wrapper > fieldset {
//     border: 0;
//     padding: 0;
// }
// .details__editform {
//     border: 0;
//     padding: 0 2rem 2rem 2rem;
//     margin: 0 2rem;
//     background-color: $neutral-grey2;
// }
