{% extends 'base.html' %}

{% block feedback %}{% endblock %}
{% block header %}{% endblock %}

{% block title %} - Stuur ons je feedback{% endblock %}

{% block main %}
<div class="feedback-container">
    <button data-handler="modal-close" class="button button--close">
    <svg width="20" height="20" title="Sluit feedback venster">
        <use href="#close" xlink:href="#close" width="20" height="20"></use>
    </svg>
</button>
{% if request.GET.send %}
    <h2>Bedankt voor je feedback</h2>
    <hr class="" />
    <p>We hebben je feedback succesvol onvangen.</p>
    <div class="form-field form-field--buttons screen-only">
        <a data-handler="modal-close" href="#" class="button button--primary">Ga door waar ik mee bezig was</a>
    </div>

{% elif request.GET.error %}

    <h2>Er is iets mis gegaan</h2>
    <hr class="" />
    <p>Je feedback is helaas niet goed verstuurd.</p>
    <div class="form-field form-field--buttons screen-only">
        <a href="." class="button button--primary">Probeer het nog een keer</a>
        <a data-handler="modal-close" href="#" class="button button--secondary">Ga door waar ik mee bezig was</a>
    </div>

{% else %}

    <h2>Stuur ons je feedback</h2>
    <hr class="" />
    <p>Geef problemen, fouten of suggesties voor verbeteringen door.</p>
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="form-field--textinput form-field form-field--empty">
            <label for="id_name">Naam <small class="help-text">(Niet verplicht)</small>:</label>
            <input type="text" name="name" id="id_name">
        </div>

        <div class="form-field--textinput form-field form-field--empty">
            <label for="id_email">E-mailadres <small class="help-text">(Niet verplicht)</small>:</label>
            <div class="help-text">Zodat we contact op kunnen nemen als we vragen hebben</div>
            <input type="email" name="email" id="id_email">
        </div>
        <div class="form-field--textarea form-field form-field--empty">
            <label for="id_feedback">Wat wil je ons laten weten <small class="help-text">(Verplicht)</small>:</label> 
            <textarea name="feedback" cols="40" rows="4" required id="id_feedback"></textarea>
        </div>
            
        <div class="form-field form-field--buttons screen-only">
            <input type="submit" value="Verstuur" class="button button--primary">
            <a data-handler="modal-close" href="#" class="button button--secondary">Annuleren</a>
        </div>
    </form>

{% endif %}
</div>
{% endblock %}
