{% if not request.user.is_authenticated %}
    <section class="section section--login">
        <h2 class="section-login__title">Log in</h2>
        <form class="login-form" method="post" action="{% url 'inloggen' %}">
            {% csrf_token %}

            {% if request.GET.error == 'login' %}
                <p class="error-text">Er ging iets mis met inloggen.</p>
            {% endif %}

            <div class="form-field">
                <!-- {{ login_form.username.label_tag }} -->
                <label for="{{ login_form.username.id_for_label }}">Wat is uw gebruikersnaam?</label>
                <div class="help-text"><strong>Pas op!</strong> De gebruikersnaam is hoofdlettergevoelig.</div>
                {{ login_form.username }} 
                {% if login_form.username.errors %}
                    <ol class="error-text">
                    {% for error in login_form.username.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-field">
                <!-- {{ login_form.password.label_tag }} -->
                <label for="{{ login_form.password.id_for_label }}">Wat is uw wachtwoord?</label>
                {{ login_form.password }}
                {% if login_form.password.errors %}
                    <ol class="error-text">
                    {% for error in login_form.password.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-field form-field--buttons screen-only">
                <input type="submit" value="Log in" class="button button--primary">
                <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path }}{% endif %}">
                <input type="hidden" name="is_top_login_form">
            </div>
        </form>
    </section>
{% else %}
    <a href="{% url 'uitloggen' %}" class="button button--secondary">Uitloggen</a>
{% endif %}
