{% if not request.user.is_authenticated %}
    <section class="section section--login">
        <h2 class="section-login__title">Log in</h2>
        <form class="login-form" method="post" action="{% url 'inloggen' %}">
            {% csrf_token %}

            {% if request.GET.error == 'login' %}
                <p class="error-text">Er ging iets mis met inloggen.</p>
            {% endif %}

            <div class="form-field">
                <!-- {{ login_form.username.label_tag }} -->
                <label for="id_username">Wat is uw gebruikersnaam?</label>
                {{ login_form.username }}
                <p class="error-text">Het veld hierboven is verplicht</p>
            </div>

            <div class="form-field">
                <!-- {{ login_form.password.label_tag }} -->
                <label for="id_password">Wat is uw wachtwoord?</label>
                {{ login_form.password }}
                <p class="error-text">Het veld hierboven is verplicht</p>
            </div>

            <div class="form-field form-field--buttons">
                <input type="submit" value="Log in" class="button button--primary">
                <input type="hidden" name="next" value="{% if request.GET.next %}
                    {{ request.GET.next }}{% else %}{{ request.path }}{% endif %}">
                <input type="hidden" name="is_top_login_form">
            </div>
        </form>
    </section>
{% else %}
    <a href="{% url 'uitloggen' %}" class="button button--secondary">Uitloggen</a>
{% endif %}
