{% extends 'base.html' %}

{% block title %} - Nieuwe gebruiker toevoegen{% endblock %}

{% block main %}
    <h2>Nieuwe gebruiker toevoegen</h2>

    <form method="post" enctype="multipart/form-data" novalidate autocomplete="off">{% csrf_token %}
        <!-- {{ form.as_p }}
        {{ profile_form.as_p }} -->

        <div class="form-field">
            <label for="id_name">{{ form.username.label }}</label>
            <div class="help-text">
                {{ form.username.help_text }}
            </div>
            {{ form.username }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>
 
        <div class="form-field">
            <label for="id_description">{{ form.user_type.label }}</label>
            <div class="help-text">
                {{ form.user_type.help_text }}
            </div>
            {{ form.user_type }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        <div class="form-field">
            <label for="id_description">{{ form.password1.label }}</label>
            <div class="help-text">
                {{ form.password1.help_text }}
            </div>
            {{ form.password1 }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        <div class="form-field">
            <label for="id_description">{{ form.password2.label }}</label>
            {{ form.password2 }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        <!-- 
        <div class="form-field">
            <label for="id_document_type">{{ form.organization.label }}</label>
            <ul class="form-field__checkboxgroup">
                {% for checkbox in form.organization %}
                    <li>
                        {{ checkbox.label }}
                        <label for="{{ checkbox.id_for_label }}" class="form-field__checkboxlabel">
                            {{ checkbox.choice_label }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div> -->

        <input type="hidden" name="{{ form.user.id_for_label }}" id="{{ form.user.id_for_label }}">
        <input type="hidden" name="{{ form.id.id_for_label }}" id="{{ form.id.id_for_label }}">

        <div class="form-field form-field--buttons">
            <input type="submit" value="Opslaan" class="button button--primary">
            <a href="{% url 'user_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
