{% extends 'base.html' %}

{% block main %}
    <h2>Nieuwe gebruiker toevoegen</h2>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ profileformset.management_form }}
        
        {{ form.moment_id }}
        <div class="form-field">
            <label for="id_name">{{ form.username.label }}</label>
            {{ form.username }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        <div class="form-field">
            <label for="id_description">{{ form.password.label }}</label>
            {{ form.password }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        {% for form in profileformset.forms %}
            <div class="form-field">
                <label for="id_document_type">{{ form.organization.label }}</label>
                <ul class="form-field__checkboxgroup">
                    {% for checkbox in form.organization %}
                        <li>
                            {{ checkbox.label }}
                            <label for="{{ checkbox.id_for_label }}" class="form-field__checkboxlabel">
                                {{ checkbox.choice_label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <input type="hidden" name="{{ form.user.id_for_label }}" id="{{ form.user.id_for_label }}">
            <input type="hidden" name="{{ form.id.id_for_label }}" id="{{ form.id.id_for_label }}">
        {% endfor %}

        <div class="form-field form-field--buttons">
            <input type="submit" value="Opslaan" class="button button--primary">
            <a href="{% url 'user_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
