{% load auth_tags %}
        <div class="site-navigation screen-only">

            {% if request.user.is_authenticated %}
            <nav>
                <ul class="navigation-container" aria-haspopup="true">
                        <li>
                            <a href="{% url 'home' %}">Omslagroute</a>

                            {% if request.user|is_redactie %}
                            <ul>
                                <li>
                                    <a href="{% url 'document_list' %}">
                                        <svg width="8" height="12">
                                            <use href="#chevron-right" xlink:href="#chevron-right" width="8" height="12"></use>
                                        </svg>
                                        Beheer documenten</a>
                                </li>
                                <li>
                                    <a href="{% url 'manage_timeline' %}">
                                        <svg width="8" height="12">
                                            <use href="#chevron-right" xlink:href="#chevron-right" width="8" height="12"></use>
                                        </svg>
                                        Bewerk omslagroute</a>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                    {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
                        <li>
                            <a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a>
                        </li>
                    {% endif %}
                    {% if request.user|is_wonen_medewerker %}
                        <li>
                            <a href="{% url 'case_list' %}">Alle cli&euml;nten</a>
                        </li>
                    {% endif %}
                    {% if request.user|is_gebruikers_beheerder %}
                        <li class="admin-settings">
                            <button class="navigation__open"><span>Beheer</span></button>
                            <ul>
                                <li>
                                    <a href="{% url 'user_list' %}">
                                        <svg width="8" height="12">
                                            <use href="#chevron-right" xlink:href="#chevron-right" width="8" height="12"></use>
                                        </svg>
                                        Gebruikers beheer
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'manage_organizations' %}">
                                        <svg width="8" height="12">
                                            <use href="#chevron-right" xlink:href="#chevron-right" width="8" height="12"></use>
                                        </svg>
                                        Bewerk organisaties</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user|is_federatie_beheerder or request.user|is_wonen_medewerker or request.user|is_pb_federatie_beheerder %}
                        <li class="admin-settings">
                            <a href="{% url 'federation_user_list' %}">Gebruikers beheer</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
