*.backup
*.pyc
*.mo
*.po
*.py[co]
*.sw[po]
*.egg*
*.log
*.db
*.pid
db/
*.DS_Store
.idea
python
.idea/*
pip-log.txt
.sass-cache
.bundle
media/*
node_modules
app/assets/bundles/*
webpack-stats.json
*.env
/.history
*db.sqlite3
