{% extends 'base.html' %}

{% comment %}
    This view is not currently in use!
{% endcomment %}

{% block title %}- Document toevoegen{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb screen-only" aria-label="Kruimelpad">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-step"><a href="{% url 'document_list' %}">Actuele informatie en formulieren</a></li>
        <li class="breadcrumb-step sr-only" aria-current="location">Document toevoegen</li>
    </ol>
</nav>
{% endblock %}

{% block main %}
    <h2>Document toevoegen</h2>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form-errors" aria-live="polite">
                <ul class="errorlist list-vertical" aria-live="polite">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>
                                <a href="#{{field.id_for_label }}">{{field.label}}</a>: 
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-field"  data-decorator="document-name-exists">
            {{ form.name.label_tag }} 
            {% if form.name.help_text %}
                <div class="help-text">{{ form.name.help_text|safe }}</div>
            {% endif %}
            {{ form.name }}
            {% if form.name.errors %}
                <ol class="error-text">
                {% for error in form.name.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>

        <div class="form-field">
            {{ form.document_type.label_tag }}
            {% if form.document_type.help_text %}
                <div class="help-text">{{ form.document_type.help_text|safe }}</div>
            {% endif %}
            {{ form.document_type.tag }}
            {{ form.document_type }}
            {% if form.document_type.errors %}
                <ol class="error-text">
                {% for error in form.document_type.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>

        <div class="form-field form-field--buttons screen-only u-margin-top-3x">
            <input type="submit" value="Uploaden" class="button button--primary">
            <a href="{% url 'home' %}{% if request.GET.moment_id %}?m={{ request.GET.moment_id }}{% endif %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
