{% extends 'base.html' %}

{% comment %}
    Create a new document and upload a first version
    URL: /document/nieuw
{% endcomment %}

{% block main %}
    <h2>Nieuw document toevoegen</h2>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ documentversionformset.management_form }}
        {{ form.moment_id }}
        <div class="form-field">
            <label for="id_name">{{ form.name.label }}</label>
            {% if form.name.help_text %}
                <p class="help-text">{{ form.name.help_text|safe }}</p>
            {% endif %}
            {{ form.name }}
            <p class="error-text">{{ form.name.error_messages }}</p>
        </div>

        <div class="form-field">
            <label for="id_description">{{ form.description.label }}</label>
            {% if form.description.help_text %}
                <p class="help-text">{{ form.description.help_text|safe }}</p>
            {% endif %}
            {{ form.description }}
            <p class="error-text">Het veld hierboven is verplicht</p>
        </div>

        <div class="form-field">
            <label for="id_document_type">{{ form.document_type.label }}</label>
            {% if form.document_type.help_text %}
                <p class="help-text">{{ form.document_type.help_text|safe }}</p>
            {% endif %}
            <ul class="form-field__radiogroup">
                {% for radio in form.document_type %}
                    <li>
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}" class="form-field__radiolabel">
                            {{ radio.choice_label }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <p class="error-text">{{ form.document_type.error_messages }}</p>
        </div>

        <div class="form-field">
            <strong>Voeg hieronder het document toe</strong>
            {% if form.uploaded_file.help_text %}
                <p class="help-text">{{ form.uploaded_file.help_text|safe }}</p>
            {% endif %}
            {% for form in documentversionformset.forms %}
                {{ form.uploaded_file }}
                <label for="file-upload">
                    {{ form.uploaded_file.label }}
                    <svg class="file-upload__icon" width="24" height="24" > 
                        <use href="#upload" xlink:href="#upload" width="24" height="24"></use>
                    </svg>
                </label>
                <p class="error-text">{{ form.uploaded_file.error_messages }}</p>
                <div id="file-upload-filename" class="form-field__uploaded"></div>
            {% endfor %}
        </div>

        <div class="form-field form-field--buttons">
            <input type="submit" value="Uploaden" class="button button--primary">
            <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
