{% extends 'base.html' %}

{% comment %}
    Upload a new version of an existing document 
    URL:    /document/update/2
{% endcomment %}

{% block main %}
    <h2>Document uploaden</h2>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-field">
            <legend>
                U kunt hier een nieuwe versie uploaden van het {{ document.document_type_value|lower }} {{ document|striptags }}.
            </legend>

            <p class="error-text">
                {{ form.non_field_errors }}
            </p>

            <strong>Voeg hieronder het document toe</strong>
            {% if form.uploaded_file.help_text %}
                <p class="help-text">{{ form.uploaded_file.help_text|safe }}</p>
            {% endif %}
            {{ form.uploaded_file }}
            <label for="file-upload">
                {{ form.uploaded_file.label }}
                <svg class="file-upload__icon" width="24" height="24" > 
                    <use href="#upload" xlink:href="#upload" width="24" height="24"></use>
                </svg>
            </label>
            {% if form.uploaded_file.errors %}
                <ol class="error-text">
                {% for error in form.uploaded_file.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
            <div id="file-upload-filename" class="form-field__uploaded"></div>
            
            {{ form.document }}
        </div>

        <div class="form-field form-field--buttons screen-only">
            <input type="submit" value="Upload" class="button button--primary">
            <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
