{% extends 'base.html' %}
{% load i18n %}

{% comment %}
    Delete an existing document 
    URL: /document/delete-versie/[number]
{% endcomment %}

{% block main %}
    <h2>Verwijder document versie</h2>

    <form method="post">{% csrf_token %}
        <legend>
            Weet je zeker dat je de versie geupload op 
                {% language 'nl' %}
                    <time timestamp="{{ object.uploaded|date }}">
                        {{ object.uploaded|date:"j b Y" }} om {{ object.uploaded|date:"H:i" }}
                    </time> 
                {% endlanguage %}
                voor het {{ document.document_type_value|lower }} {{ document|striptags }} 
                wilt verwijderen?
        </legend>
        
        <div class="form-field form-field--buttons screen-only">
            <input type="submit" value="Verwijder" class="button button--primary">
            <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
