{% extends 'base.html' %}
{% load i18n %}

{% block main %} 
    <h2>Verwijder document</h2>
    
    <form method="post">{% csrf_token %}
        <p>Weet je zeker dat je het document <strong>"{{ object.name|striptags }}"</strong>{% if object.document_to_document_version.all|length %} met alle versies{% endif %} wilt verwijderen?</p>
        {% if object.document_to_document_version.all|length %}
        <strong>versies:</strong>
        <ul>
            {% for document_version in object.document_to_document_version.all %}
                {% language 'nl' %}
                <li>Document versie tijd: {{ document_version.uploaded|date:"H:i" }}, datum: {{ document_version.uploaded|date:"j b Y" }}</li>
                {% endlanguage %}
            {% endfor %}
        </ul>
        {% endif %}

        <div class="form-field form-field--buttons">
            <input type="submit" value="Verwijder" class="button button--primary">
            <a href="{% url 'document_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form> 
{% endblock %}
