{% extends 'base.html' %}

{% block main %}
    <h2>Document wijzigen</h2>
    
    <form method="post">
        {% csrf_token %}

        <legend>
            U kunt hier hier het document <strong>"{{ form.instance.name|striptags }}"</strong> wijzigen.
        </legend>
        
        <div class="form-field">
            <p>Naam</p>
            <p>{{ form.name }}</p>
        </div>
        
        <div class="form-field">
            <p>Documenttype</p>
            <p>{{ form.document_type }}</p>
        </div>

        <div class="form-field form-field--buttons">
            <input type="submit" value="Wijzigingen opslaan" class="button button--primary">
            <a href="{% url 'document_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
