{% extends 'base.html' %}

{% block main %}

<main class="site-main">
    <h2>Document versie toevoegen</h2>
    <p>U kunt hier een versie toevoegen aan het document <strong>"{{ document|striptags }}"</strong></p>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-field">
            {{ form.uploaded_file.label_tag }}
            <p class="help-text">
                (Naam document)
            </p>
            {{ form.uploaded_file }}
        </div>

        <div class="form-field">
            <p>{{ form.document }}</p>
            <input type="submit" value="Upload">
            <p><a href="{% url 'document_list' %}">Annuleer</a></p>
        </div>
    </form>
</main>
{% endblock %}
