{% extends 'base.html' %}

{% block main %} 
    <h2>Document Create form</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-field">
            {{ form.name.label_tag }} 
            {% if form.name.help_text %}
                <p class="help-text">{{ form.name.help_text|safe }}</p>
            {% endif %}
            {{ form.name }}
        </div>

        <div class="form-field">
            {{ form.document_type.label_tag }}
            {% if form.document_type.help_text %}
                <p class="help-text">{{ form.document_type.help_text|safe }}</p>
            {% endif %}
            {{ form.document_type.tag }}
            {{ form.document_type }}
        </div>

        <div class="form-field form-field--buttons">
            <input type="submit" value="Uploaden" class="button button--primary">
            <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form> 
{% endblock %}
