{% extends 'base.html' %}
{% load static client_status_tags i18n tz %}

{% block title %} - Alle bijlagen bij cliënt: {{ case.client_name }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">

        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step">Mijn cli&euml;nten</li>
            <li class="breadcrumb-step"><a href="{% url 'case' object.id %}">Cliënt: {{ case.client_name }}</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Alle bijlagen bij cliënt: {{ case.client_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <h2>Alle bijlagen bij cliënt: {{ case.client_name }}</h2>

    <p>{{ document_list|length }}{% if document_list|length == 1 %} resultaat{% else %} resultaten{% endif %}</p>
    <table class="case-list">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Bestandstype</th>
                <th>Datum</th>
                {% if not object.delete_request_date %}
                <th>Bewerk</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for document in document_list %}
                <tr>
                    <td>
                        <span class="show-on-mobile">Naam:</span>
                        <a href="{% url 'download_case_document' object.id document.id %}" target="_blank" rel="noopener noreferrer"><span>{{ document.name }}</span></a>
                    </td>
                    <td>
                        <span class="show-on-mobile">Bestandstype:</span>
                        <span>{{ document.extension }}</span>
                    </td>
                    <td>
                        <span class="show-on-mobile">Datum:</span>
                        <span> {{ document.uploaded|timezone:FRONTEND_TIMEZONE|date:"d-m-y H:i" }} </span>
                    </td>
                    {% if not object.delete_request_date %}
                    <td>
                        <span class="show-on-mobile">Bewerk:</span>
                        <a href="#" title="Bijlage aanpassen" class="u-margin-right u-color-black" data-handler="modal" data-contentid="modalDocumentUpdate-{{ document.id }}">
                            <svg class="button__icon"  width="20" height="20" >
                                <use href="#edit-document" xlink:href="#edit-document"  width="20" height="20"></use>
                            </svg></a>
                        <div role="dialog" class="modal" id="modalDocumentUpdate-{{ document.id }}">
                            <iframe class="modal--update-document" id="iFrameDocumentUpdate-{{ document.id }}" data-src="{% url 'update_case_document' object.id document.id %}?next=open-in-iframe=true" src="about:blank" title="Bijlage {{ document.name }} aanpassen"></iframe>
                        </div>
                        <a href="#" title="Bijlage verwijderen" class="u-color-black" data-handler="modal" data-contentid="modalDocumentDelete-{{ document.id }}">
                            <svg class="button__icon"  width="20" height="20" >
                                <use href="#trash" xlink:href="#trash"  width="20" height="20"></use>
                            </svg></a>
                        <div role="dialog" class="modal" id="modalDocumentDelete-{{ document.id }}">
                            <iframe class="modal--delete-document" id="iFrameDocumentDelete-{{ document.id }}" data-src="{% url 'delete_case_document' object.id document.id %}" src="about:blank" title="Verwijder bijlage {{ document.name }}"></iframe>
                        </div>  
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="u-margin-top-3x">
    {% if not object.delete_request_date %}
    <a href="#" class="button button--primary screen-only" title="Voeg een nieuwe bijlage toe" data-handler="modal" data-contentid="modalUploads">
        Nieuwe bijlage
    </a>
    <div role="dialog" class="modal" id="modalUploads">
        <iframe class="modal--uploads" id="iframeModal" data-src="{% url 'add_case_document' object.id %}" src="about:blank" title="ga naar bestand toevoegen">
        </iframe>
    </div>
    {% endif %}
    <a href="{% url 'case' case.id %}" class="button button--secondary" title="Terug naar cliënt">
        Terug naar cliënt
    </a>
</div>
</section>
{% endblock %}
