{% extends 'base.html' %}

{% block title %} - Cli&euml;nt verwijder verzoek{% endblock %}

{% block skiplinks %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block messages %}{% endblock %}
{% block feedback %}{% endblock %}

{% block main %}
<div class="content-container">
    <button data-handler="modal-close" class="button button--close">
        <svg width="20" height="20" title="Sluit venster">
            <use href="#close" xlink:href="#close" width="20" height="20"></use>
        </svg>
        <span class="sr-only">Sluit venster</span>
    </button>
    <h2>Verzoek'verwijderen cli&euml;nt uit omslagroute'</h2>
    <hr class="" />
    <p>Weet je zeker dat je <strong>{{form.instance.client_name}}</strong> wilt verwijderen uit de omslagroute?</p>
    <p><strong>Dit gebeurt als je...</strong></p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-field form-field--buttons screen-only u-margin-top-3x">
            <input type="submit" value="Verzoek versturen" class="button button--primary">
            <a href="#" data-handler="modal-close" class="button button--secondary">Annuleer</a>
        </div>
    </form>
</div>    
{% endblock %}
