{% extends 'base.html' %}
{% load i18n %}

{% block title %} - Verwijder cli&euml;ntinformatie{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Verwijder cli&euml;ntinformatie {{ object.client_name }} </li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h2>Verwijder cli&euml;ntinformatie</h2>

    <form method="post">{% csrf_token %}
        <p>Weet u zeker dat u de informatie van cliënt '{{ object.client_name }}' wil verwijderen?</p>

        <div class="form-field form-field--buttons screen-only u-margin-top-3x">
            <input type="submit" value="Verwijder" class="button button--secondary">
            <a href="{% url 'cases_by_profile' %}" class="button button--primary">Annuleer</a>
        </div>
    </form>
{% endblock %}
