{% extends 'base.html' %}

{% block title %} - Cliënt adres aanpassen{% endblock %}

{% block skiplinks %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block header %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block messages %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block feedback %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if not request.GET.iframe_content %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            <li class="breadcrumb-step"><a href="{% url 'case' object.id %}">{{ object.client_name }}</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Cli&euml;nt adres aanpassen</li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block main %}
    {% if request.GET.iframe_content %}
    <div class="content-container">
    <button data-handler="modal-close" class="button button--close">
        <svg width="20" height="20" title="Sluit venster">
            <use href="#close" xlink:href="#close" width="20" height="20"></use>
        </svg>
        <span class="sr-only">Sluit venster</span>
    </button>
    {% endif %}
    <h2>Cli&euml;nt adres aanpassen</h2>
    {% if request.GET.iframe_content %}<hr class="" />{% endif %}
    <form method="post" class="form--limited-width">
        {% csrf_token %}

        <div class="details-client details-client--address">
            <header>
                <h2 class="h3">Huidige woning</h2>
            </header>
            <p>{{ object.adres_straatnaam }} {{ object.adres_huisnummer }}{% if object.adres_toevoeging %}, {{ object.adres_toevoeging }}{% endif %}<br/>
            {{ object.adres_postcode }} {{ object.adres_plaatsnaam }}</p>
        </div>

        <fieldset class="section section--step section--incomplete">
            
            <legend>
                <h3 class="section--step__title">
                    Wat is het adres van {{ form.instance.client_name }}?
                </h3>
            </legend>
                
            <div class="section sub-section">    
                <div class="form-field form-field--textinput">
                    <label for="{{ form.adres_straatnaam.id_for_label }}">{{ form.adres_straatnaam.label }} *</label>
                    {{ form.adres_straatnaam }}
                </div>
                <div class="flex-container">
                    <div class="flex-item u-margin-bottom">
                        <div class="form-field form-field--textinput u-padding-right-2x">
                            <label for="{{ form.adres_huisnummer.id_for_label }}">{{ form.adres_huisnummer.label }} *</label>
                            {{ form.adres_huisnummer }}
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="form-field form-field--textinput">
                            <label for="{{ form.adres_toevoeging.id_for_label }}">{{ form.adres_toevoeging.label }}</label>
                            {{ form.adres_toevoeging }}
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-item u-margin-bottom">
                        <div class="form-field form-field--textinput u-padding-right-2x">
                            <label for="{{ form.adres_postcode.id_for_label }}">{{ form.adres_postcode.label }} *</label>
                            {{ form.adres_postcode }}
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="form-field form-field--textinput">
                            <label for="{{ form.adres_plaatsnaam.id_for_label }}">{{ form.adres_plaatsnaam.label }} *</label>
                            {{ form.adres_plaatsnaam }}
                        </div>
                    </div>
                </div>
                <div class="form-field form-field--textinput">
                    <label for="{{ form.wijziging_reden.id_for_label }}">{{ form.wijziging_reden.label }} *</label>
                    {{ form.wijziging_reden }}
                </div>

            </div>
        </fieldset>
        
        {% if request.GET.next %}
        <div class="form-navigation">
            <span></span>
            <button class=" button--next" type="submit">
                <span class="value">Volgende</span>
                <div class="arrow"></div>
            </button>
        </div>
        {% else %}
        <div class="form-field form-field--buttons screen-only {% if not request.GET.iframe_content %}u-margin-top-3x {% else %} u-margin-top-none {% endif %}">
            <input type="submit" value="Opslaan" class="button button--primary">
            {% if not request.GET.iframe_content %}
            <a href="{% url 'cases_by_profile' %}" class="button button--secondary">Annuleer</a>
            {% else %}
            <a href="#" data-handler='modal-close' class="button button--secondary">Annuleer</a>
            {% endif %}
        </div>
        {% endif %}
    </form>
    {% if request.GET.iframe_content %}</div>{% endif %}
    
{% endblock %}
