{% extends 'base.html' %}
{% load static i18n html_tags client_status_tags auth_tags tz %}

{% block title %} - Cliënt: {{ object.client_name }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            {% endif %}
            {% if request.user|is_wonen_medewerker %}
            <li class="breadcrumb-step"><a href="{% url 'case_list' %}">Alle cli&euml;nten</a></li>
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">{{ object.client_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--client">
    <div class="flex-container">
        <div class="flex-item u-margin-top-half">
            <h1>{{ object.client_name }}</h1>
            <small class="u-color-neutralgrey4">Laatste activiteit: {{ object.saved|timezone:FRONTEND_TIMEZONE|date:"d-m-Y H:i" }}{% if object.saved_by %} door {{ object.saved_by.user.username }}{% endif %}{% if object.saved_form %}, <br>'{{ object.saved_form|form_verbose }}'{% endif %}</small>
        </div>
        <div class="flex-item">
            {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
            <div class="details-admin screen-only">
                <a href="{% url 'case_invite_users' object.id %}" class="button button--secondary" data-handler="modal" data-contentid="modalInvite">
                    Samenwerken ({{ linked_users|length }})
                </a>
            </div>
            {% endif %}
    
        </div>
    </div>
    
        

        <div role="dialog" class="modal" id="modalInvite">
            <iframe class="modal--invite" id="iframeInvite" src="{% url 'case_invite_users' object.id  %}">
            </iframe>
          </div>

    <p class="print-only">
        {% language 'nl' %}
            Printdatum: {% now "j F Y H:i" %}
        {% endlanguage %}
    </p>

    <section class="section-details-client">
        <!-- START Client basis gegevens -->
        <div class="details-client details-client--basic">
            <header>
                <h2 class="h3">Basisgegevens</h2>
                {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
                <a href="{% url 'update_case' object.id 'basis-gegevens' %}" class="" title="Wijzig cli&euml;ntgegevens">
                    Wijzigen
                </a>
                {% endif %}
            </header>

            <dl>
                {% for k, client_info in object.to_dict.items %}
                {% if not forloop.first and k in basis_gegevens_fields %}
                <div>
                    <dt>{{ client_info.label }}: </dt>
                    <dd>
                        {% if client_info.value|is_date %}
                            {{ client_info.value|str_date_to_date|timezone:FRONTEND_TIMEZONE|date:"j b Y" }}
                        {% else %}
                            {{ client_info.value }}
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
                {% endfor %}
            </dl>
        </div>
        <!-- END Client basis gegevens -->

        {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
        <!-- START BIJLAGE -->
        <div class="details-client details-client--appendix">
            <header>
                <h2 class="h3">Bijlagen <small>({{ object.document_set.all|length }})</small></h2>
                <a href="{% url 'add_case_document' object.id %}" class="u-float-right u-underline--none u-margin-top-2x screen-only" title="Voeg een nieuwe bijlage toe">
                    + <span class="u-underline">Nieuwe bijlage</span>
                </a>
            </header>

            <ul class="downloads">
            {% for document in object.document_set.all %}
                {% if forloop.counter0 < 4 %}
                    <li>
                        <div><a href="{% url 'download_case_document' object.id document.id %}" target="_blank"><span>{{ document.name }}</span></a> <span>{{ document.extension }}</span><span> {{ document.uploaded|timezone:FRONTEND_TIMEZONE|date:"d-m-y H:i" }} </span></div>
                        <div>
                            <a href="{% url 'update_case_document' object.id document.id %}" title="Bijlage aanpassen" class="u-margin-right u-color-black">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#edit-document" xlink:href="#edit-document"  width="20" height="20"></use>
                                </svg></a>
                            <a href="#" title="Bijlage verwijderen" class="u-color-black" data-handler="modal" data-contentid="modalDocumentDelete-{{ document.id }}">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#trash" xlink:href="#trash"  width="20" height="20"></use>
                                </svg></a>  
                            <div role="dialog" class="modal" id="modalDocumentDelete-{{ document.id }}">
                                <iframe class="modal--delete-document" id="iFrameDocumentDelete-{{ document.id }}" src="{% url 'delete_case_document' object.id document.id %}" title="Verwijder bijlage {{ document.name }}"></iframe>
                            </div>  
                        </div>
                    </li>
                {% endif %}
            {% endfor %}

            </ul>
            <a href="{% url 'case_document_list' object.id %}" class="u-underline--none"><span class="u-underline">Overzicht alle bijlagen</span> ></a>
            
        </div>
        <!-- END BIJLAGE -->
        {% endif %}
    </section>

    {% block processtappen %}
    <!-- START PROCESSTAPPEN -->
    <section class="section section--forms section--mijn-clienten">
        
        <table class="moment-list">
            <thead>
                <tr>
                    <th>Stap in omslagroute</th>
                    <th>Status</th>
                    <th>Status datum</th>
                    <th>Status door</th>
                </tr>
            </thead>
            <tbody>
                {% for moment in moment_list %}
                    {% client_submitted_form object moment.form as case_status %}
                    <tr>
                        <td>
                            <div class="dot dot--large"></div>
                            {% client_status object 'basis-gegevens' as status %}
                            <strong>
                            {% if moment.form %}
                                {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
                                <a href="{% url 'update_case' object.id moment.form %}">{{ moment.name }}</a>
                                {% endif %}
                                {% if request.user|is_wonen_medewerker %}
                                {% if case_status %}
                                <a href="{% url 'case_version_form' object.id moment.form %}">{{ moment.name }}</a>
                                {% else %}
                                <span>{{ moment.name }}</span>
                                {% endif %}
                                {% endif %}
                            {% else %}
                            {{ moment.name }}
                            {% endif %}
                            </strong>
                        </td>
                        <td>
                            <span class="show-on-mobile">Status:</span>
                            {% if case_status %}
                                <span class="label {% if case_status.status == 2 %}label--status-disapproved{% elif case_status.status == 3 %}label--status-approved{% elif case_status.status == 4 %}label--status-pending{% endif %}">
                                    {% if case_status.case_form_is_opnieuw_ingediend %}
                                    Opnieuw ingediend
                                    {% else %}
                                    {{ case_status.status|status_verbose }}
                                    {% endif %}
                                </span>
                            {% elif moment.form %}
                                <span class="u-font-size-small">
                                Nog niet ingediend
                                </span>
                            {% endif %}
                        </td>
                        <td>
                        {% if case_status %}
                            <span class="show-on-mobile">Status datum:</span>
                            <span class="u-font-size-small">{{ case_status.created|timezone:FRONTEND_TIMEZONE|date:"d-m-y H:i" }}</span>
                        {% endif %}
                        </td>
                        <td>
                        {% if case_status %}
                            <span class="show-on-mobile">Status door:</span>
                            <span class="u-font-size-small">{{ case_status.profile.user.username }}</span>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- END PROCESSTAPPEN -->
    {% endblock %}

</section>
{% endblock %}

