{% extends 'base.html' %}

{% block title %} - Cliënt delen{% endblock %}

{% block skiplinks %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block messages %}{% endblock %}
{% block feedback %}{% endblock %}

{% block main %}
    <h2>Cli&euml;nt delen</h2>

    <form method="post">
        {% csrf_token %}
        {% if wizard.steps.next %}
        <ul>
        {% for u in linked_users %}
            <li>{{ u.username }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}

        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button button--secondary">Terug</button>
        {% endif %}

        <div class="form-field form-field--buttons screen-only">
            <input type="submit" value="Opslaan" class="button button--primary">
            <a href="{% url 'case' instance.id %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
