{% extends 'base.html' %}
{% load static client_status_tags i18n %}

{% block title %} - Mijn cli&euml;nten{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Mijn cli&euml;nten</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <h2>Mijn cli&euml;nten</h2>

    <div class="form-field form-field--buttons screen-only">
        <a href="{% url 'create_case' 'aanvraag-omslag-en-urgentie' %}" class="button button--primary">Nieuwe aanvraag omslag en urgentie</a>
    </div>

    <table class="case-list table--interactive">
        <thead>
            <tr>
                <th width="200">Naam</th>
                <th>Voortgang basisgegevens</th>
                <th>Voortgang aanvraag omslag en urgentie</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'case' object.id %}">

                            <span class="show-on-mobile">Naam:</span>
                            {{ object.client_name }}
                        </a>
                    </td>
                    <td>
                        {% client_status object 'basis_gegevens' as status %}
                        <a href="{% url 'case' object.id %}" aria-hidden="true">
                            <span class="show-on-mobile">Basisgegevens:</span>
                            {{ status.percentage }}% ingevuld
                        </a>
                        <!-- hide the above and show only the text in the span here; otherwise screenreaders
                            will read the link three times and tabbing through the page becomes annoying -->
                        <span class="sr-only">{{ status.percentage }}% ingevuld</span>
                    </td>
                    <td>
                        {% client_status object 'urgentie_aanvraag' as status %}
                        <a href="{% url 'case' object.id %}" aria-hidden="true">
                            <span class="show-on-mobile">Aanvraag omslag en urgentie:</span>
                            {{ status.percentage }}% ingevuld
                        </a>
                        <span class="sr-only">{{ status.percentage }}% ingevuld</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'core/pagination.html' with object_list=pages %}
</section>
{% endblock %}
