{% extends 'base.html' %}
{% load static i18n html_tags client_status_tags auth_tags %}

{% block title %} - Cliënt: {{ object.client_name }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|is_wonen_medewerker %}
                <li class="breadcrumb-step"><a href="{% url 'case_list' %}">Alle cli&euml;nten</a></li>
            {% endif %}
            {% if request.user|is_begeleider %}
                <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
                <li class="breadcrumb-step"><a href="{% url 'case' object.case.id %}">Cliënt: {{ object.case.client_name }}</a></li>
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">{{ object.client_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--client">
    <h1>{{ object.client_name }}</h1>
    <h2 class="h3">{{ form_data.title }} - versie {{ object.created|date:"j b Y" }}</h2>
    <p class="print-only">
        {% language 'nl' %}
            Printdatum: {% now "j F Y H:i" %}
        {% endlanguage %}
    </p>

    <section class="section-details-client">

        <!-- START BIJLAGE -->
        <div class="details-client details-client--appendix u-width-50">
            <header>
                <h2 class="h3">Bijlagen <small>({{ object.case.document_set.all|length }})</small></h2>
            </header>

            <ul role="list" class="list-as-table">
            {% for document in object.case.document_set.all %}
                <!-- <li>
                    <a href="{% url 'download_case_document_wonen' object.case.id document.id %}" target="_blank">{{ document.name }} - geüpload: {{ document.uploaded|date:"j b Y" }} - {{ document.extension }}</a>
                </li> -->
                <li>
                    <div><a href="{% url 'download_case_document' object.id document.id %}" target="_blank"><span>{{ document.name }}</span></a> <span>{{ document.extension }}</span><span> {{ document.uploaded|date:"d-m-y" }} </span></div>
                    
                </li>
            {% endfor %}

            </ul>
        </div>
        <!-- END BIJLAGE -->
        <!-- START APPROVE/DISAPPROVE -->
        <div class="details-client details-client--approve u-width-50">
            <header>
                <h2 class="h3">Status aanvraag</h2>
            </header>
<!-- status pending -->
            <p>Wacht op goedkeuring</p>
            <div class="form-field">
                <button data-handler="form-approve" class="button button--success">
                    <svg class="check__icon" width="20" height="16">
                        <use href="#check" xlink:href="#alert" width="20" height="18"></use>
                    </svg>
                    Goedkeuren
                </button>
                <button data-handler="form-disapprove" class="button button--danger">
                    <svg class="close__icon" width="16" height="16">
                        <use href="#close" xlink:href="#close" width="16" height="16"></use>
                    </svg>
                    Afkeuren
                </button>
                <button data-handler="form-pending" class="button button--warning">
                    <svg class="close__icon" width="16" height="16">
                        <use href="#close" xlink:href="#close" width="16" height="16"></use>
                    </svg>
                    Wacht op GGD
                </button>
            </div>
            <ul>
                <li><span>Wacht op goedkeuring</span><small>12 mei 2020</small><small>j.devos@hvoquerido.nl</small></li>
            </ul>

<!-- status goedgekeurd -->
            <p>
                <svg class="check__icon" width="20" height="16">
                    <use href="#check" xlink:href="#alert" width="20" height="18"></use>
                </svg>
                Goedgekeurd
            </p>
            <div class="form-field">
                <button data-handler="form-disapprove" class="button button--secondary button--danger">Afkeuren</button>
            </div>

<!-- status afgekeurd -->
            <p>
                <svg class="close__icon" width="16" height="16">
                    <use href="#close" xlink:href="#close" width="16" height="16"></use>
                </svg>
                Afgekeurd

            </p>
            <div class="form-field">
                <button data-handler="form-approve" class="button button--secondary button--success">Goedkeuren</button>
            </div>
        </div>

        <!-- start prompt approve-->
        <div class="prompt-container" data-handler="prompt-approve">
            <div class="prompt-approve">
                <p>Weet je zeker dat je deze <strong>{{ form_data.title }}</strong> wilt goedkeuren?</p>
                <p>Wanneer je deze aanvraag goedkeurt ontvangt <strong>[e-mail]</strong> een bevestiging per e-mail.</p>
                <form>
                    <input type="hidden" value="goedgekeurd">
                    <button type="button" class="button button--secondary" data-handler="form-approve-cancel">Annuleren</button>
                    <input type="submit" value="Goedkeuren" class="button button--success">
                </form>
            </div>
            <div class="prompt-disapprove">
                <p>Weet je zeker dat je deze <strong>{{ form_data.title }}</strong> wilt afkeuren?</p>
                <p>Wanneer je deze aanvraag afkeurt ontvangt <strong>[e-mail]</strong> een bevestiging per e-mail.</p>
                <form>
                    <input type="hidden" value="afgekeurd">
                    <button type="button" class="button button--secondary" data-handler="form-approve-cancel">Annuleren</button>
                    <input type="submit" value="Afkeuren" class="button button--danger">
                </form>
            </div>    
        </div>
        <!--end prompt approve-->

            
        <!-- END APPROVE/DISAPPROVE -->

    </section>
    <section class="section section--forms">
        <!-- START Client basis gegevens -->
        <div class="details-client">
            <header>
                <h2 class="h3">Gegevens</h2>
            </header>

            <dl>
                {% for k, client_info in object.to_dict.items %}
                {% if not forloop.first and k in form_fields %}
                <div>
                    <dt>{{ client_info.label }}: </dt>
                    <dd>
                        {% if client_info.value|is_date %}
                            {{ client_info.value|str_date_to_date|date:"j b Y" }}
                        {% else %}
                            {{ client_info.value }}
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
                {% endfor %}
            </dl>
        </div>
        <!-- END Client basis gegevens -->

    </section>
</section>

{% endblock %}

