{% extends 'base.html' %}
{% load static i18n html_tags client_status_tags auth_tags %}

{% block title %} - Cliënt: {{ object.client_name }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|is_begeleider %}
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            {% endif %}
            {% if request.user|is_wonen_medewerker %}
            <li class="breadcrumb-step"><a href="{% url 'case_list' %}">Alle cli&euml;nten</a></li>
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">{{ object.client_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--client">
    <h1>{{ object.client_name }}</h1>
        {% if request.user|is_begeleider %}
        <div class="details-admin screen-only">
            <a href="{% url 'case_invite_users' object.id %}" class="button button--secondary" title="Deel deze cliënt" data-handler="modal" data-contentid="modalInvite">
                Delen ({{ object.profile_set.all|length|add:"-1" }})
            </a>
        </div>
        {% endif %}


        <div role="dialog" class="modal" id="modalInvite">
            <iframe class="modal--invite" id="iframeInvite" src="{% url 'case_invite_users' object.id  %}">
            </iframe>
          </div>

    <p class="print-only">
        {% language 'nl' %}
            Printdatum: {% now "j F Y H:i" %}
        {% endlanguage %}
    </p>

    <section class="section-details-client">
        <!-- START Client basis gegevens -->
        <div class="details-client details-client--basic">
            <header>
                <h2 class="h3">Basisgegevens</h2>
                {% if request.user|is_begeleider %}
                <a href="{% url 'update_case' object.id 'basis-gegevens' %}" class="" title="Wijzig cli&euml;ntgegevens">
                    Wijzigen
                </a>
                {% endif %}
            </header>

            <dl>
                {% for k, client_info in object.to_dict.items %}
                {% if not forloop.first and k in basis_gegevens_fields %}
                <div>
                    <dt>{{ client_info.label }}: </dt>
                    <dd>
                        {% if client_info.value|is_date %}
                            {{ client_info.value|str_date_to_date|date:"j b Y" }}
                        {% else %}
                            {{ client_info.value }}
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
                {% endfor %}
            </dl>
        </div>
        <!-- END Client basis gegevens -->


        <!-- START BIJLAGE -->
        <div class="details-client details-client--appendix">
            <header>
                <h2 class="h3">Bijlagen <small>({{ object.document_set.all|length }})</small></h2>
                {% if request.user|is_begeleider %}
                <a href="{% url 'add_case_document' object.id %}" class="" title="Voeg een nieuwe bijlage toe">
                    Uploaden
                </a>
                {% endif %}
            </header>

            <ul class="downloads">
            {% for document in object.document_set.all %}
                {% if forloop.counter0 < 4 %}
                    <li>
                        <div><a href="{% url 'download_case_document' object.id document.id %}" target="_blank"><span>{{ document.name }}</span></a> <span>{{ document.extension }}</span><span> {{ document.uploaded|date:"d-m-y" }} </span></div>
                        {% if request.user|is_begeleider %}
                        <div><a href="{% url 'update_case_document' object.id document.id %}"><span>Wijzigen</span></a></div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            </ul>
            {% if object.document_set.all|length > 3 %}
            <a href="{% url 'case_document_list' object.id %}" class="">Alle bijlages</a>
            {% endif %}
        </div>
    </section>
        <!-- END BIJLAGE -->

    {% block processtappen %}
    <!-- START PROCESSTAPPEN -->
    <section class="section section--forms">
        <h2 class="h3">Stappen Omslagroute</h2>
        <ul>
        {% for moment in moment_list %}
        <li>
            <div class="dot dot--large"></div>
                {% client_status object 'basis-gegevens' as status %}
                <strong class="h4">
                {% if moment.form %}
                    {% if request.user|is_begeleider %}
                    <a href="{% url 'update_case' object.id moment.form %}">{{ moment.name }}</a>
                    {% endif %}
                    {% if request.user|is_wonen_medewerker %}
                    <a href="{% url 'case_version_form' object.id moment.form %}">{{ moment.name }}</a>
                    {% endif %}
                {% else %}
                {{ moment.name }}
                {% endif %}
                </strong>
                <div class="form-link--statuscontainer">
                
                {% if moment.form %}
                    {% client_submitted_form object moment.form as case_status %}
                    {% if case_status %}
                        <span class="form-link form-link--added">
                            {{ case_status.status|status_verbose }} ({{ case_status.created|date:"j b Y H:i" }})
                        </span>
                    {% else %}
                        <span class="form-link form-link--added">
                        Nog niet ingediend
                        </span>
                    {% endif %}
                {% endif %}

                <span class="form-link form-link--added">{% if moment.form %}{% client_status object moment.form as status %}{{ status.percentage }}%{% endif %}</span>
            </div>
        </li>
        {% endfor %}
        </ul>
    </section>
    <!-- END PROCESSTAPPEN -->
    {% endblock %}

</section>
{% endblock %}

