{% extends 'base.html' %}
{% load static client_status_tags i18n %}

{% block title %} - Alle cli&euml;nten{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Alle cli&euml;nten</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <h2 class="u-margin-bottom-4x">Aanvragen</h2>

    <div class="tab-list-container">
        <ul class="u-list-style-none tab-list">
            <li class="list-label">
                <span>Status:</span>
            </li>
            <li class="tab selected">
                <a href="#" role="button" class="button button--tertiary">Ingediend (2)</a>
            </li>
            <li class="tab">
                <a href="#" role="button" class="button button--tertiary">Wacht op GGD</a>
            </li>
            <li class="tab">
                <a href="#" role="button" class="button button--tertiary">Goedgekeurd</a>
            </li>
            <li class="tab">
                <a href="#" role="button" class="button button--tertiary">Afgekeurd</a>
            </li>
            <li class="tab">
                <a href="#" role="button" class="button button--tertiary">Alle ({{ object_list.paginator.count }})</a>
            </li>
        </ul>
    </div>
    <table class="case-list">
        <thead>
            <tr>
                <th width="200">Client</th>
                <th>Stap in omslagroute</th>
                <th>Aanvraag door</th>
                <th>Actuele status</th>
                <th><span class="sr-only">Laatste statuswijziging</span></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <span class="show-on-mobile">Naam:</span>
                        {{ object.client_name }}
                    </td>

                    <td>
                        <span class="show-on-mobile">Stap in omslagroute:</span>
                        <a href="#">Aanvraag omslagroute en urgentie</a>
                    </td>
                    <td>
                        <span class="show-on-mobile">Aanvraag door:</span>
                        HVO Querido
                    </td>
                    <td>
                        <span class="show-on-mobile">Actuele status:</span>
                        Ingediend
                    </td>
                    <td class="u-no-wrap">21-05-2020</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <p>{{ object_list.paginator.count }}{% if object_list.paginator.count == 1 %} resultaat{% else %} resultaten{% endif %}</p>
    
    <table class="case-list table--interactive">
        <thead>
            <tr>
                <th width="200">Naam</th>
                {% for form in FORMS_PROCESSTAP_CHOICES %}
                <th>{{ form.1 }} status</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="#">

                            <span class="show-on-mobile">Naam:</span>
                            {{ object.client_name }}
                        </a>
                    </td>
                    {% for form in FORMS_PROCESSTAP_CHOICES %}

                    <td>
                        {% client_submitted_form object form.0 as case_status %}
                        {% if case_status %}
                            <a href="{% url 'case_version_form' object.id form.0 %}">
                                {{ case_status.status|status_verbose }} ({{ case_status.created|date:"j b Y H:i" }})
                            </a>
                        {% else %}
                            <a href="#">
                            Nee
                            </a>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'core/pagination.html' with object_list=object_list filter_params='' %}
</section>
{% endblock %}
