{% extends 'base.html' %}

{% block title %} - Samenwerken aan cliënt{% endblock %}

{% block skiplinks %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block messages %}{% endblock %}
{% block feedback %}{% endblock %}

{% block main %}
<div class="content-container form-invite-container">
    <button data-handler="modal-close" class="button button--close">
        <svg width="20" height="20" title="Sluit venster">
            <use href="#close" xlink:href="#close" width="20" height="20"></use>
        </svg>
        <span class="sr-only">Sluit venster</span>
    </button>
        <h2>Nodig collega's uit om samen te werken aan {{instance.client_name}}</h2>
        <hr class="" />
        {% if unlinked_users %}
        <form method="post">
            {% csrf_token %}
            {% if wizard.steps.next %}
            <h3 class="u-margin-bottom-none">Je werkt samen aan deze client met:</h3>
            {% if linked_users %}
            <ul class="u-margin-bottom-2x scroll-list-container">
            
                {% for u in linked_users %}
                <li>{{ u.username }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Je werkt nog niet samen aan deze cliënt met collega's</p>
            {% endif %}
            {% else %}
            <h3>Je werkt samen aan deze client met:</h3>
            <ul class="u-margin-bottom-2x scroll-list-container">
            {% for u in selected_users %}
                <li>{{ u.username }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}

            {% else %}
                {{ wizard.form }}
            {% endif %}

            
            <div class="form-field form-field--buttons screen-only u-margin-top-2x">
                {% if wizard.steps.prev %}
            <button name="wizard_goto_step" role="link" value="{{ wizard.steps.prev }}" class="button button--secondary button--previous"><svg class="button__icon" width="12" height="18"><use href="#chevron-left" xlink:href="#chevron-left" width="12" height="18"></use></svg>Terug</button>
            {% endif %}

                <input type="submit" value="Samenwerken" class="button button--primary">
                <a data-handler="modal-close" href="#" class="button button--secondary">Annuleren</a>
            </div>
        </form>
        {% elif not unlinked_users and linked_users %}
        <p>Je hebt al alle persoonlijk begeleiders uitgenodigd.</p>
        <div class="form-field form-field--buttons screen-only u-margin-top-2x">
            <a data-handler="modal-close" href="#" class="button button--primary">Sluiten</a>
        </div>
        {% elif not unlinked_users and not linked_users %}
        <p>Je bent momenteel de enige persoonlijk begeleider op de omslagroute site.</p>
        <div class="form-field form-field--buttons screen-only u-margin-top-2x">
            <a data-handler="modal-close" href="#" class="button button--primary">Sluiten</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
