{% extends 'base.html' %}
{% load static client_status_tags i18n %}

{% block title %} - Mijn cli&euml;nten{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Mijn cli&euml;nten</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <h2>Mijn cli&euml;nten</h2>

    <table class="table--interactive">
        <thead>
            <tr>
                <th width="20%">Naam</th>
                <th width="40%">Voortgang basis gegevens</th>
                <th width="40%">Voortgang aanvraag omslag en urgentie</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'case' object.id %}">
                        {{ object.client_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'case' object.id %}" aria-hidden="true">
                            {% client_status object 'basis_gegevens' %}% ingevuld
                        </a>
                        <!-- hide the above and show only the text in the span here; otherwise screenreaders
                            will read the link three times and tabbing through the page becomes annoying -->
                        <span class="sr-only">{% client_status object 'basis_gegevens' %}% ingevuld</span>
                    </td>
                    <td>
                        <a href="{% url 'case' object.id %}" aria-hidden="true">
                            {% client_status object 'urgentie_aanvraag' %}% ingevuld
                        </a>
                        <span class="sr-only">{% client_status object 'urgentie_aanvraag' %}% ingevuld</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-field form-field--buttons screen-only">
        <a href="{% url 'add_case' %}" class="button button--primary">Nieuwe cliënt</a>
        <a href="{% url 'new_nieuwe_aanvraag_omslag_en_urgentie' %}" class="button button--primary">Nieuwe aanvraag omslag en urgentie</a>
    </div>
</section>
{% endblock %}
