{% extends 'base.html' %}

{% block title %} - Cliënt adres aanpassen{% endblock %}

{% block skiplinks %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block header %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block messages %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block feedback %}
{% if not request.GET.iframe_content %}
{{ block.super }}
{% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if not request.GET.iframe_content %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            {% if form.instance.id %}
            <li class="breadcrumb-step"><a href="{% url 'case' object.id %}">{{ object.client_name }}</a></li>
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">Cli&euml;nt basisgegevens aanpassen</li>
        </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block main %}
    {% if request.GET.iframe_content %}
    <div class="content-container">
    <button data-handler="modal-close" class="button button--close">
        <svg width="20" height="20" title="Sluit venster">
            <use href="#close" xlink:href="#close" width="20" height="20"></use>
        </svg>
        <span class="sr-only">Sluit venster</span>
    </button>
    {% endif %}
    <h2>{% if form.instance.id %}Cli&euml;nt basisgegevens aanpassen{% else %}Cliënt aanmaken{% endif %}</h2>
    {% if request.GET.iframe_content %}<hr class="" />{% endif %}
    <form method="post" class="form--limited-width">
        {% csrf_token %}

        <fieldset class="section section--step section--incomplete">
            
            <legend>
                <h3 class="section--step__title">
                    
                </h3>
            </legend>
                
            <div class="section sub-section">    
                <div class="form-field form-field--textinput">
                    <label for="{{ form.client_first_name.id_for_label }}">{{ form.client_first_name.label }} *</label>
                    {{ form.client_first_name }}
                    {% if form.client_first_name.errors %}
                        <ol class="error-text">
                        {% for error in form.client_first_name.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                <div class="form-field form-field--textinput">
                    <label for="{{ form.client_last_name.id_for_label }}">{{ form.client_last_name.label }} *</label>
                    {{ form.client_last_name }}
                    {% if form.client_last_name.errors %}
                        <ol class="error-text">
                        {% for error in form.client_last_name.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                <div class="form-field form-field--textinput">
                    <label for="{{ form.geboortedatum.id_for_label }}">{{ form.geboortedatum.label }} *</label>
                    {{ form.geboortedatum }}
                    {% if form.geboortedatum.errors %}
                        <ol class="error-text">
                        {% for error in form.geboortedatum.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>
                <div class="form-field form-field--textinput">
                    <label for="{{ form.emailadres.id_for_label }}">{{ form.emailadres.label }}</label>
                    {{ form.emailadres }}
                    {% if form.emailadres.errors %}
                        <ol class="error-text">
                        {% for error in form.emailadres.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        
        {% if request.GET.next %}
        <input type="hiden" value="{{request.GET.next }}" name="next"  id="id_next">
        {% else %}
        <div class="form-field form-field--buttons screen-only {% if not request.GET.iframe_content %}u-margin-top-3x {% else %} u-margin-top-none {% endif %}">
            <input type="submit" value="Opslaan" class="button button--primary">
            {% if not request.GET.iframe_content %}
            <a href="{% url 'cases_by_profile' %}" class="button button--secondary">Annuleer</a>
            {% else %}
            <a href="#" data-handler='modal-close' class="button button--secondary">Annuleer</a>
            {% endif %}
        </div>
        {% endif %}
    </form>
    {% if request.GET.iframe_content %}</div>{% endif %}
{% endblock %}
