{% extends 'base.html' %}
{% load static client_status_tags i18n tz %}

{% block title %} - Alle cli&euml;nten{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Alle cli&euml;nten</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <div class="flex-container u-margin-bottom-3x">
        <div class="flex-item">
            <h2 class="u-margin-bottom-4x">Aanvragen</h2>
        </div>
        <div class="flex-item u-text-align--right">
            <div class="form-field form-field--buttons screen-only">
                <a href="{% url 'case_archive' %}" class="button button--secondary">
                    Archief ({{case_archive_list|length}})
                </a>
            </div>
        </div>
    </div>
    
    <div class="tab-list-container">
        <ul class="u-list-style-none tab-list">
            <li class="list-label">
                <span>Status:</span>
            </li>
            {% for tab in tabs %}
            <li class="tab{% if request.GET.f|stringformat:"s" == forloop.counter0|stringformat:"s" %} selected{% elif request.GET.f == None and forloop.counter0|stringformat:"s" == "0" %} selected{% endif %}">
                <a href="./?f={{ forloop.counter0 }}" role="button" class="button button--tertiary">{{ tab.title }} ({{ tab.queryset|length }})</a>
            </li>
            {% endfor%}
        </ul>
    </div>
    <table class="case-list">
        <thead>
            <tr>
                <th width="200">Cliënt</th>
                <th>Stap in omslagroute</th>
                <th>Aanvraag door</th>
                <th>Status</th>
                <th><span class="sr-only">Laatste statuswijziging</span></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <span class="show-on-mobile">Naam:</span>
                        <a href="{% url 'case' object.case.id  %}">{{ object.case.client_name }}</a>
                    </td>
                    <td>
                        <span class="show-on-mobile">Stap in omslagroute:</span>
                        <a href="{% url 'case_version_form' object.case.id object.form %}">{{ object.form|form_verbose }}</a>
                    </td>
                    <td>
                        <span class="show-on-mobile">Aanvraag door:</span>
                        {{ object.profile.user.username }}
                    </td>
                    <td>
                        <span class="show-on-mobile">Status:</span>
                        <span class="label {% if object.status == 2 %}label--status-disapproved{% elif object.status == 3 %}label--status-approved{% elif object.status == 4 %}label--status-pending{% endif %}">
                            {% if object.status == 1 and not object.is_first_of_statustype %}Opnieuw {% endif %}{{ object.status|status_verbose }}
                        </span>
                        {% if object.status != 1 and object.case_form_is_opnieuw_ingediend %} 
                        <span class="label u-font-size-small u-margin-top-half">
                            Opnieuw ingediend
                        </span>
                        {% endif %}
                        
                    </td>
                    <td class="u-no-wrap">{{ object.created|timezone:FRONTEND_TIMEZONE|date:"j b Y H:i" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'core/pagination.html' with object_list=object_list filter_params='' %}
</section>
{% endblock %}
