{% extends 'base.html' %}
{% load static i18n html_tags client_status_tags auth_tags tz %}

{% block title %} - Cliënt: {{ object.client_name }}{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
            <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
            {% endif %}
            {% if request.user|is_wonen_medewerker %}
            {% if object.delete_request_date %}
            <li class="breadcrumb-step"><a href="{% url 'case_archive' %}">Archief</a></li>
            {% else %}
            <li class="breadcrumb-step"><a href="{% url 'case_list' %}">Alle cli&euml;nten</a></li>
            {% endif %}
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">{{ object.client_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
{% csrf_token %}
<section class="section section--client">
    <div>
        {% if object.delete_request_date %}  
        {% include 'cases/snippets/case_delete_request_header.html' %}
        {% endif %}    
        <div class="client-header flex-container">
            <div class="flex-item">
                <h1>{{ object.client_name }}</h1>
            </div>
            <div class="flex-item u-clearfix">
                {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
                
                {% if not object.delete_request_date %}
                <div class="screen-only">
                    <a href="{% url 'case_invite_users' object.id %}" class="button button--secondary" data-handler="modal" data-contentid="modalInvite">
                        Samenwerken ({{ linked_users|length }})
                    </a>

                <details>
                    <summary>opties<svg class="icon-details--closed" width="14" height="9">
                            <use href="#chevron-down" xlink:href="#chevron-down" width="14" height="9"></use>
                        </svg><svg class="icon-details--open" width="14" height="9">
                            <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                        </svg>
                    </summary>
                    <div class="content">
                        <button type="button" data-handler="close-details" class="button button--close">
                            <span class="sr-only">Verberg historie</span>
                            <svg class="icon close__icon" width="12" height="12">
                                <use href="#close" xlink:href="#close" width="12" height="12"></use>
                            </svg>
                        </button>
                        <ul class="u-list-style-none">
                            <li>
                                <a href="{% url 'update_case' object.id 'basis-gegevens' %}" class="">
                                    Wijzig basisgegevens
                                </a>
                            </li>
                            <li>
                                <a href="#" data-handler="modal" data-contentid="modalChangeAddress">Wijzig woning</a>
                                <div role="dialog" class="modal" id="modalChangeAddress">
                                    <iframe class="modal--address" id="iframeChangeAddress" src="{% url 'delete_request_case' object.id %}" title="Wijzig woning">
                                        
                                    </iframe>
                                </div>
                            </li>
                            <li>
                                <a href="#" data-handler="modal" data-contentid="modalDeleteRequest">Verzoek verwijderen cliënt uit omslagroute</a>
                                <div role="dialog" class="modal" id="modalDeleteRequest">
                                <iframe class="modal--uploads" id="iframeDeleteRequest" src="{% url 'delete_request_case' object.id %}" title="Verwijder verzoek">
                                </iframe>
                                </div>
                            </li>
                        </ul>
                    </div>
                </details>
                
                </div>
                {% endif %}

                {% else %} 
                <!-- wonen && !dossiernr-->
                <div data-case-id="{{ object.id }}" id="dossier_nr">
                </div>
                
                {% endif %}    
        
            </div>
        </div>
        
    
            <div role="dialog" class="modal" id="modalInvite">
                <iframe class="modal--invite" id="iframeInvite" src="{% url 'case_invite_users' object.id  %}" title="Uitnodiging tot samenwerking">
                </iframe>
              </div>    
        <small class="u-color-neutralgrey4">Laatste activiteit: {{ object.saved|timezone:FRONTEND_TIMEZONE|date:"d-m-Y H:i" }}{% if object.saved_by %} | {{ object.saved_by.user.username }}{% endif %}{% if object.saved_form %} | '{{ object.saved_form|form_verbose }}'{% endif %}</small>
        <small class="print-only">
            {% language 'nl' %}
                Printdatum: {% now "j F Y H:i" %}
            {% endlanguage %}
        </small>
        
        
    </div>
    
    <section class="section-details-client">
        <!-- START Client basis gegevens -->
        <div class="details-client details-client--basic">
            <header>
                <h2 class="h3">Basisgegevens</h2>
            </header>

            <dl>
                {% for k, client_info in object.to_dict.items %}
                {% if not forloop.first and k in basis_gegevens_fields %}
                <div>
                    <dt>{{ client_info.label }}: </dt>
                    <dd>
                        {% if client_info.value|is_date %}
                            {{ client_info.value|str_date_to_date|timezone:FRONTEND_TIMEZONE|date:"j b Y" }}
                        {% else %}
                            {{ client_info.value }}
                        {% endif %}
                    </dd>
                </div>
                {% endif %}
                {% endfor %}
            </dl>
        </div>
        <!-- END Client basis gegevens -->

        {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
        <!-- START BIJLAGE -->
        <div class="details-client details-client--appendix">
            <header>
                <h2 class="h3">Bijlagen <small>({{ object.document_set.all|length }})</small></h2>
                {% if not object.delete_request_date %}
                <a href="{% url 'add_case_document' object.id %}" class="u-float-right u-underline--none u-margin-top-2x screen-only" title="Voeg een nieuwe bijlage toe">
                    + <span class="u-underline">Nieuwe bijlage</span>
                </a>
                {% endif %}
            </header>

            <ul class="downloads">
            {% for document in object.document_set.all %}
                {% if forloop.counter0 < 4 %}
                    <li>
                        <div><a href="{% url 'download_case_document' object.id document.id %}" target="_blank"><span>{{ document.name }}</span></a> <span>{{ document.extension }}</span><span> {{ document.uploaded|timezone:FRONTEND_TIMEZONE|date:"d-m-y H:i" }} </span></div>
                        {% if not object.delete_request_date %}
                        <div>
                            <a href="{% url 'update_case_document' object.id document.id %}" title="Bijlage aanpassen" class="u-margin-right u-color-black">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#edit-document" xlink:href="#edit-document"  width="20" height="20"></use>
                                </svg></a>
                            <a href="#" title="Bijlage verwijderen" class="u-color-black" data-handler="modal" data-contentid="modalDocumentDelete-{{ document.id }}">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#trash" xlink:href="#trash"  width="20" height="20"></use>
                                </svg></a>  
                            <div role="dialog" class="modal" id="modalDocumentDelete-{{ document.id }}">
                                <iframe class="modal--delete-document" id="iFrameDocumentDelete-{{ document.id }}" src="{% url 'delete_case_document' object.id document.id %}" title="Verwijder bijlage {{ document.name }}"></iframe>
                            </div>
                        </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            </ul>
            {% if object.document_set.all|length > 4 %}
            <a href="{% url 'case_document_list' object.id %}" class="u-underline--none"><span class="u-underline">Overzicht alle bijlagen</span> ></a>
            {% endif %}
            
        </div>
        <!-- END BIJLAGE -->
        {% endif %}

        {% if request.user|is_wonen_medewerker %}
        <div class="details-client details-client--address">
            <header>
                <h2 class="h3">Woning omslagroute</h2>
            </header>
            <p>Janneke van der Poelstraat 195A<br/>1000 AZ Amsterdam
            </p>
            <details>
                <summary>Historie<svg class="icon-details--closed" width="14" height="9">
                        <use href="#chevron-down" xlink:href="#chevron-down" width="14" height="9"></use>
                    </svg><svg class="icon-details--open" width="14" height="9">
                        <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                    </svg>
                </summary>
                <div class="content">
                    <button type="button" data-handler="close-details" class="button button--close">
                        <span class="sr-only">Verberg historie</span>
                        <svg class="icon close__icon" width="12" height="12">
                            <use href="#close" xlink:href="#close" width="12" height="12"></use>
                        </svg>
                    </button>
                    <div class="u-scroll-wrapper">
                        <ul class="u-list-style-none">
                            <li>
                                <p class="u-margin-bottom-none">Janneke van der Poelstraat 195A, 1000 AZ Amsterdam</p>
                                <p class="u-margin-bottom-none"><i>'Cliënt is gaan samenwonen met partner'</i></p>
                                <small>10-11-2019 - pber@zorginstelling.nl</small>
                            </li>
                            <li>
                                <p class="u-margin-bottom-none">Janneke van der Poelstraat 195A, 1000 AZ Amsterdam</p>
                                <p class="u-margin-bottom-none"><i>'Cliënt is gaan samenwonen met partner'</i></p>
                                <small>10-11-2019 - pber@zorginstelling.nl</small>
                            </li>
                            <li>
                                <p class="u-margin-bottom-none">Janneke van der Poelstraat 195A, 1000 AZ Amsterdam</p>
                                <p class="u-margin-bottom-none"><i>'Cliënt is gaan samenwonen met partner'</i></p>
                                <small>10-11-2019 - pber@zorginstelling.nl</small>
                            </li>
                            <li>
                                <p class="u-margin-bottom-none">Janneke van der Poelstraat 195A, 1000 AZ Amsterdam</p>
                                <p class="u-margin-bottom-none"><i>'Cliënt is gaan samenwonen met partner'</i></p>
                                <small>10-11-2019 - pber@zorginstelling.nl</small>
                            </li>
                            <li>
                                <p class="u-margin-bottom-none">Janneke van der Poelstraat 195A, 1000 AZ Amsterdam</p>
                                <p class="u-margin-bottom-none"><i>'Cliënt is gaan samenwonen met partner'</i></p>
                                <small>10-11-2019 - pber@zorginstelling.nl</small>
                            </li>
                        </ul>
                    </div>    
                </div>
            </details>
        </div>
        {% endif %}
    </section>

    {% block processtappen %}
    <!-- START PROCESSTAPPEN -->
    <section class="section section--forms section--mijn-clienten">
        
        <table class="moment-list">
            <thead>
                <tr>
                    <th>Stap in omslagroute</th>
                    <th>Status</th>
                    <th>Status datum</th>
                    <th>Status door</th>
                </tr>
            </thead>
            <tbody>
                {% for moment in moment_list %}
                    {% client_submitted_form object moment.form as case_status %}
                    <tr>
                        <td>
                            <div class="dot dot--large"></div>
                            {% client_status object 'basis-gegevens' as status %}
                            <strong>
                            {% if moment.form %}
                                {% if request.user|is_begeleider or request.user|is_pb_federatie_beheerder %}
                                <a href="{% url 'update_case' object.id moment.form %}">{{ moment.name }}</a>
                                {% endif %}
                                {% if request.user|is_wonen_medewerker %}
                                {% if case_status %}
                                <a href="{% url 'case_version_form' object.id moment.form %}">{{ moment.name }}</a>
                                {% else %}
                                <span>{{ moment.name }}</span>
                                {% endif %}
                                {% endif %}
                            {% else %}
                            {{ moment.name }}
                            {% endif %}
                            </strong>
                        </td>
                        <td>
                            <span class="show-on-mobile">Status:</span>
                            {% if case_status %}
                                <span class="label {% if case_status.status == 2 %}label--status-disapproved{% elif case_status.status == 3 %}label--status-approved{% elif case_status.status == 4 %}label--status-pending{% endif %}">
                                    {% if case_status.case_form_is_opnieuw_ingediend %}
                                    Opnieuw ingediend
                                    {% else %}
                                    {{ case_status.status|status_verbose }}
                                    {% endif %}
                                </span>
                            {% elif moment.form %}
                                <span class="u-font-size-small">
                                Nog niet ingediend
                                </span>
                            {% endif %}
                        </td>
                        <td>
                        {% if case_status %}
                            <span class="show-on-mobile">Status datum:</span>
                            <span class="u-font-size-small">{{ case_status.created|timezone:FRONTEND_TIMEZONE|date:"d-m-y H:i" }}</span>
                        {% endif %}
                        </td>
                        <td>
                        {% if case_status %}
                            <span class="show-on-mobile">Status door:</span>
                            <span class="u-font-size-small">{{ case_status.profile.user.username }}</span>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- END PROCESSTAPPEN -->
    {% endblock %}

</section>
{% endblock %}


{% block js %}
{{ block.super }}

{% if request.user|is_wonen_medewerker and not object.delete_request_date %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
 <script src="{% static "bundles/case.js" %}"></script>
{% endif %}
{% endblock %}

