{% extends 'base.html' %}
{% load static client_status_tags i18n tz html_tags %}

{% block title %} - Mijn cli&euml;nten{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step"><a href="{% url 'case_list' %}">Alle cli&euml;nten</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Archief</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--mijn-clienten">
    <h2>Archief</h2>

    <p>{{ object_list.paginator.count }}{% if object_list.paginator.count == 1 %} resultaat{% else %} resultaten{% endif %}</p>


    <table class="case-list">
        <thead>
            <tr>
                <th width="150">Cliënt</th>
                <th>Datum verzoek</th>
                <th>Bericht</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <span class="show-on-mobile">Naam:</span>
                        {% if object.is_ingediend %}
                        <a href="{% url 'case' object.id  %}">{{ object.client_name }}</a>
                        {% else %}
                        Cliënt id: {{ object.id }} (Nog niets ingediend)
                        {% endif %}
                    </td>
                    <td>
                        <span class="show-on-mobile">Datum verzoek:</span>
                        {{ object.delete_request_date|timezone:FRONTEND_TIMEZONE|date:'d-m-y H:i' }}
                    </td>
                    <td>
                        <span class="show-on-mobile">Bericht:</span>
                        {{ object.delete_request_message }}
                    </td>
                    <td>
                        {% if object.delete_enabled %}
                        <a  href="#" data-handler="modal" data-contentid="modalCaseDelete" class="button button--secondary" title="ga naar definitief verwijderen">
                            Definitief verwijderen
                        </a>
                        <div role="dialog" class="modal" id="modalCaseDelete"> 
                            <iframe class="modal--uploads" id="iframeCaseDelete" data-src="{% url 'delete_case' object.id %}" src="about:blank" title="Cliënt defintief verwijderen"></iframe>
                        </div>
                        {% else %}
                        {{ object.delete_request_seconds_left|duration }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    {% include 'core/pagination.html' with object_list=object_list filter_params='' %}
</section>
{% endblock %}
