{% extends 'cases/case_page.html' %}
{% load static i18n html_tags %}

{% block processtappen %}
<!-- START PROCESSTAPPEN -->
<!-- TODO: interactie uitzoeken knoppen 'per stap' 'alle gegevens' -->
<section class="section section--forms">
    <h2>Overige gegevens</h2>
    <div class="tab-container">
        <a href="{% url 'case' object.id %}" class="button button--tertiary">Per stap</a>
        <span class="button button--tertiary selected">Alle gegevens</span>
    </div>
    <div class="details-client details-client--basic">
        <dl>
            {% for k, client_info in object.to_dict.items %}
            {% if forloop.counter > 6 %}
            <div>
                <dt>{{ client_info.label }}: </dt>
                <dd>
                    {% if client_info.value|is_date %}
                        {{ client_info.value|str_date_to_date|date:"j b Y" }}
                    {% else %}
                        {{ client_info.value }}
                    {% endif %}
                </dd>
            </div>
            {% endif %}
            {% endfor %}
        </dl>
    </div>

</section>
<!-- END PROCESSTAPPEN -->
{% endblock %}
