{% extends 'base.html' %}

{% block title %} - Wijzig woning{% endblock %}

{% block skiplinks %}{% endblock %}
{% block header %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block messages %}{% endblock %}
{% block feedback %}{% endblock %}

{% block main %}
<div class="content-container">
    <button data-handler="modal-close" class="button button--close">
        <svg width="20" height="20" title="Sluit venster">
            <use href="#close" xlink:href="#close" width="20" height="20"></use>
        </svg>
        <span class="sr-only">Sluit venster</span>
    </button>
    <h2>Wijzig woning</h2>
    <hr />
    <p>
        Weet je zeker dat je de woning voor [client] wilt wijzigen?
    </p>
    <h3>Huidige woning</h3>
    <p>Janneke van der Poelstraat 195A<br/>
        1000 AZ Amsterdam</p>

        <form>
            <fieldset>
                
                <legend>
                    <h3 class="section--step__title">
                        Nieuwe woning
                    </h3>
                </legend>
                    
                <div class="section sub-section">    
                    <div class="form-field form-field--textinput">
                        <label for="id_straatnaam">Straatnaam *:</label>
                        <input type="text" name="straatnaam" id="id_straatnaam" required>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item u-margin-bottom">
                            <div class="form-field form-field--textinput u-padding-right-2x">
                                <label for="id_huisnummer">Huisnummer *:</label>
                                <input type="text" name="huisnummer" id="id_huisnummer" required>
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="form-field form-field--textinput">
                                <label for="id_toevoeging">Toevoeging:</label>
                                <input type="text" name="toevoeging" id="id_toevoeging">
                            </div>
                        </div>
                    </div>
                    <div class="flex-container">
                        <div class="flex-item u-margin-bottom">
                            <div class="form-field form-field--textinput u-padding-right-2x">
                                <label for="id_postcode">Postcode *:</label>
                                <input type="text" name="postcode" id="id_postcode" required>
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="form-field form-field--textinput">
                                <label for="id_plaatsnaam">Plaatsnaam *:</label>
                                <input type="text" name="plaatsnaam" id="id_plaatsnaam" required>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="form-field form-field--selectinput">
                            <label for="{{ form.woningcorporatie_medewerker.id_for_label }}">{{ form.woningcorporatie_medewerker.label }} *</label>
                            {{ form.woningcorporatie_medewerker }}
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="form-field form-field--buttons screen-only u-margin-top-3x">
                <input type="submit" value="Wijzig woning en breng Wonen (gemeente) op de hoogte" class="button button--primary">
                <a href="#" data-handler="modal-close" class="button button--secondary">Annuleer</a>
            </div>
            
        </form>
</div>    
{% endblock %}
