{% extends 'base.html' %}
{% load client_status_tags %}
{% block title %} - Cliënt aanpassen{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Cli&euml;nt gegevens aanpassen</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h2>{{form_context.slug|form_verbose}}</h2>
    
    <p>De huidige status van het formulier:</p>
    {% include 'cases/status/current.html' with object=case_status %}

    <br>
    <br>
    <br>
    <br>
    {% comment %} <p><strong>Je hebt de volgnde mogelijke optie</strong></p> {% endcomment %}
    <form method="post">
        {% csrf_token %}
        <div class="form-field form-field--radioselect form-field-history-container" data-decorator='form-rule' data-rule-data='[{"values": [2], "fields": ["form_new_options"]}]'>
            <label for="{{ form.form_continue_options.id_for_label }}">{{ form.form_continue_options.label }}</label>
            {{ form.form_continue_options }}
        </div>
        <div class="form-field form-field--radioselect form-field-history-container">
            <label for="{{ form.form_new_options.id_for_label }}">{{ form.form_new_options.label }}</label>
            {{ form.form_new_options }}
        </div>


        <div class="form-navigation">
            <a href="{% url 'case' object.id %}" class="button button--secondary">Annuleer</a>
            <span></span>
            <button class=" button--next" type="submit">
                <span class="value">Volgende</span>
                <div class="arrow"></div>
            </button>
        </div>
    </form>
    <br>
    <br>
    <br>

    {% comment %} <h3>Huidige niet bewaarde gegevens</h3>

    <dl>
    {% for k, v in not_empty_fields.items %}
        <dt>
            {{k}}
        </dt>
        <dd>
            {{v}}
        </dd>
        
    {% endfor %}
    </dl> {% endcomment %}
    

{% endblock %}
