{% extends 'base.html' %}
{% load client_data_tags html_tags client_status_tags %}

{% block title %} - Deel cliënt gegevens{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step"><a href="{% url 'case' form.instance.id %}">Cliënt: {{ form.instance.client_name }}</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Verstuur cli&euml;ntgegevens {{ title }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--form u-margin-bottom-sticky">
    <h2>Controleer de gegevens '{{ title }}'</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% client_status form.instance slug as status %}
        {% if status.percentage >= 100 %}
        {% if organization_list %}

            {% for organization in organization_list  %}
            <div class="u-margin-bottom-2x u-border-bottom">
                <p class="u-margin-bottom-2x">De volgende informatie van <strong>{{ form.instance.client_name }}</strong> wordt per mail verstuurd naar <strong>{{ organization.main_email }}</strong> van <strong>{{ organization.name }}</strong>.</p>
                
                <section class="section section--client u-margin-bottom-2x">
                    <h3>Informatie</h3>
                    <div class="details-client">
                        <dl>
                        {% case_data form.instance organization.field_restrictions as data %}
                        {% for k, field in data.items  %}
                        <div>
                            <dt>{{ field.label }}: </dt>
                            <dd>
                                {% if field.value|is_date %}
                                    {{ field.value|str_date_to_date|date:"j b Y" }}
                                {% else %}
                                    {{ field.value }}
                                {% endif %}
                            </dd>
                        </div>
                        {% endfor %}
                        </dl>
                    </div>
                </section>
                {% if document_list %}
                
                <section class="section section--client u-margin-bottom-2x">
                    <h3>Bijlagen</h3>
                    <ul class="list-as-table u-width-60">
                        {% for document in document_list %}
                        <li>{{ document }}</li>
                        {% endfor %}
                    </ul>
                </section>
                {% endif %}
            </div>
            {% endfor %}
            <div data-submit-container class="form-field form-field--buttons form-field--buttons-sticky screen-only">
                <input type="submit" value="Versturen" class="button button--primary">
                <a href="{% url 'case' form.instance.id %}" class="button button--secondary">Annuleren</a>
            </div>
        {% else %}
        {% endif %}
        {% else %}
            <h3>Aanvraag incompleet</h3>
            <p>De volledigheid van de benodigde informatie is <strong>{{ status.percentage }}%</strong>.<br>
                De volgende informatie ontbreekt:</p>
            <ul>
                {% for f in status.remaining_fields %}
                <li><strong>{{ f }}</strong></li>
                {% endfor %}
            </ul>
            <div data-submit-container class="form-field form-field--buttons form-field--buttons-sticky screen-only">
                <a href="{% url 'update_case' form.instance.id slug %}" class="button button--primary">Terug naar '{{ title }}'</a>
            </div>
        {% endif %}
    </form>
</section>
{% endblock %}
