{% extends 'base.html' %}
{% load client_data_tags html_tags %}

{% block title %} - Deel cliënt gegevens{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Verstuur cli&euml;ntgegevens {{ title }}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
<section class="section section--form">
    <h2>Verstuur cli&euml;ntgegevens {{ title }}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if organization_list %}
            <h3>De informatie over deze cliënt wordt met de volgende organisaties gedeeld.</h3>


        {% for organization in organization_list  %}
            <h4>De organisatie '{{ organization.name }}' ziet de volgende informatie.</h4>
            <table>
            {% case_data form.instance organization.field_restrictions as data %}
        {% for k, field in data.items  %}
            <tr>
                <th>{{ field.label }}: </th>
        <td>
                    {% if field.value|is_date %}
                        {{ field.value|str_date_to_date|date:"j b Y" }}
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>

            {% endfor %}
        <div data-submit-container class="form-field form-field--buttons screen-only">
            <input type="submit" value="Verstuur" class="button button--primary">
            <a href="{% url 'case' form.instance.id %}" class="button button--secondary">Annuleer</a>
        </div>
        {% else %}
        {% endif %}
    </form>
</section>
{% endblock %}
