{% extends 'base.html' %}

{% block title %} - Deel cliënt gegevens{% endblock %}

{% block main %}
<section class="section section--form">
    <h1>Verstuur '{{ title }}'</h1>
    <form method="post" novalidate>
        {% csrf_token %}

        {{ form.errors }}
        {{ form.to_email.label }}
        {{ form.to_email }}
        <div data-submit-container class="form-field form-field--buttons screen-only">
            <input type="submit" value="Verstuur" class="button button--primary">
            <a href="{{ discard_url }}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
</section>
{% endblock %}
