{% extends 'base.html' %}

{% block title %} - Alle formulieren{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb screen-only" aria-label="Kruimelpad">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-step sr-only" aria-current="location">Alle formulieren</li>
    </ol>
</nav>
{% endblock %}

{% block main %}
    <section class="section section--all-forms">
        <h2>Alle formulieren</h2>

        <ul class="list-vertical">
            <li><a href="{% url 'aanvraag_urgentie' %}">Aanvraag urgentie</a></li>
            <li><a href="{% url 'aanvraag_verlenging_trajectwijziging_mobw' %}">Aanvraag verlenging trajectwijziging MOBW</a></li>
        </ul>
    </section>
{% endblock %}
