{% extends 'base.html' %}
{% load client_status_tags %}
{% block title %} - {% if title %}{{ title }}{% else %}Generiek formulier{% endif %}{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb screen-only" aria-label="Kruimelpad">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-step"><a href="{% url 'cases_by_profile' %}">Mijn cli&euml;nten</a></li>
        <li class="breadcrumb-step sr-only" aria-current="location">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block main %}
<section class="section section--form section--form-{{ title|slugify }}">
    {% if form.instance.id %}{% client_status form.instance key as status  %}{% endif %}
    <form method="post" enctype="multipart/form-data" novalidate>
        {% if inpage_navigation %}
        <div class="section__grid">
        <div class="section__main">
        {% endif %}

        <h2>{% if title %}{{ title }}{% else %}Generiek formulier{% endif %}</h2>
        {% csrf_token %}
        {{ form.as_sections.errors }}

        {% if form.errors %}
            <div class="generic-form-errors" aria-live="polite">
                <ul role="list" class="errorlist list-vertical" aria-live="polite">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>
                                <a href="#{{field.id_for_label }}">{{field.label}}</a>:
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% for section in form.as_sections.sections %}
            <fieldset class="section section--step{% if not section.step_complete %} section--incomplete{% endif %}">
                {% if section.title %}
                <legend id="{{ section.title|slugify }}">
                    <h3 class="section--step__title">
                        {{ section.title }}&nbsp;{% if inpage_navigation %}<div class="dot dot--large{% if section.step_complete %} dot--checked{% else %} dot--blue{% endif %}">{% if section.step_complete %}&#10003;{% endif %}</div>{% endif %}
                    </h3>
                </legend>
                {% endif %}
                {% if section.description %}
                <p class="section--step__description">{{ section.description }}</p>
                {% endif %}

                {% for sub_section in section.section_list %}
                    <div class="section sub-section{% if not sub_section.step_complete %} section--incomplete{% endif %}">
                        {% if sub_section.title %}
                        <h4 class="sub-section__title" id="{{ sub_section.title|slugify }}">
                            {{ sub_section.title }}&nbsp;{% if inpage_navigation %}<div class="dot dot--small{% if sub_section.step_complete %} dot--checked{% else %} dot--blue{% endif %}">{% if sub_section.step_complete %}&#10003;{% endif %}</div>{% endif %}
                        </h4>
                        {% endif %}
                        {% if sub_section.description %}
                        <p class="sub-section__description">{{ sub_section.description }}</p>
                        {% endif %}

                        {% for field in sub_section.fields %}
                            {{ field.rendered|safe }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}

        {{ form.as_sections.hidden_fields }}
        {% if inpage_navigation %}
        </div>
        <div class="section__aside">

        <div class="floating-section-base">
            <div class="floating-section-wrapper">
                <div>
                {% for section in form.as_sections.sections %}
                    <div class="details-wrapper">
                        <div class="dot dot--large{% if section.step_complete %} dot--blue{% else %} dot--checked{% endif %}">{% if section.step_complete %}&#10003;{% endif %}</div>
                        <details class="details">
                            <summary class="details__header">
                            <h4 class="details__title"><a href="#{{ section.title|slugify }}" class="details__title__link">{{ section.title }}</a></h4>
                            </summary>
                        </details>
                    </div>
                    {% for sub_section in section.section_list %}
                        <div class="details-wrapper">
                            <div class="dot dot--small{% if sub_section.step_complete %} dot--blue{% else %} dot--checked{% endif %}">{% if sub_section.step_complete %}&#10003;{% endif %}</div>
                            <details class="details">
                                <summary class="details__header">
                                <h5 class="details__title"><a href="#{{ sub_section.title|slugify }}" class="details__title__link">{{ sub_section.title }}</a></h5>
                                </summary>
                            </details>
                        </div>
                    {% endfor %}
                {% endfor %}

                    <div class="details-wrapper">
                        <div class="dot dot--large"></div>
                        <details class="details">
                            <summary class="details__header">
                            <h4 class="details__title">

                            </h4>
                            </summary>
                        </details>
                    </div>
                </div>
                <div class="">
                    <div class="form-field form-field--buttons-vertical screen-only">
                        <a href="#" data-handler="ajax-forms-submit" class="button button--primary">Opslaan</a>
                        <a href="{{ discard_url }}" class="button button--secondary">Annuleer</a>
                        {% if form.instance.id and share and status.percentage >= 100 %}<button type="submit" name="next" value="{% url 'send_case' form.instance.id slug %}" class="button button--secondary">Verstuur aanvraag</button>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        {% endif %}

        {% if inpage_navigation %}
        <div class="show-mobile-only">
        {% endif %}
        <div data-submit-container class="form-field form-field--buttons screen-only show-mobile-only">
            <input type="submit" value="Opslaan" class="button button--primary">
            <a href="{{ discard_url }}" class="button button--secondary">Annuleer</a>
            {% if form.instance.id and share and status.percentage >= 100 %}<button type="submit" name="next" value="{% url 'send_case' form.instance.id slug %}" class="button button--secondary">Verstuur aanvraag</button>{% endif %}
        </div>
        {% if inpage_navigation %}
        </div>
        {% endif %}
    </form>
</section>
{% endblock %}
