{% extends 'base.html' %}

{% block title %} - {% if title %}{{ title }}{% else %}Generiek formulier{% endif %}{% endblock %}

{% block main %}
<section class="section section--form section--form-{{ title|slugify }}">
    <h2>{% if title %}{{ title }}{% else %}Generiek formulier{% endif %}</h2>

    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.as_sections.errors }}
        {% for section in form.as_sections.sections %}
            <fieldset class="section section--step">
                <legend><h3 class="section--step__title">{{ section.title }}</h3></legend>
                <p class="section--step__description">{{ section.description }}</p>

                {% for sub_section in section.section_list %}
                    <div class="section sub-section">
                        <h4 class="sub-section__title">{{ sub_section.title }}</h4>
                        <p class="sub-section__description">{{ sub_section.description }}</p>

                        {% for field in sub_section.fields %} 
                            {{ field|safe }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}
        {{ form.as_sections.hidden_fields }}

        <div data-submit-container class="form-field form-field--buttons">
            <input type="submit" value="Opslaan" class="button button--primary">
            <a href="{% url 'form_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
</section>
{% endblock %}
