{% extends 'forms/generic_form.html' %}
{% load client_data_tags html_tags %}
{% block subsection %}
<div class="section sub-section{% if not sub_section.step_complete %} section--incomplete{% endif %}">
    {% if sub_section.title %}
    <h4 class="sub-section__title" id="{{ sub_section.title|slugify }}">
        {{ sub_section.title }}
        <!-- &nbsp;{% if inpage_navigation %}<div class="dot dot--small{% if sub_section.step_complete %} dot--checked{% else %} dot--blue{% endif %}">{% if sub_section.step_complete %}&#10003;{% endif %}</div>{% endif %} -->
    </h4>
    {% endif %}
    {% if sub_section.description %}
    <p class="sub-section__description">{{ sub_section.description }}</p>
    {% endif %}

    {% for field in sub_section.fields %}

        {{ field.rendered|safe }}

        {% get_case_versions case_versions field.object.name as history %}
        {% if history %}
        <div class="form-field-history">
            <strong class="u-margin-none">Eerder ingevuld in </strong>
            <ul class="u-list-style-none">
        {% for h in history %}
                <li>
                    <details>
                        <summary>{{ h.version_verbose }} <small>({{ h.saved }})</small>
                            <svg class="icon-details--closed" width="14" height="9">
                                <use href="#chevron-down" xlink:href="#chevron-down" width="14" height="9"></use>
                            </svg>
                            <svg class="icon-details--open" width="14" height="9">
                                <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                            </svg>
                        </summary>
                        <div class="content">
                            {{ h.value }}
                        </div>
                    </details>
                </li>
        {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
