// ********************
// IMPORT SCSS
// * I added numbering to the files where the import order of it matters
// ********************    

@import
    "basics/01_fonts",
    "basics/02_colors",
    "basics/03_mediaqueries",
    "basics/04_helper-classes",
    "basics/05_typography",
    "basics/06_site-layout",
    "basics/07_forms",
    "basics/08_tables",
    "basics/09_print",
    // "basics/10_visual-debugging", 

    "sections/login",
    "sections/documents",
    "sections/timeline",
    "sections/organisations",
    "sections/client",

    // COMPONENTS
    "components/buttons",
    "components/breadcrumb",
    "components/site-navigation",
    "components/tags",
    "components/site-navigation",
    "components/alert",
    "components/modal",
    "components/pagination";


    .form-field-history {
        margin: -1rem 1rem 2rem;
        font-size: .9rem;
        color: $neutral-grey4;

        details {

            .icon-details--open {
                display: none;
            }
            .icon-details--closed {
                display: inline;
            }

            &[open]{
                .icon-details--closed {
                    display: none;
                }
                .icon-details--open {
                    display: inline;
                }
            }
            > summary {
                list-style: none;
                small {
                    font-size: .8rem;
                }

                &::-webkit-details-marker {
                    display: none;
                }
            }
            >.content {
                margin: 5px 10px 20px;
                padding: 5px 10px 10px;
                border: 1px solid $neutral-grey4;
                *:last-child {
                    margin-bottom: 0;
                }
            }
        }

        // li {
        //     margin-bottom: 0;
        //     padding-bottom: 0;
            
        //     .content {
        //         height: 0;
        //         padding: 0 5px;
        //         overflow: hidden;
        //         margin-top: 0;
        //         transition: all .3s ease-in-out;
        //     }
        //     &:focus-within {
        //         .content {
        //             margin-top: 5px;
        //             height: 3rem;
        //             padding: 5px;
        //             border: 1px solid $neutral-grey4;
        //         }
        //     }
        // }

    }

    // .form-field--textarea + .history-past {
    //     display: block;
    // }
    // #woningnet + .form-field + .history + .history-changed {
    //     display: block;
    // }