{% load staticfiles auth_tags %}

{% comment %}
    renders a document list-item which is used in document lists and homepage
{% endcomment %}

{% if request.user|has_group:"wonen" or object.document_to_document_version.all|length %}
    {% with document_version=object.document_to_document_version.all.0 %}
        <li class="document">
            <a href="{{ document_version.uploaded_file.url }}" class="version" download>
                <svg class="document__icon"  width="40" height="40" >
                    <use href="#{{ object.document_type_value|lower }}" attr.xlink:href="#{{ object.document_type_value|lower }}"  width="40" height="40" />
                </svg>
                <h3>{{ object.document_type_value }}<br>{{ object.name }}</h3>
                <p>
                    {% if request.user|has_group:"wonen" %}
                    Aantal versies: <strong>{{ object.document_to_document_version.all|length }}</strong><br>
                    {% endif %}
                    <time timestamp="{{ document_version.uploaded|date }}">
                        Laatst gewijzigd: {{ document_version.uploaded|date:"j b" }}.
                    </time>
                </p>
            </a>
            {% if request.user|has_group:"wonen" %}
                <p>
                    <a href="{% url 'add_document_version_to_document' object.id %}" class="document__version-update button button--secondary">
                        <svg class="button__icon"  width="20" height="20" >
                            <use href="#upload" attr.xlink:href="#upload"  width="20" height="20" />
                        </svg>

                        <span class="button__label">Vervangen</span>
                    </a>
                </p>
            {% endif %}
        </li>
    {% endwith %}
{% endif %}
