{% load staticfiles auth_tags %}

{% comment %}
    renders a document list-item which is used in document lists and homepage
{% endcomment %}

{% if request.user|has_group:"wonen" or object.document_to_document_version.all|length %}
    {% with document_version=object.document_to_document_version.all.0 %}
        <li class="document">
            <a href="{{ document_version.uploaded_file.url }}" class="version" download>
                <img src="{% static object.document_type_path %}">
                <h3>{{ object.document_type_value }}<br>{{ object.name }}</h3>
                <p>
                    {% if request.user|has_group:"wonen" %}
                    Aantal versies: <strong>{{ object.document_to_document_version.all|length }}</strong><br>
                    {% endif %}
                    <time timestamp="{{ document_version.uploaded|date }}">
                        Laatst gewijzigd: {{ document_version.uploaded|date:"j b" }}.
                    </time>
                </p>
            </a>
            {% if request.user|has_group:"wonen" %}
                <p>
                    <a href="{% url 'add_document_version_to_document' object.id %}" class="version__add">
                        <img src="{% static 'images/replace.svg' %}" title="Vervang document">
                    </a>
                </p>
            {% endif %}
        </li>
    {% endwith %}
{% endif %}
