{% load static auth_tags %}

{% comment %}
    http://0.0.0.0:8088/document/
{% endcomment %}

{% block main %}
    <section class="section section-downloads">
        {% if title %}<h2>{{ title }}</h2>{% endif %}
        <ul class="downloads {% if request.user|has_group:"wonen" %}downloads--logged_in{% endif %} {% if class %}downloads--{{ class }}{% endif %}">
        {% if document_list %}
            {% include 'documents/snippets/document_list.html' %}
        {% endif %}
        {% if request.user|has_group:"wonen" %}
            {% include 'documents/snippets/upload.html' with moment_id=moment.id %}
        {% endif %}
        </ul>
    </section>
{% endblock %}
