{% load staticfiles auth_tags %}
{% load i18n %}

{% if request.user|has_group:"wonen" or object.document_to_document_version.all|length %}
    {% with document_version=object.document_to_document_version.all.0 %}
    <li class="document">
        <a href="{{ document_version.uploaded_file.url }}" class="document__version" download target="_blank" rel="noopener">
            <svg class="document__icon"  width="40" height="40" >
                <use href="#{{ object.document_type_value|lower }}" xlink:href="#{{ object.document_type_value|lower }}"  width="40" height="40" />
            </svg>

            {% if object %}
                <div class="document__header">
                    {% if class == 'timeline' %}
                        <h4 class="document__name">{{ object.document_type_value }} {{ object.name }}</h4>
                    {% else %}
                        <h3 class="document__name">{{ object.document_type_value }} {{ object.name }}</h3>
                    {% endif %}
                </div> 

                {% if document_version.uploaded %}
                    
                        {% language 'nl' %}
                        <time timestamp="{{ document_version.uploaded|date }}" class="document__date">
                            Gewijzigd: {{ document_version.uploaded|date:"j b" }}.
                        </time>
                        {% endlanguage %}
                    {% else %}
                    <span class="document__date">&nbsp;</span>
                {% endif %}

            {% endif %}
        </a>

        <p class="document__description" data-tooltip="{{ object.description }}">
            <svg class="document__description-icon" width="32" height="32" >
                <title> {{ object.description }}</title>
                <use href="#info" xlink:href="#info" width="32" height="32" />
            </svg>
        </p>    
        
        {% if request.user|has_group:"wonen" and object %}
            <p class="document__change">
                <a href="{% url 'add_document_version_to_document' object.id %}" class="document__version-update button button--secondary">
                    <svg class="button__icon"  width="20" height="20" >
                        <use href="#upload" xlink:href="#upload"  width="20" height="20" />
                    </svg>

                    <span class="button__label">Vervangen</span>
                </a>
            </p>
        {% endif %}
    </li>
    {% endwith %}
{% endif %}
