{% load staticfiles auth_tags %}
{% load i18n %}

{% if request.user|is_beheerder or object.document_to_document_version.all|length %}
    {% with document_version=object.document_to_document_version.all.0 %}
    <li class="document">
        <a href="{% if document_version %}{% url 'download_documentversion' document_version.id %}{% endif %}" class="document__version" target="_blank" rel="noopener">
            <svg class="document__icon document__icon--default"  width="40" height="40" >
                <use href="#{{ object.document_type_value|lower }}" xlink:href="#{{ object.document_type_value|lower }}"  width="40" height="40"></use>
            </svg>
            <svg class="document__icon document__icon--hover"  width="40" height="40" >
                <use href="#download" xlink:href="#download"  width="40" height="40"></use>
            </svg>

            {% if object %}
                <div class="document__header">
                    {% if class == 'timeline' %}
                        <h4 class="document__name" data-document-type="{{ object.document_type_value }}">{{ object.name }}</h4>
                    {% else %}
                        <h3 class="document__name" data-document-type="{{ object.document_type_value }}">{{ object.name }}</h3>
                    {% endif %}
                </div>

                {% if document_version.uploaded %}
                    {% language 'nl' %}
                    <time timestamp="{{ document_version.uploaded|date }}" class="document__date">
                        gewijzigd: {{ document_version.uploaded|date:"j b Y" }}
                    </time>
                    {% endlanguage %}
                {% else %}
                    <span class="document__date">&nbsp;</span>
                {% endif %}


            {% endif %}
        </a>

        <div class="document__info-wrapper">
            <div class="document__info">
                <p class="hide-on-mobile">
                    <strong data-document-type="{{ object.document_type_value }}">{{ object.name }}</strong>
                </p>

                {% if object.description %}
                    {{ object.description|linebreaks }}
                {% endif %}

                {% if request.user|is_beheerder and object %}
                    <ul role="list">
                        <li>
                            <a href="{% url 'add_document_version_to_document' object.id %}" class="document__version-update button button--primary button--icon" title="Vervang dit {{ object.document_type_value }}">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#upload" xlink:href="#upload"  width="20" height="20"></use>
                                </svg>

                                <span class="button__label">Vervangen</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'document_update' object.id %}" class="document__version-update button button--secondary button--icon" title="Pas de informatie over dit {{ object.document_type_value }} aan">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#edit-document" xlink:href="#edit-document"  width="20" height="20"></use>
                                </svg>

                                <span class="button__label">Wijzigen</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'document_delete' object.id %}" class="document__version-update button button--secondary button--icon"  title="Verwijder dit {{ object.document_type_value }}">
                                <svg class="button__icon"  width="20" height="20" >
                                    <use href="#trash" xlink:href="#trash"  width="20" height="20"></use>
                                </svg>

                                <span class="button__label">Verwijderen</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </li>
    {% endwith %}
{% endif %}
