{% load staticfiles auth_tags %}

{% if request.user|has_group:"wonen" or object.document_to_document_version.all|length %}
    {% with document_version=object.document_to_document_version.all.0 %}
    <li class="document">
        <a href="{{ document_version.uploaded_file.url }}" class="document__version" download>
            <svg class="document__icon"  width="40" height="40" >
                <use href="#{{ object.document_type_value|lower }}" xlink:href="#{{ object.document_type_value|lower }}"  width="40" height="40" />
            </svg>

            {% if object %}
                <div class="document__header">
                    <h3 class="document__name">{{ object.document_type_value }} {{ object.name }}</h3>
                </div>

                {% if  document_version.uploaded %}
                    <time timestamp="{{ document_version.uploaded|date }}" class="document__date">
                        Laatst gewijzigd: {{ document_version.uploaded|date:"j b" }}.
                    </time>
                    {% else %}
                    <span class="document__date">&nbsp;</span>
                {% endif %}

            {% endif %}
        </a>

        {% if request.user|has_group:"wonen" and object %}
            <p class="document__change">
                <a href="{% url 'add_document_version_to_document' object.id %}" class="document__version-update button button--secondary">
                    <svg class="button__icon"  width="20" height="20" >
                        <use href="#upload" xlink:href="#upload"  width="20" height="20" />
                    </svg>

                    <span class="button__label">Vervangen</span>
                </a>
            </p>
        {% endif %}
    </li>
    {% endwith %}
{% endif %}
