# Core
pytz==2018.9
Django==2.2.13
newrelic==4.12.0.113

# For the persistence stores
psycopg2-binary==2.7.7
dj-database-url==0.5.0

# Model Tools
django-model-utils==3.1.2
django_unique_upload==0.2.1

# Rest apis
djangorestframework==3.9.1
Markdown==3.0.1
django-filter==2.1.0
django-cors-headers==3.1.1
drf-yasg==1.17.0

# Developer Tools
ipdb==0.11
ipython==7.2.0
mkdocs==1.0.4
flake8==3.7.5
sentry-sdk==0.7.10
faker==2.0.4

# Testing
mock==2.0.0
factory-boy==2.11.1
django-nose==1.4.6
nose-progressive==1.5.2
coverage==4.5.2

# Static and Media Storage
django-storage-swift
django-storages==1.7.1
boto3==1.9.93

# Settings
django-constance[database]==2.4.0

# Other
requests==2.22.0
django-webpack-loader
sendgrid==6.2.0
django-multiselectfield==0.1.12
textile==4.0.1
django-formtools==2.2

# Authentication
datapunt_keycloak_oidc
mozilla-django-oidc==1.2.2
djangorestframework-simplejwt==4.4.0
