{% extends 'base.html' %}

{% block title %} - Organisatie aanmaken
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">Organisatie aanmaken</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <h2>Organisatie aanmaken</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-field form-field--buttons screen-only">
            <input type="submit" value="Aanmaken" class="button button--primary">
            <a href="{% url 'federation_list' %}" class="button button--secondary">Annuleer</a>
        </div>
    </form>
{% endblock %}
