{% extends 'base.html' %}
{% load auth_tags %}
{% block title %} - Organisatie wijzigen
{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            {% if request.user|is_beheerder %}
            <li class="breadcrumb-step"><a href="{% url 'federation_list' %}">Alle organisaties</a></li>
            {% endif %}
            <li class="breadcrumb-step sr-only" aria-current="location">Gegevens wijzigen {{object.name}}</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <div class="flex-container u-margin-bottom-3x">
        <div class="flex-item">
            <h2>Gegevens wijzigen {{object.name}}</h2>
        </div>
        {% if request.user|is_beheerder %}
        <div class="flex-item u-text-align--right">
            <div class="form-field form-field--buttons screen-only">
                <a href="{% url 'federation_delete' form.instance.id %}" class="button button--secondary" title="ga naar het verwijderen van deze organisatie">
                    Verwijder organisatie
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
        {% if not request.user|is_beheerder %}
        {% if request.user|user_federation_type_is_adw or request.user|user_federation_type_is_woningcorporatie %}
        <p>Vul een e-mail-adres in:<br>alleen dit centrale e-mail adres ontvangt een notificatie wanneer een formulier wordt ingediend</p>

        <p>Vul géén e-mail adres in:<br>alle medewerkers van {{ request.user.federation.name }} met een omslagroute-account, ontvangen een notificatie wanneer een formulier wordt ingediend</p>
        {% else %}
        <p>Dit e-mailadres heeft (nog) geen functie binnen de omslagroute website.</p>
        {% endif %}
        {% endif %}

        {% if form.instance.user_list.all and request.user|is_beheerder %}
        <h3 class="u-margin-top-4x">Gebruikers in deze organisatie</h3>
        <table class="case-list">
            <thead>
                <th>E-mailadres (gebruikersnaam)</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Gebruiker rol</th>
                <th>Actie</th>
            </thead>
            <tbody>
                {% for user in form.instance.user_list.all %}
                <tr>
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                        {{user.first_name}}
                    </td>
                    <td>
                        {{user.last_name}}
                    </td>
                    <td>
                        {{user.user_type|user_type_verbose}}
                    </td>
                    <td>
                        <a href="{% url 'update_user' user.id %}?next={% url 'federation_update' object.id %}">Wijzig</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="form-field form-field--buttons screen-only u-margin-top-3x">
            <input type="submit" value="Opslaan" class="button button--primary">
            {% if request.user|is_beheerder %}
                <a href="{% url 'federation_list' %}" class="button button--secondary">Annuleer</a>
            {% else %}
                <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
