{% extends 'base.html' %}

{% block title %} - Beheer processtappen{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb screen-only" aria-label="Kruimelpad">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-step sr-only" aria-current="location">Beheer processtappen</li>
    </ol>
</nav>
{% endblock %}

{% block main %}
    <section class="section section--timeline section--timeline-management"> 

        <div class="flex-container u-margin-bottom-3x">
            <div class="flex-item">
                <h2>Beheer processtappen</h2>
            </div>
            <div class="flex-item u-text-align--right">
                <div class="form-field form-field--buttons screen-only">
                    <a href="{% url 'home' %}" class="button button--primary" title="ga terug naar de vorige weergave">
                        Toon documenten
                    </a>
                </div>
            </div>
        </div>
        
        <form method="post" enctype="multipart/form-data" data-decorator="edit-timeline">
            {% csrf_token %}
            {{ moment_form_set.management_form }}
            <!-- {{ moment_form_set.errors }} -->
            <div data-moment-container class="details-list-wrapper">
                <a href="#" class="modal-bg" data-handler="exit-edit-moment"></a>
                {% for moment in moment_form_set %}
                    {% if moment.instance.id %}
                    {% include 'timeline/snippets/moment_section_edit.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            {% for moment in moment_form_set %}
                {% if not moment.instance.id %}
                    {% include 'timeline/snippets/moment_section_new.html' %}
                {% endif %}
            {% endfor %}

            <div data-submit-container class="form-field form-field--buttons screen-only">
                <input type="submit" value="Opslaan" class="button button--primary">
                <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>
            </div>
        </form>
    </section>
{% endblock %}

