{% extends 'base.html' %}

{% block main %}
<section class="section section--timeline section--timeline-management">
    <h2>Timeline beheer</h2>

    {% if request.user.is_authenticated %}
        <p class="details-admin">
            <a href="{% url 'home' %}" class="button button--primary">
                Toon documenten
            </a>
        </p>
    {% endif %}

    <form method="post" enctype="multipart/form-data" data-decorator="edit-timeline">
        {% csrf_token %}
        {{ moment_form_set.management_form }}
        <!-- {{ moment_form_set.errors }} -->
        <div data-moment-container class="details-list-wrapper">
            {% for moment in moment_form_set %}
                {% if moment.instance %}
                {% include 'timeline/snippets/moment_section_edit.html' %}
                {% endif %}
            {% endfor %}
        </div>
        {% include 'timeline/snippets/moment_section_new.html' %}
    </form>
</section>
{% endblock %}
