{% extends 'base.html' %}

{% block main %}
<section class="section section--timeline section--timeline-management">
    <h2>Timeline beheer</h2>

    <form method="post" enctype="multipart/form-data" data-decorator="edit-timeline">
        {% csrf_token %}

        {{ moment_form_set.management_form }}
        <!-- {{ moment_form_set.errors }} -->
        <div data-moment-container>
            {% for moment in moment_form_set %}

                <div class="details-wrapper" 
                    data-id="{{ moment.instance.id }}" 
                    data-order="{{ moment.instance.order }}" 
                    data-moment-order="{{ moment.instance.order }}"
                    data-moment 
                    data-mode="static">

                    <div class="dot dot--large"></div>
                    <details class="details">
                        <summary class="details__header">
                            <h3 class="details__title">{{ moment.instance.name }}</h3>
                            <span class="details__toggle-icon">
                                <svg class="details__header-opened" width="14" height="9">
                                    <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9" />
                                </svg>
                                <svg class="details__header-closed" width="14" height="9">
                                    <use href="#chevron-down" xlink:href="#chevron-up" width="14" height="9" />
                                </svg>
                            </span>
                            
                            <div class="change-order">
                                <a href="#" data-handler="moment-up">Naar boven</a>&nbsp;&nbsp;<a href="#" data-handler="moment-down">Naar beneden</a>
                                <a href="#" data-handler="delete-moment">Verwijderen</a>
                            </div>
                        </summary>

                        <div class="details__content">
                            <p>{{ moment.instance.description }}</p>

                            <a href="#edit--{{ moment.instance.id }}">Pas deze stap aan</a>

                            <ul class="downloads">
                            {% if moment.instance.documents.all %}
                                {% include 'documents/snippets/document_list.html' with class='timeline' document_list=moment.instance.documents.all  %}
                            {% endif %} 
                            </ul>
                        </div>

                        <div class="details__headerhoverblock"></div>

                        <fieldset data-decorator="edit-moment" id="edit--{{ moment.instance.id }}">
                            <!-- {% if not moment.instance.id %}
                                <h2>Nieuw tijdslijn moment</h2>
                            {% else %}
                                <h2>{{ moment.instance.id }}</h2>
                                <a href="#" data-handler="moment-up">Naar boven</a>&nbsp;&nbsp;<a href="#" data-handler="moment-down">Naar beneden</a>
                                <a href="#" data-handler="delete-moment">Verwijderen</a>
                            {% endif %} -->

                            <div class="form-field">
                                {{ moment.name.label_tag }}
                                <p class="help-text">
                                    (Naam)
                                </p>
                                {{ moment.name }}
                            </div>

                            <div class="form-field">
                                {{ moment.description.label_tag }}
                                <p class="help-text">
                                    (Beschrijving)
                                </p>
                                {{ moment.description }}
                            </div>

                            <div class="form-field">
                                <a href="#" class="button button--primary" data-handler="save-moment">Opslaan</a><br>
                            </div>
                        </fieldset>
                    </details>

                    <button class="new-moment__add" data-handler="new-moment" title="Voeg hier een processtap toe">
                        <div class="new-moment__line"></div>
                        <div class="button button--icon">
                            <svg class="details__header-closed" width="16" height="16">
                                <title>Voeg stap toe</title>
                                <use href="#add-document" xlink:href="#add-document" width="16" height="16" />
                            </svg>
                        </div>
                    </button>
                </div> 
            {% endfor %}
        </div>
        
        <div class="details-wrapper details-wrapper--new-moment" data-moment data-moment-proto style="display: none">
        <fieldset >
            <h2>Nieuw timeline moment</h2>
            <div class="form-field">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="form-field">
                {{ moment.description.label_tag }}
                {{ form.description }}
            </div>

            <div class="form-field form-field--buttons">
                <button class="button button--primary" data-handler="save-and-exit-new-moment">Opslaan</button>
                <button class="button button--secondary" data-handler="exit-new-moment">Annuleer</button>
            </div>
        </fieldset></div>

{#        <div class="form-field form-field--buttons">#}
{#            <input type="submit" value="Opslaan" class="button button--primary">#}
{#            <a href="{% url 'home' %}" class="button button--secondary">Annuleer</a>#}
{#        </div>#}

    </form>
</section>
{% endblock %}
