// ********************
// GENERAL LAYOUT SETTINGS/HELPER CLASSES
// ********************

.svg-sprite {
    display: none;
}

.sr-only {
    border: 0;
    clip: rect(0.063rem .063rem .063rem .063rem); /* IE6, IE7 */
    clip: rect(0.063rem, .063rem, .063rem, .063rem);
    height: .063rem;
    margin: -0.063rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .063rem;
}

.hide-on-mobile {
    display: none;

    @media screen and (min-width: $tablets) {
        display: inherit;
    }
}

.show-on-mobile { 
    display: block;
    font-weight: 500;
    @media screen and (min-width: $tablets) {
        display: none;
    }
}

.show-mobile-only {
    display: block;

    @media screen and (min-width: $tablets) {
        display: none;
    }
}

.print-only {
    display: none;
}

@media print {
    .print-only {
        display: block;
    }

    body .screen-only {
        display: none;
    }
}

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

@mixin checkbox {
    border-radius: 0;
    box-shadow:none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAeCAYAAACv1gdQAAAAAXNSR0IArs4c6QAAAhRJREFUWAnNl7FOAkEQhrkgCQUFDZWVHXaUWooltlJLDw+AD8ADSE+vhY3aGVpLSzsrKxsLTUyMgt8YFpZldziO82CSPzs3M/vPjxy7Yy63BTYej3fBvaxbIGcmAUEV8ATEZK3Mshv0EFIGj8A2eS5vUFYuh4ASeLBVWb7ESxsRSOMiGFpifO5d5uJQUQC3PjVW7Au/kak4GubBlSXC534TbGYtLKLpwKfGio3wW5kKk2Y07VsiQm5HFcauY7UgQRLOXkiNFe+q1BR2J8V6ocoyn4Tv3BIQcnvzu5wndrWdnW2nZOVH+DoOp+/xQiVmxxmQl9G2tV5OiFrA5bT5xR+AKCiO5CmQn6/PEv2sIWqCHx+hFbvEzweFSYKCa2uDz13pQITgBMgezW5IFlRhE3FxrpJPyI6WkVFTB1Kr2ZBkcRnXNE+xdgmbRu84B9NNjkPuEHyY4sCa7EKHzDe+uD3eCNQcXfJq1IDkNFtvFILZHvxCjV5JVI1A/H0gMc3SGSLpICPzs9aJ3AvYm0B8zYQrvfEbMmkcp2msD2H+yqmtiKuCZV8XJUGb+/pTE2aIaBvnRfep8/5wDG9qK53liJBjJK6pR05qwgwRquIcriJeDuC62ZfZStMG0K6lla651IUjTi5035CQaED4D4HuKDRCcPZzf+iTIcYeIvW5P0QSI74To2ahJIqiPgL//iMXf6EgpcAvXpvfk0q44kUAAAAASUVORK5CYII=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 12px 9px;
    background-color: $primary-black;
    border-color: $primary-black;
}

.u-width-50 {
    width: 50%;
}

.u-width-60 {
    width: 60%;
}

.u-border-bottom {
    border-bottom: 2px solid $neutral-grey2;
}

.u-no-wrap {
    white-space: nowrap;
}

.u-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// ********************
// MARGINS
// ********************

.u-margin-none{
    margin: 0 !important;
}
.u-margin-top{
    display: block;
    margin-top: 1rem !important;
}
.u-margin-top-2x{
    display: block;
    margin-top: 2rem !important;
}
.u-margin-top-3x{
    display: block;
    margin-top: 3rem !important;
}
.u-margin-top-4x{
    display: block;
    margin-top: 4rem !important;
}
.u-margin-bottom{
    display: block;
    margin-bottom: 1rem !important;
}
.u-margin-bottom-2x{
    display: block;
    margin-bottom: 2rem !important;
}

.u-margin-bottom-4x{
    display: block;
    margin-bottom: 4rem !important;
}
.u-margin-bottom-none{
    margin-bottom: 0 !important;
}

.u-padding-bottom-2x{
    display: block;
    padding-bottom: 2rem !important;
}


.u-margin-bottom-sticky{
    margin-bottom: 4rem;
}



// ********************
// PADDINGS
// ********************
.u-padding-right {
    padding-right: 1rem;
}
.u-padding-right-3x {
    padding-right: 3rem;
}

// ********************
// UL
// ********************

.u-list-style-none {
    list-style: none;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.list-as-table {
    list-style: none;
    padding-left: 18px;
    li {
        list-style-type: disc;
        margin-bottom: .475rem;
        position: relative;
        @media all and (-ms-high-contrast:none) {
            display: block;
            &:before {
                content: "\2022";
                position: absolute;
                top: 0;
                left: -18px;
            }
        }
        div{
            display: flex;
            justify-content: space-between;
            *:first-child {
                width: 50%;
            }
        }

    }
}

.scroll-list-container {
    max-height: 12rem;
    overflow-y: auto;
    margin-bottom: 1rem;
}

// ********************
// TO IMPLEMENT: SKIP LINKS
// ********************

.skip-main {
    height: .063rem;
    transform: translateY(-6.25rem);
    transition: transform .36s ease-in;
    overflow: hidden;
    position: absolute;
    width: .063rem;
    z-index: -5;

    &:focus,
    &:active {
        background-color: $primary-white;
        border-radius: .938rem;
        border: .25rem solid $primary-black;
        height: auto;
        left: auto;
        margin: .625rem 35%;
        overflow: auto;
        padding: 1.25rem;
        text-align: center;
        top: 1.875rem;
        width: 30%;
    }

    &:focus {
        transform: translateY(0);
        opacity: 1;
        transition: transform .36s ease-out;
    }
}

