// ********************
// TYPOGRAPHY
// And margins of default html elements
// ********************   

html {
    font-size: 16px;
}

body {
    font-family: $default-font, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: $default-text-color;
    -webkit-text-size-adjust: auto;
}

a {
    color: red;
    text-decoration-skip: ink;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
}

h1 {
    font-size: 1.4125rem;
    font-weight: bold;
    line-height: 1.37931rem;
    margin-top: 0;
    margin-bottom: 0;

    a {
        color: $default-text-color;
        text-decoration: none;

        &:hover {
            color: $default-text-color;
            text-decoration: none;
        }
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    line-height: 1.15rem
}

h4 {
    font-size: 1.125rem;
    line-height: 1.55556rem;
    margin-bottom: 1rem;
}

p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-vertical {
    li {
        padding-bottom: .5rem;
    }
}

ul {
    padding-left: 2px;
    list-style-position: inside;
}

b, strong, em, small, code {
    line-height: 1rem;
}

time {
    color: $neutral-grey5;
    font-size: .8rem;
} 

p { 
    margin-top: 0;
    margin-bottom: 1rem;  

    &:empty {
        margin-bottom: 0;
    }
}

a {
    color: $primary-darkblue;
}

a:active,a:hover {
    color: $primary-red;
}

hr {
    min-height: 1px;
    height: 1px;
    background-color: $neutral-grey2;
    color: $neutral-grey2;
    border-style: solid;
    border: 0;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

// If we have clicked an anchor link, create some space at the top

input[name] {
    scroll-margin-top: 70px;
    
    @supports (-webkit-overflow-scrolling: touch) { 
        // bc ios safari is not playing along
        // CSS specific to iOS devices only
        padding-top: 70px;
        margin-top: -70px;
    }
}