// ********************
// SITE LAYOUT AND STYLING OF SITE HEADER, NAVIGATION, MAIN AND FOOTER
// ********************

* {
    box-sizing: border-box;
}

    html, body {
    height: 100%;
}

body {
    background-color: $neutral-grey2;
}

.site-container {
    background: $primary-white;
    width: 100%;
    margin: 0 auto;
    padding: 0 .938rem;
    min-height: 100%;

    @media screen and (min-width: $tablets) {
        max-width: 87.5rem; // (1400px)
        margin: 0 auto;
    }
}

.site-navigation,
.site-footer {
    margin: 0 -0.938rem;
}

.site-header,
.site-navigation,
.site-main,
.site-footer {
    display: block;
    padding: .938rem;

    @media screen and (min-width: $tablets) {
        padding: 0;
    }
}
 
.site-header {
    background-color: $primary-white;
    margin: 0 auto;
    max-width: 60rem;

    .site-header-wrapper {
        @media all and (min-width: $tablets) {
            -ms-flex-line-pack: start;
            align-content: flex-start; 
            display: -ms-flexbox;
            display: grid;
            grid-gap: 0 1.687rem;
            grid-template-columns: auto 2fr 1fr;
                -ms-flex-pack: start;
                    justify-content: space-between;
            height: 6.75rem;
            padding-top: 1.125rem; 
        }
    }
}

.site-title {
    margin-right: auto;
}

@media all and (-ms-high-contrast:none) {
    .site-title {
        margin-left:2.5rem;
    }
}

.site-navigation {
    background-color: $neutral-grey1;
    min-height: 2.75rem;
    margin-bottom: .938rem;
    position: relative;
}

@media all and (min-width: $tablets) {
    .site-userinfo {
        text-align: right;
    }
}

.site-userinfo__username {
    font-weight: bold;
}

.site-main {
    max-width: 60rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}
