// ********************
// GENERAL FORM ELEMENTS
// ********************

legend {
    padding: 0;
    display: table;
    margin-bottom: 1rem;
}

fieldset {
    margin: 0;
    box-shadow: none;
    border: 0;
    padding: .01em 0 0 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

// ********************
// GENERIC FORMS FIELD GROUP CONTAINERS
// ********************

.section--step__title {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.sub-section {
    padding: 1rem;
    margin-bottom: 4rem;
    border: .063rem solid $neutral-grey3;

    .form-field:first-child {
        margin-top: 0;
    }
    .form-field:last-child {
        margin-bottom: 0;
    }
}

.sub-section__title {
    margin-top: 0;
}

.section--step__description,
.sub-section__description {
    max-width: $max-text-width;
}

.next-previous {
    padding: 1rem;
    background-color: $neutral-grey2;
    display: flex;
    justify-content: space-between;
}
.section--form form {
    position: relative;
}

.form-field__help {
    font-size: .9rem;
    color: $neutral-grey4;
    line-height: 1.4;
    margin: .313rem 0 0 1rem;

    table {
        border: none;
        width: auto;
    }
    caption {
        text-align: left;
        font-weight: 700;
    }
    td, th {
        font-weight: normal;
        padding: .125rem 1rem .125rem 0;
        text-align: left;
        border: none;
    }
    thead th {
        font-weight: 500;
    }
    tr:not(:last-of-type) th,
    tr:not(:last-of-type) td {
        border: none;
    }
    tbody td:first-child {
       font-weight: normal;
    }
    tbody tr {
        background-color: transparent;
    }
    ul, ol {
        padding-left: 0;
        margin: 0;
        list-style-position: inside;
    }
    td * {
        margin: 0;
    }
}

.section--form__navigation {
    margin-top: 4.875rem;
    padding-top: 1rem;
    ul {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        position: relative;
        padding: .5rem 0 .5rem 2rem;
        display: block;

        font-weight: 500;

        color: $primary-black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: .75rem;
            margin-left: -1px;
            top: 1rem;
            bottom: -1rem;

            width: 2px;
            margin-left: -1px;

            background-color: $neutral-grey4;

        }

    }
    .section--form__navigation-item-complete {
        &:before {
            background-color: $primary-darkblue;
        }
    }
    > ul > li:last-child > ul > li:last-child > a:last-child:before,
    > ul > li:last-child > a:last-child:before {
        display: none;
    }

    ul ul a {
        font-weight: 400;
        font-size: .875em;
    }

    .dot {
        position: absolute;
        z-index: 2;
        left: 0;
        top: .375rem;
    }
    .dot--small {
        left: .25rem;
        top: .5rem;
    }
}
.section__grid {
    @media all and (min-width: $tablets) {
        display: grid;
        grid-template-columns: 240px auto;
    }
}
.section__main {
    @media all and (min-width: $tablets) {
        grid-column-start: 2;
    }
}
.section__aside {
    @media all and (min-width: $tablets) {
        grid-column-start: 1;
    }
}

// ********************
// FIELD CONTAINERS
// Each field and label is grouped in a .form-field container
// ********************

.form-field {
    margin-top: .9375rem;
    margin-bottom: 1.875rem;

    .details__header & {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field--buttons {
    display: block;

    .button {
        margin-bottom: .5rem;
        margin-right: 1rem;
        //min-width: 200px;

        &:after {
            display: table;
            content: ' ';
            width: 100%;
        }
    }
}
.form-field--buttons-vertical {

    > .button {
        display: block;
        text-align: center;
        margin-bottom: .5rem;
    }
}

.form-field--buttons-sticky {
    position: fixed; //IE11
    position: sticky;
    position: -webkit-sticky;
    bottom: 1rem;
    background-color: $primary-white;
    outline: 2rem solid rgba($primary-white, 1);

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: -6rem;
        left: 0;
        right: 0;
        bottom: calc(100% + 2rem);

        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        
    }

    @media all and (min-width: $large) {
        min-width: 680px; //IE11
    }
}
// ********************
// HELPFUL INFORMATION
// ********************

.help-text,
.helptext {
    font-size: .9rem;
    color: $neutral-grey4;
    margin-top: .313rem;
    margin-bottom: 0;
    max-width: 37.5rem;

    ul {
        margin: .625rem 0;
        padding-left: 1rem;
        list-style-position: outside;
    }

    li {
        padding-bottom: .5rem;
    }
}

.error-text,
.errorlist {
    color: $primary-red;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: .625rem;
}

input[required]:valid {
    border: .063rem solid $default-text-color;
}

input[required] {
    border: .063rem solid $primary-darkblue;
}

// ********************
// DEFAULT STYLES
// ********************

label {
    display: block;
    font-weight: bold;
}

[type="password"],
[type="text"],
[type="email"],
[type="number"],
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: .063rem solid $neutral-grey4;
    border-radius: 0;
    color: $primary-black;
    padding: .75rem .938rem;
    min-width: 4.375rem;
    max-width: 38.75rem;
    margin-top: .625rem;
    width: 100%;

    &:hover {
        color: $primary-black;
    }

    &[disabled] {
        color: $neutral-grey3;
    }

    .section--form--control .form-field--step-required.form-field--empty & {
        border: 2px solid $primary-red;
    }
}
textarea {
    line-height: 1.4;
}

[type="text"],
[type="email"],
[type="number"],
select,
textarea {
    &[required]:valid {
        border: .063rem solid $primary-black;
    }

    &:valid + .error-text {
        display: none;
    }

    // When input is...
    //   1. NOT empty
    //   2. NOT in focus
    //   3. NOT valid
    &[required].invalid:not(:focus):not(:placeholder-shown) {
        border: .063rem solid $primary-red;
        box-shadow: inset 0 0 0 .063rem $primary-red;

        + error-text {
            display: block;
        }

        &[name="username"],
        &[name="feedback"] {
            border: .063rem solid $primary-black;
            box-shadow: none;
        }
    }

    &.invalid + .error-text,
    &[data-error-message] + .error-text {
        display: block;
    }
}

input[data-error-message] {
    outline: .063rem $primary-red solid;
    border: .063rem $primary-red solid;
}

// ********************
// FILE UPLOAD FIELD
//
// <input type="file" id="file_upload">
// <label for="file_upload">
// ********************

[type="file"] {
    opacity: 0;
    height: 0;
    float: left;
    width: 0;

    &:focus {
        outline: 0;
    }

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &:hover + label,
    &:focus + label {
        border: .063rem solid $primary-red;
    }

    &:focus + label {
        outline: .063rem dotted #212121;
        outline: .313rem auto -webkit-focus-ring-color;
    }

    &[required].invalid + label {
        border: .063rem solid $primary-red;
        box-shadow: inset 0 0 0 .063rem $primary-red;
    }

    &[required].invalid + label + .error-text {
        display: block;
    }
}

[type="file"] + label {
    background-color: $neutral-grey1;
    margin-top: .625rem;
    min-width: 4.375rem;
    max-width: 38.75rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    position: relative;
    text-decoration: underline;
    color: $primary-darkblue;
    cursor: pointer;

    &:hover {
        color: $primary-red;
    }
}

.file-upload__icon {
    margin-left: .938rem;
}

.form-field__uploaded {
    margin: .9375rem 0 1.875rem;
}

// ********************
// RADIO BUTTONS & CHECKBOXES
// ********************

ul.form-field__checkboxgroup,
ul.form-field__radiogroup,
.form-field--radioselect ul,
.form-field--checkboxselectmultiple ul,
.form-field--delete {
    list-style-type: none;
    padding: 0;
    min-width: 4.375rem;
    max-width: 38.75rem;

    label {
        font-weight: normal;
    }

    li {
        margin-top: .625rem;
    }
}

.form-field--radioselect ul,
.form-field--checkboxselectmultiple ul {
    margin-top: .625rem;

    li {
        margin-top: 0;
        margin-bottom: .625rem;
    }
}

.form-field__checkbox,
.form-field__radio,
[type="radio"],
[type="checkbox"] {
    opacity: 0;
    height: 0;
    float: left;
    width: 0;
    margin: 0;

    &:checked + .form-field__radiolabel::before,
    &:checked + .form-field__checkboxlabel::before {
        border-color: $primary-black;
        border-radius: 50%;
        box-shadow: inset 0 0 0 .3125em $primary-white;
        background-color: $primary-black;
    }

    &:checked + .form-field__checkboxlabel::before {
        @include checkbox;
    }

    &:checked:focus + .form-field__radiolabel::before,
    &:checked:focus + .form-field__checkboxlabel::before {
        border: .063rem solid $primary-black;
    }

    &:disabled + .form-field__radiolabel,
    &:disabled + .form-field__checkboxlabel {
        color: $neutral-grey3;

        &::before {
            border-color: $neutral-grey3;
        }

        &:hover::before,
        &:focus::before {
            box-shadow: none;
            border-color: inherit;
        }
    }
}
.form-field__radiolabel,
.form-field__checkboxlabel {
    position: relative;

    &::before {
        border-radius: 50%;
        display: inline-block;
        width: 1.25rem;
        min-width: 1.25rem;
        height: 1.25rem;
        min-height: 1.25em;
        background-color: $primary-white;
        border: .063rem solid $neutral-grey4;
        margin-right: .75rem;
        content: '';
        transform: translateY(.25rem);
    }

    &.form-field__checkboxlabel::before {
        border-radius: 0;

    border-color: $primary-black;
    }

    &:hover::before {
        box-shadow: inset 0 0 .063rem .063rem #000;
        border: .063rem solid $primary-black;
    }

    &:focus::before {
        box-shadow: inset 0 0 .063rem .063rem #000;
        border: .063rem solid $primary-black;
        // box-shadow: 0 0 0 .3125em orange; #Amsterdam.nl style
        outline: .063rem dotted #212121;
        outline: .313rem auto -webkit-focus-ring-color;
    }

    .section--form--control .form-field--step-required.form-field--empty & {
        &::before {
            border-color: $primary-red;
        }
    }
}

// SOLE CHECKBOX

.form-field--checkboxinput {
    input {
        opacity: 0;
        height: 0;
        float: left;
        width: 0;
        margin: 0;

        &:checked + label::after  {
            @include checkbox;
        }

        &:checked + .form-field__checkboxlabel::before {
            @include checkbox;
        }

        &:checked:focus + label::after,
        &:checked:focus + label::after {
            border: .063rem solid $primary-black;
        }

        &:disabled + label,
        &:disabled + label {
            color: $neutral-grey3;

            &::after {
                border-color: $neutral-grey3;
            }

            &:hover::after,
            &:focus::after {
                box-shadow: none;
                border-color: inherit;
            }
        }
    }

    label {
        &::after {
            display: inline-block;
            width: 1.25rem;
            min-width: 1.25rem;
            height: 1.25rem;
            min-height: 1.25em;
            background-color: $primary-white;
            border: .063rem solid $neutral-grey4;
            margin-left: .75rem;
            content: '';
            transform: translateY(.25rem);
        }

        &:hover::after {
            box-shadow: inset 0 0 .063rem .063rem #000;
            border: .063rem solid $primary-black;
        }

        &:focus::after {
            box-shadow: inset 0 0 .063rem .063rem #000;
            border: .063rem solid $primary-black;
            // box-shadow: 0 0 0 .3125em orange; #Amsterdam.nl style
            outline: .063rem dotted #212121;
            outline: .313rem auto -webkit-focus-ring-color;
        }
    }
}

li:focus-within .form-field__radiolabel::before,
li:focus-within .form-field__checkboxlabel::before {
    box-shadow: inset 0 0 .063rem .063rem #000;
    border: .063rem solid $primary-black;
    outline: .063rem dotted #212121;
    outline: .313rem auto -webkit-focus-ring-color;
}

.form-field__checkboxgroup li {
    display: flex;
}



// ********************
// SELECT/DROPDOWN
// ********************

select {
    width: 100%;
    height:2.5rem;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    background-image: url("/static/images/chevron-down.svg");
    background-size: .75rem;
    -webkit-appearance: none;
    cursor: pointer;
    box-shadow: rgb(118, 118, 118) 0 0 0 .063rem inset;
    padding: 0 .75rem;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 0;
    background-position: calc(100% - .75rem) 50%;
    background-repeat: no-repeat;
    text-transform: none;

    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;

    /* IE11 (hide native arrow button) */
    &::-ms-expand {
        display: none;
    }
    /* IE11 (hide native focus state) */
    &::-ms-value {
        color: black;
        background: transparent;
    }

    /* Firefox (hide native focus state) */
    &:-moz-focusring {
        color: transparent;
    }

    &:hover {
        box-shadow: rgb(0, 0, 0) 0 0 0 .063rem inset;
    }

    &:disabled {
        pointer-events: none;
        opacity: .5;
        box-shadow: rgb(180, 180, 180) 0 0 0 .063rem inset;
    }
    &[multiple] {
        border-color: transparent;
        //box-shadow: none;
        height: auto;
        background: none;
        overflow: visible;
        padding: 10px;
        //option {
        //    padding: 10px;
        //    border: 1px solid $neutral-grey4;
        //    &:checked {
        //        background-color: $default-text-color !important;
        //        color: $primary-white !important;
        //        background-image: url("/static/images/chevron-down.svg");
        //    }
        //}
    }
}

@media all and (-ms-high-contrast:none) {
    select {
        background-size: .875rem 1.25rem;
    }
}

// ********************
// HISTORY OF FORM-FIELDS
// ********************
.form-field-history {
    margin: -1.5rem 0 3rem;
    font-size: .9rem;
    color: $neutral-grey4;
    min-width: 4.375rem;
    max-width: 38.75rem;

    details {
        margin-left: 1rem;
        .icon-details--open {
            display: none;
        }
        .icon-details--closed {
            display: inline;
        }

        &[open]{
            .icon-details--closed {
                display: none;
            }
            .icon-details--open {
                display: inline;
            }
        }
        > summary {
            list-style: none;
            small {
                font-size: .8rem;
            }

            &::-webkit-details-marker {
                display: none;
            }
        }
        >.content {
            margin: 3px 0 20px;
            padding: 8px 10px 10px;
            border: 1px solid $neutral-grey4;
            *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// ********************
// SELECT DATE WIDGET
// ********************

.form-field--selectdatewidget {
    select {
        display: inline-block;
        width: auto;
        padding-right:2.5rem;
        margin-right: .625rem;
    }
}

// ********************
// CHECKBOX MULTIPLESELECT DOCUMENTS
// ********************
 .form-field--checkboxselectmultipledocument {
     ul{
        list-style: none;
        margin: 0;
        padding: 0;

        label {
            margin-bottom: .475rem;
            font-weight: normal;

            &:before {
                float: left;
            }
            &:after {
                content: "";
                display: table;
                clear: both;
              }

            div {
                line-height: 1.3rem;
                margin-top: 5px;
                float: left;
                display: flex;
                width: calc(100% - 34px);
                align-items: baseline;

                span {
                    width: 50%;
                }
                small {
                    width: 15%;
                    &:last-child {
                        width: 35%;
                    }
                }
            }
        }
     }

     label + ul {
        margin-top: .475rem;
    }
 }

// ********************
// CHECKBOX MULTIPLESELECT DOCUMENTS
// ********************

.section--step-required-fields {
    border: 2px solid $primary-red;
    padding: 15px;
    margin: 2rem 0;
    * {
        color: inherit;
    }

    *:first-child {
        margin-top: 0;
    }
 }

 .form-field-error-message {
    margin: -1.5rem 0 2.5rem;
    color: $primary-red;
    display: none;
 }
 .section--form--control .form-field--step-required.form-field--empty:not(.hide-animated) {

     + .form-field-error-message {
        display: block;
     }
 }