// ********************
// TABLES
// See https://designsystem.amsterdam.nl/7awj1hc9f/p/1408ad-tables
// ********************

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: .6;
    margin-bottom: 1rem;
    border-top: .125rem solid $neutral-grey2;
    border-bottom: .125rem solid $neutral-grey2;
}


@media all and (max-width: $tablets) {
    thead {
    //    display: none;
    }
}
thead th {
    font-weight: bold;
    padding: .6rem 1rem;
    text-align: left;
    vertical-align: top;
}

tbody th,
tbody td {
    text-align: left;
    vertical-align: top;
    padding: 1rem;

    @media all and (max-width: $tablets) {
        display: block;
        width: 100%; 
    }

    // &:first-child {
    //     font-weight: bold;
    // }
 
    // @media all and (min-width: $tablets) {
    //     &:first-child {
    //         font-weight: bold;
    //     }
    // }
}

tr {
    position: relative;
}


// @media all and (min-width: $tablets) {
//     tr:not(:last-of-type) {
//         th, 
//         td {
//             border-bottom: .063rem solid $neutral-grey2;
//         }
//     }
// }

tr:nth-of-type(even) {
    background-color: $neutral-grey2;

}

.table--interactive {
    tr:nth-of-type(even) {
        background-color: transparent;
        
    
    }
    thead {
        th, 
        td {
            border-bottom: .063rem solid $neutral-grey2;
        }
    }

    tbody {
        tr:hover { 
            background-color: $neutral-grey2;
        }

        th,
        td {
            padding: 0; 
            border-bottom: 1px solid $neutral-grey2;
            a { 
                color: $primary-black;
                display: block; 
                text-decoration: none;
                padding: .6rem 1rem; 

                &:hover,
                &:focus,
                &:active {
                    color: $primary-black;
                }
            }
        }
    }
}

table table {
    margin-bottom: 0;
    tr:nth-of-type(even) {
        background-color: transparent;   
    }
}

.case-list,
.moment-list {
    
    td {
        position: relative;
    }
}

.case-list {
    thead {
        border-bottom: 0.125rem solid $neutral-grey2;
    }

    td {
        max-width: 200px;
     }
}
.moment-list {
    border-collapse: collapse;
    border-top: 0;
    tr {
        position: relative;
        background-color: #f5f5f5;
        padding: 1rem 1rem 1rem 0;
        
        &:last-child {
            td {
                &:before {
                    content: none;
                }
            }
        }
    }
    td{
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        &:first-of-type {
            padding-left: 55px;
            &:before {
                content: '';
                position: absolute;
                z-index: 2;
                left: 1.75rem;
                top: 1.25rem;
                bottom: -1.5rem;
                width: 2px;
                margin-left: -1px;
                background-color: #767676;
                pointer-events: none;
            }
        }
        
    }

    thead {
        tr {
            display: table-row;
            background-color: transparent;
        }
    }
    tbody {
        tr {

            border-bottom: .25rem solid $primary-white;

            @media print {
                border-bottom: 1px solid $neutral-grey4;
            }
        }
    }
    .dot {
        display: block;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-.75rem);
        z-index: 2;
    }
}

.table--double-row {
    tr:nth-of-type(even) {
        background-color: transparent;
    }
}