// ********************
// TABLES
// See https://designsystem.amsterdam.nl/7awj1hc9f/p/1408ad-tables
// ********************

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: .6;
    margin-bottom: 1rem;
    border-top: .125rem solid $neutral-grey2;
    border-bottom: .125rem solid $neutral-grey2;
}


@media all and (max-width: $tablets) {
    thead {
        display: none;
    }
}
thead th {
    font-weight: bold;
    padding: .6rem 1rem;
    text-align: left;
    vertical-align: top;
}

tbody th,
tbody td {
    text-align: left;
    vertical-align: top;
    padding: .6rem 1rem;

    @media all and (max-width: $tablets) {
        display: block;
        width: 100%; 
    }

    &:first-child {
        font-weight: bold;
    }
 
    @media all and (min-width: $tablets) {
        &:first-child {
            font-weight: bold;
        }
    }
}

tr {
    position: relative;
}


@media all and (min-width: $tablets) {
    tr:not(:last-of-type) {
        th, 
        td {
            border-bottom: .063rem solid $neutral-grey2;
        }
    }
}

tr:nth-of-type(even) {
    background-color: $neutral-grey2;

}

.table--interactive {
    thead {
        th, 
        td {
            border-bottom: .063rem solid $neutral-grey2;
        }
    }

    tbody {
        tr:hover { 
            background-color: $neutral-grey2;
        }

        th,
        td {
            padding: 0; 
            
            a { 
                color: $primary-black;
                display: block; 
                text-decoration: none;
                padding: .6rem 1rem; 

                &:hover,
                &:focus,
                &:active {
                    color: $primary-black;
                }
            }
        }
    }
}

.case-list {
    thead {
        border-bottom: 0.125rem solid #e6e6e6;
    }
}