legend {
    margin-bottom: 15px;
}

input {
    font-family: inherit;
    font-size: inherit;
}

label {
    display: block;
}

.help-text {
    font-size: .9rem;
    color: $neutral-grey4;
    margin: 5px 0 0 0;
}

.form-field {
    margin: 10px 15px;

    @media screen and (min-width: $desktop) {
        margin: 10px 0;
    }
}

[type="password"],
[type="text"],
[type="submit"],
select {
    border: 1px solid $neutral-grey4;
    color: $neutral-grey4;
    padding: 15px 12px;
    min-width: 70px;
    max-width: 620px;
    margin: 10px 15px;

    @media screen and (min-width: $desktop) {
        margin: 10px 0;
    }

    &:hover {
        color: $primary-black;
    }

    &[disabled] {
        color: $neutral-grey3;
    }
}

[type="submit"] {
    border-color: transparent;
    box-sizing: content-box;
    background-color: $primary-darkblue;
    color: $primary-white;
    min-width: 70px;
    max-width: 620px;

    &:hover {
        color: $primary-white;
    }

    &[disabled] {
        background-color: $neutral-grey2;
        color: $neutral-grey3;
    }
}

// HTML for below:
// <input type="file" id="file_upload">
// <label for="file_upload">

[type="file"] {
    opacity: 0;
    height: 0;
    float: left;
    width: 0;

    &:focus {
        outline: 0;
    }

    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    
    &:hover + label,
    &:focus + label {
        border: 1px solid $primary-red;
    }
}

[type="file"] + label {
    background-color: $neutral-grey1;
    margin-top: 10px;
    min-width: 70px;
    max-width: 620px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    position: relative;
    text-decoration: underline;
    color: $primary-darkblue;
    cursor: pointer;

    &::after {
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("/static/images/upload.svg");
        background-size: contain;
        position: relative;
        text-decoration: none;
        margin-left: 10px;
    }

    &:hover {
        color: $primary-red;
    }
}

.form-field__uploaded {
    margin-top: 10px;
}