$desktop: 540px;
$large: 1024px;

// show the current most prevalent media query 
html::after {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 10px;
    color: white;
    // content: 'default';
    z-index: 10;

    // @media screen and (min-width: $desktop) {
    //     content: 'desktop'
    // }

    // @media screen and (min-width: $large) {
    //     content: 'large'
    // }
}
