html {
    font-size: 16px;
}

body {
    font-family: avenir next w01, $default-font, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: $default-text-color;
    -webkit-text-size-adjust: auto;
}

@supports (font-display: swap) {
    body {
        font-display: swap;
    }
}

a {
    color: red;
    text-decoration-skip: ink;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
    font-style: inherit;
    font-weight: 500;
}

h1 {
    font-size: 1.8125em;
    font-weight: bold;
    line-height: 1.37931em;
    margin-top: 0.53em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    line-height: 1.4em
}

h4 {
    font-size: 1.125em;
    line-height: 1.55556em
}

.page-intro {
    font-size: 1.0875;
    line-height: 1.510em;
    font-weight: 500;
    font-family: Avenir Next LT Pro;
}

p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

b, strong, em, small, code {
    line-height: 1rem;
}

time {
    color: $neutral-grey4;
    font-size: .8rem;
} 

p { 
    margin-top: 0;
    margin-bottom: 1rem;  

    &:empty {
        margin-bottom: 0;
    }
}

a {
    color: $primary-darkblue;
}

a:active,a:hover {
    color: $primary-red;
}