$rhythm  : 1rem;

// using names used in the design system documentation
$Primary-Black: #000;
$Primary-Red: #ec0000;

// also came accross on Amsterdam.nl
$grey: #e6e6e6;
$grey-light: #d9d9d9;
$grey-dark: hsl(0, 0%, 71%);
$darkblue: #004699;
$link-content: #004699;
$link-content-visited: #a00078;

$white: #fff;
$black: #000;
 
$default-text-color: #000;

$status-green: green;
$status-orange: orange;
$status-red: red;
