{% load html_tags %}
{% if object_list.paginator.num_pages > 1 %}
<div class="pagination">
    <ul>
        {% if object_list.has_previous %}
            <li>
                <a href="?page={{ object_list.previous_page_number }}{{ filter_params }}">Vorige</a>
            </li>
        {% endif %}
        {% for p in object_list.paginator.num_pages|range %}
        <li>
        {% if forloop.counter == object_list.number %}
            {{ forloop.counter }}
        {% else %}
            <a href="?page={{ forloop.counter }}{{ filter_params }}">{{ forloop.counter }}</a>
        {% endif %}
        </li>
        {% endfor %}
        {% if object_list.has_next %}
            <li>
                <a href="?page={{ object_list.next_page_number }}{{ filter_params }}">Volgende</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
