{% load html_tags %}
<div class="details-wrapper details-wrapper--edit details-wrapper--new-moment"
     data-moment
     data-decorator="edit-moment"
     data-moment-proto
     style="display: none;">

    <div class="alert-container  alert-container--inline">
        <div class="alert alert--saving">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>De nieuwe stap wordt opgeslagen...</p>
        </div>
        <div class="alert alert--saved">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Uw nieuwe stap is opgeslagen.</p>
        </div>
        <div class="alert alert--error">
            <svg class="alert__icon" width="20" height="20">
                <use href="#alert" xlink:href="#alert" width="20" height="20"></use>
            </svg>
            <p>Er ging iets mis bij het opslaan. Probeer het opnieuw.</p>
        </div>
    </div>
    <div class="dot dot--large"></div>
    <details class="details" open>
        <summary class="details__header" data-handler="open-moment">
            <h3 data-static-mode data-moment-name class="details__title"></h3>
            <div class="form-field data-edit-mode" data-edit-mode>
                <label for="id_description" class="sr-only">{{ moment.name.label }}</label>
                {{ moment.name }}
                {% if moment.name.errors %}
                    <ol class="error-text">
                    {% for error in moment.name.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <span class="details__toggle-icon">
                <svg class="details__header-opened" width="14" height="9">
                    <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
                <svg class="details__header-closed" width="14" height="9">
                    <use href="#chevron-down" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
            </span>

            <div class="change-order">
                <button class="button button--icon" data-handler="moment-up" disabled="disabled" title="Verplaats deze processtap naar boven">
                    <svg width="14" height="9">
                        <use href="#arrow-up" xlink:href="#arrow-up" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="moment-down" disabled="disabled" title="Verplaats deze processtap naar beneden">
                    <svg width="14" height="9">
                        <use href="#arrow-down" xlink:href="#arrow-down" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="delete-moment" disabled="disabled" title="Verwijder deze processtap">
                    <svg width="12" height="14">
                        <use href="#trash" xlink:href="#trash" width="12" height="14"></use>
                    </svg>
                </button>
            </div>
        </summary>

        <div class="details__content">
            <div data-js-delete class="form-field form-field--buttons">
                {{ moment.order.label }}
                {{ moment.order }}
            </div>

            <div data-moment-description data-static-mode></div>

            <div data-moment-organizations
                 data-static-mode>
                <h4>Betrokken organisaties</h4>

                <ul class="tag-list">
                    {% for organisation in organization_list %}
                    <li class="tag-list__item" style="display: none" data-listitem-id="{{ organisation.id }}">
                        <span class="button button--tinytag" title="{{ organisation.name }}">
                            <span>{{ organisation.abbreviation }}</span>
                        </span>
                    </li>
                    {% endfor %}
                    <li class="tag-list__item" style="display: none">Er zijn (nog) geen organisaties toegewezen aan deze processtap.</li>
                </ul>
            </div>

            <div data-static-mode class="form-field form-field--buttons">
                <button data-handler="enter-edit-moment" class="button button--primary" disabled="disabled">Wijzigen</button>
            </div>

            <div class="form-field data-edit-mode">
                <label for="id_description">{{ moment.description.label }}</label>
                {{ moment.description }}
                {% if moment.description.errors %}
                    <ol class="error-text">
                    {% for error in moment.description.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>

            <div class="form-field data-edit-mode">
                <label for="id_document_type">{{ moment.organizations.label }}</label>
                <ul class="form-field__checkboxgroup">
                    {% for checkbox in moment.organizations %}
                        <li>
                            {{ checkbox.tag }}
                            <label for="{{ checkbox.id_for_label }}" class="form-field__checkboxlabel">
                                {{ checkbox.choice_label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div data-edit-mode class="form-field form-field--buttons">
                <button class="button button--primary" data-handler="save-moment" disabled="disabled">Opslaan</button>
                <button class="button button--secondary" data-handler="exit-edit-moment" disabled="disabled">Annuleer</button>
                <button class="button button--secondary" data-handler="exit-new-moment" disabled="disabled">Annuleer</button>
            </div>
        </div>
        <div class="details__headerhoverblock"></div>
    </details>
    <button class="new-moment__add" data-handler="new-moment" disabled="disabled" title="Voeg hier een processtap toe">
        <div class="new-moment__line"></div>
        <div class="dot dot--large">
            <svg class="details__header-closed" width="16" height="16">
                <title>Voeg stap toe</title>
                <use href="#add-document" xlink:href="#add-document" fill="red" width="16" height="16"></use>
            </svg>
        </div>
    </button>
</div>
