{% if moment_list %}
    <section class="section-timeline">
        <h2>De Omslagroute</h2>
    
        {% for moment in moment_list %}
            <div class="section-timeline__spacing">
                <details class="details details--toplevel" data-moment-order="{{ moment.order }}" open>
                    <summary>{{ moment.name }}</summary>
                    <div class="details__content">
                        <p>{{ moment.description }}</p>

                       {% if moment.documents.all %}
                            <ul>
                                {% for document in moment.documents.all %}
                                    <li>{{ document.name }}</li>
                                {% empty %}
                                    <!-- if we add a create document, put it here -->
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Voor deze fase zijn er geen documenten.</p>
                        {% endif %}
                    </div>
                </details>
            </div>
        {% endfor %}
    </section>
{% endif %}
