{% load html_tags %}
<div class="details-wrapper edit-mode"
     data-id="{{ moment.instance.id }}"
     data-order="{{ moment.instance.order }}"
     data-moment-order="{{ moment.instance.order }}"
     data-moment
     data-decorator="edit-moment"
     data-mode="static">

    <div class="alert-container alert-container--inline">
        <div class="alert alert--saving">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Uw wijzigingen worden opgeslagen...</p>
        </div>
        <div class="alert alert--saved">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Wijzigingen opgeslagen.</p>
        </div>
        <div class="alert alert--error">
            <svg class="alert__icon" width="20" height="20">
                <use href="#alert" xlink:href="#alert" width="20" height="20"></use>
            </svg>
            <p>Er ging iets mis bij het opslaan. Probeer het opnieuw.</p>
        </div>
    </div>

    <div class="dot dot--large"></div>
    <details class="details" open>
        <summary class="details__header" data-handler="open-moment">
            <h3 data-static-mode data-moment-name class="details__title">{{ moment.instance.name }}</h3>

            <div class="form-field data-edit-mode">
                <label for="id_description" class="sr-only">{{ moment.name.label }}</label>
                {{ moment.name }}
                <p class="error-text">Het veld hierboven is verplicht</p>
            </div>

            <span class="details__toggle-icon">
                <svg class="details__header-opened" width="14" height="9">
                    <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
                <svg class="details__header-closed" width="14" height="9">
                    <use href="#chevron-down" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
            </span>

            <div class="change-order">
                <button class="button button--icon" data-handler="moment-up" disabled="disabled" title="Verplaats deze processtap naar boven">
                    <svg width="14" height="9">
                        <use href="#arrow-up" xlink:href="#arrow-up" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="moment-down" disabled="disabled" title="Verplaats deze processtap naar beneden">
                    <svg width="14" height="9">
                        <use href="#arrow-down" xlink:href="#arrow-down" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="delete-moment" disabled="disabled" title="Verwijder deze processtap">
                    <svg width="12" height="14">
                        <use href="#trash" xlink:href="#trash" width="12" height="14"></use>
                    </svg>
                </button>
            </div>
        </summary>

        <div class="details__content">
            <div data-js-delete class="form-field">
                {{ moment.DELETE.label }}
                {{ moment.DELETE }}
                {{ moment.order.label }}
                {{ moment.order }}
                {{ moment.id }}
            </div>
            <div data-moment-description data-static-mode>
                {{ moment.instance.description|linebreaks2html|safe }}
            </div>
            <div data-moment-organizations
                 data-static-mode>
                <h4>Betrokken organisaties</h4>

                <ul class="tag-list">
                    {% for organisation in organization_list %}
                    <li class="tag-list__item" style="display: {% if not organisation in moment.instance.organizations.all %}none{% else %}initial{% endif %}" data-listitem-id="{{ organisation.id }}">
                        <span class="tinytag" title="{{ organisation.name }}">
                            {{ organisation.abbreviation }}
                        </span>
                    </li>
                    {% endfor %}
                    <li class="tag-list__item" {% if moment.instance.organizations.all %}style="display: none" {% endif %}>Er zijn (nog) geen organisaties toegewezen aan deze processtap.</li>
                </ul>
            </div>

            {% if moment.instance and moment.instance.documents.all %}
                <h4>Betrokken documenten</h4>
                <p data-static-mode>
                    <strong>
                        {{ moment.instance.documents.all|length }} document(en)
                    </strong>
                </p>
            {% endif %}

            <div data-static-mode class="form-field form-field--buttons">
                <button data-handler="enter-edit-moment" class="button button--primary" disabled="disabled">Wijzigen</button>
            </div>

            <div class="form-field data-edit-mode">
                <label for="id_description">{{ moment.description.label }}</label>
                {{ moment.description }}
                <p class="error-text">Het veld hierboven is verplicht</p>
            </div>

            <div class="form-field data-edit-mode">
                <label for="id_document_type">{{ moment.organizations.label }}</label>
                <ul class="form-field__checkboxgroup">
                    {% for checkbox in moment.organizations %}
                        <li>
                            {{ checkbox.tag }}
                            <label for="{{ checkbox.id_for_label }}" class="form-field__checkboxlabel">
                                {{ checkbox.choice_label }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div data-edit-mode class="form-field form-field--buttons">
                <button class="button button--primary" data-handler="save-moment" disabled="disabled">Opslaan</button>
                <button class="button button--secondary" data-handler="exit-edit-moment" disabled="disabled">Annuleer</button>
            </div>
        </div>
        <div class="details__headerhoverblock"></div>
    </details>

    <button class="new-moment__add" data-handler="new-moment" title="Voeg hier een processtap toe">
        <div class="new-moment__line"></div>
        <div class="dot dot--large">
            <svg class="details__header-closed" width="16" height="16">
                <title>Voeg stap toe</title>
                <use href="#add-document" xlink:href="#add-document" fill="red" width="16" height="16"></use>
            </svg>
        </div>
    </button>
</div>
