{% load auth_tags %}
{% if moment_list %}
    <section class="section section--timeline">
        <h2>De Omslagroute</h2>

        {% if request.user.is_authenticated %}
            <p class="details-admin">
                <a href="/timeline/" class="button button--primary">
                    Wijzig processtappen
                </a>
            </p>
        {% endif %}

        {% for moment in moment_list %}
            <div class="details-wrapper">
                <div class="dot dot--large"></div>
                <details class="details" data-moment-order="{{ moment.order }}">
                    <summary class="details__header">
                        <h3 class="details__title">{{ moment.name }}</h3>
                        <span class="details__toggle-icon">
                            <svg class="details__header-opened" width="14" height="9">
                                <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9" />
                            </svg>
                            <svg class="details__header-closed" width="14" height="9">
                                <use href="#chevron-down" xlink:href="#chevron-down" width="14" height="9" />
                            </svg>
                        </span>
                    </summary>

                    <div class="details__content">
                        <p>{{ moment.description }}</p>

                        <ul class="downloads {% if request.user|has_group:"wonen" %}downloads--logged_in{% endif %} {% if class %}downloads--{{ class }}{% endif %}">
                        {% if moment.documents.all %}
                            {% include 'documents/snippets/document_list.html' with class='timeline' document_list=moment.documents.all  %}
                        {% endif %}
                        {% if request.user|has_group:"wonen" %}
                            {% include 'documents/snippets/upload.html' with moment_id=moment.id %}
                        {% endif %}
                        </ul>
                    </div>

                    <div class="details__headerhoverblock"></div>
                </details>
            </div>
        {% endfor %}
    </section>
{% endif %}
