{% load html_tags %}
<div class="details-wrapper edit-mode"
     data-id="{{ moment.instance.id }}"
     data-order="{{ moment.instance.order }}"
     data-moment-order="{{ moment.instance.order }}"
     data-moment
     data-decorator="edit-moment"
     data-mode="static">

    <div class="alert-container alert-container--inline">
        <div class="alert alert--saving">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Uw wijzigingen worden opgeslagen...</p>
        </div>
        <div class="alert alert--saved">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Wijzigingen opgeslagen.</p>
        </div>
        <div class="alert alert--error">
            <svg class="alert__icon" width="20" height="20">
                <use href="#check" xlink:href="#check" width="20" height="20"></use>
            </svg>
            <p>Er ging iets mis.</p>
        </div>
    </div>

    <div class="dot dot--large"></div>
    <details class="details" open>
        <summary class="details__header" data-handler="open-moment">
            <h3 data-static-mode data-moment-name class="details__title">{{ moment.instance.name }}</h3>
            <p class="data-edit-mode">{{ moment.name }}</p>
            <span class="details__toggle-icon">
                <svg class="details__header-opened" width="14" height="9">
                    <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
                <svg class="details__header-closed" width="14" height="9">
                    <use href="#chevron-down" xlink:href="#chevron-up" width="14" height="9"></use>
                </svg>
            </span>

            <div class="change-order">
                <button class="button button--icon" data-handler="moment-up" disabled="disabled" title="Verplaats deze processtap naar boven">
                    <svg width="14" height="9">
                        <use href="#arrow-up" xlink:href="#arrow-up" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="moment-down" disabled="disabled" title="Verplaats deze processtap naar beneden">
                    <svg width="14" height="9">
                        <use href="#arrow-down" xlink:href="#arrow-down" width="14" height="9"></use>
                    </svg>
                </button>
                <button class="button button--icon" data-handler="delete-moment" disabled="disabled" title="Verwijder deze processtap">
                    <svg width="12" height="14">
                        <use href="#trash" xlink:href="#trash" width="12" height="14"></use>
                    </svg>
                </button>
            </div>
        </summary>

        <div class="details__content">
            {{ moment.id }}
            {{ moment.order }}
            <p data-moment-description data-static-mode>{{ moment.instance.description|linebreaks2html|safe }}</p>
            <div data-moment-roles data-static-mode data-no-roles-text="Er zijn nog rollen toegewezen">
                <h4>Betrokken rollen</h4>
                {% if moment.instance.roles.all %}
                <ul>
                    {% for r in moment.instance.roles.all %}
                    <li>{{ r }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <ul>
                    <li>Er zijn nog rollen toegewezen</li>
                    </ul>
                {% endif %}
            </div>
            <p class="data-edit-mode">{{ moment.description }}</p>
            <div data-edit-mode>{{ moment.roles }}</div>

            {% if moment.instance and moment.instance.documents.all %}
                <h4>Betrokken documenten</h4>
                <p data-static-mode>
                    <strong>
                        {{ moment.instance.documents.all|length }} document(en)
                    </strong>
                </p>
            {% endif %}
            <div data-static-mode class="form-field form-field--buttons">
                <button data-handler="enter-edit-moment" class="button button--primary" disabled="disabled">Wijzigen</button>
            </div>
            <div data-edit-mode class="form-field form-field--buttons">
                <button class="button button--primary" data-handler="save-moment" disabled="disabled">Opslaan</button>
                <button class="button button--secondary" data-handler="exit-edit-moment" disabled="disabled">Annuleer</button>
            </div>
        </div>
        <div class="details__headerhoverblock"></div>
    </details>

    <button class="new-moment__add" data-handler="new-moment" title="Voeg hier een processtap toe">
        <div class="new-moment__line"></div>
        <div class="dot dot--large">
            <svg class="details__header-closed" width="16" height="16">
                <title>Voeg stap toe</title>
                <use href="#add-document" xlink:href="#add-document" fill="red" width="16" height="16"></use>
            </svg>
        </div>
    </button>
</div>
