{% load auth_tags timeline_tags html_tags %}

{% if moment_list %}
    <section class="section section--timeline">
        {% if request.user|is_redactie %}
            <div class="details-admin screen-only">
                <a href="/timeline/" class="button button--primary" title="Pas de processtappen aan">
                    Wijzig processtappen
                </a>
            </div>
        {% endif %}
        {% include 'organizations/snippets/filters.html' with object_list=organization_list %}

        {% for moment in moment_list %}
            <div class="details-wrapper" data-tags="{% for organisation in moment.organizations.all %}{{ organisation|slugify }} {% endfor %}">
                <div class="dot dot--large">
                    
                </div>
                <details class="details" data-moment-order="{{ moment.order }}" {% doc_added moment.id 'open' %}>
                    <summary class="details__header">
                        <h3 class="details__title">{{ moment.name }}</h3>
                        <span class="details__toggle-icon">
                            <svg class="details__header-opened" width="14" height="9">
                                <use href="#chevron-up" xlink:href="#chevron-up" width="14" height="9"></use>
                            </svg>
                            <svg class="details__header-closed" width="14" height="9">
                                <use href="#chevron-down" xlink:href="#chevron-down" width="14" height="9"></use>
                            </svg>
                        </span>

                        {% if moment.organizations %}
                        <ul role="list" class="tag-list">
                            {% for organisation in moment.organizations.all %}
                            <li class="tag-list__item">
                                <button class="button--tinytag" data-highlight-org="{{ organisation.name|slugify }}" title="{{ organisation.name }}">
                                    {{ organisation.abbreviation }}
                                </button>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>Er zijn (nog) geen organisaties toegewezen aan deze processtap.</p>
                        {% endif %}
                    </summary>

                    <div class="details__content">
                        <div>{{ moment.description|textile }}</div>

                        <ul role="list" class="downloads {% if request.user|is_redactie %}downloads--logged_in{% endif %} {% if class %}downloads--{{ class }}{% endif %}">
                            {% if moment.documents.all %}
                                {% include 'documents/snippets/document_list.html' with class='timeline' document_list=moment.documents.all  %}
                            {% endif %}
                            {% if request.user|is_redactie %}
                                {% include 'documents/snippets/upload.html' with moment_id=moment.id %}
                            {% endif %}
                        </ul>
                    </div>
                </details>
            </div>
        {% endfor %}
    </section>
{% endif %}
