{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - Er ging iets mis{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb screen-only" aria-label="Kruimelpad">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-step"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-step sr-only" aria-current="location">404</li>
        </ol>
    </nav>
{% endblock %}

{% block main %}
    <section class="section section--404">
      <h2 class="u-margin-none">Helaas. Je hebt geen toegang tot de opgegeven pagina.</h2>
      <small class="u-margin-bottom-2x">[foutcode: 403]</small>
      <p>Ga terug naar de <a href="/">homepage</a>.</p>
    </section>
{% endblock %}