{% load static %}
<!DOCTYPE html>
<html lang="en" data-commit="{{ SOURCE_COMMIT }}">
<head>
    <meta charset="UTF-8">
    <title>Hello Omslagroute</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/main.css' %}?v={{ SOURCE_COMMIT }}">
    <link rel="icon" href="https://www.amsterdam.nl/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="container">
    {% block skiplinks %}
    {% endblock %}

    {% block header %}
        <header class="site-header">
            <img src="{% static 'images/logo.svg' %}">
            <h1>Omslagroute</h1>
            {% if request.user.is_authenticated %}
                <div class="site-logout">
                    Ingelogd als: <strong>{{ request.user.first_name }}</strong> |  <a href="{% url 'uitloggen' %}">Uitloggen</a>
                </div>
            {% endif %}
        </header>
        <div class="site-navigation">
        </div>
    {% endblock %}

    {% block main %}
    {% endblock %}
</div>

<script type="text/javascript" src="{% static "js/index.js" %}?v={{ SOURCE_COMMIT }}"></script>
</body>
</html>
