{% load static %}
<!DOCTYPE html>
<html lang="nl" data-commit="{{ SOURCE_COMMIT }}"  data-branch="{{ BRANCH_NAME }}"   id="login">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omslagroute</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/main.css' %}?v={{ SOURCE_COMMIT }}">
    <link rel="icon" href="https://www.amsterdam.nl/favicon.ico" type="image/x-icon">

    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/t/1.css?apiType=css&amp;projectid=3680cf49-2b05-4b8a-af28-fa9e27d2bed0">
</head>
<body>
<div class="container">

    {% include 'svg-sprite.html' %}

    {% block skiplinks %}
    {% endblock %}

    {% block header %}
        <header class="site-header">
            <div class="site-header-wrapper">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}"></a>
                <h1 class="site-title">Omslagroute</h1>
                {% if request.user.is_authenticated %}
                    <div class="site-userinfo">
                        Ingelogd als:
                            {% if request.user.is_superuser %}
                                <a href="/admin" class="site-userinfo__username">admin</a>
                            {% endif %}
                                <span class="site-userinfo__username">{{ request.user.first_name }}</span>
                            | <a href="{% url 'uitloggen' %}">Uitloggen</a>
                    </div>
                {% else %}
                    <div class="site-userinfo">
                        <a href="#login">Log in</a>
                    </div>
                {% endif %}
            </div>
        </header>
        <div class="site-navigation">
            {% block messages %}
                {% if messages %}
                    <ul class="alert-container">
                        {% for message in messages %}
                            <li class="alert alert{% if message.tags %}--{{ message.tags }}{% endif %}">
                                {% if message.tags == 'success' %}
                                    <svg class="alert__icon" width="20" height="20">
                                        <use href="#check" xlink:href="#check" width="20" height="20"></use>
                                    </svg>
                                {% elif message.tags == 'info' %}
                                    <svg class="alert__icon" width="20" height="20">
                                        <use href="#check" xlink:href="#check" width="20" height="20"></use>
                                    </svg>
                                {% elif message.tags == 'warning' or 'error' %}
                                <svg class="alert__icon" width="20" height="20">
                                    <use href="#alert" xlink:href="#alert" width="20" height="20"></use>
                                </svg>
                                {% endif %}
                               
                                <p class="alert__message">{{ message|safe }}</p>
                                
                                <!-- 
                                <button class="button button--icon">
                                    <svg class="alert__close" width="20" height="20"></svg>
                                        <use href="#close" xlink:href="#close" width="20" height="20"></use>
                                    </svg>
                                </button> -->
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}

    <main role="main" class="site-main">
        {% block main %}
        {% endblock %}
    </main>
</div>

<script type="text/javascript" src="{% static "js/details-element-polyfill.js" %}"></script>
<script type="text/javascript" src="{% static "js/index.js" %}?v={{ SOURCE_COMMIT }}"></script>
</body>
</html>
