{% extends 'base.html' %}
{% load staticfiles auth_tags tz %}

{% block skiplinks %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block messages %}{% endblock %}
{% block feedback %}{% endblock %}

{% block main %}

<section class="section section--client u-margin-top-4x">
    <div class="client-header flex-container">
        <div class="flex-item">
            <h1>Analytics</h1>
        </div>
        <div class="flex-item u-clearfix">
            
            <div class="screen-only">
                <a href="#" id="download-excel-link" class="button button--secondary">
                    <svg class="u-margin-right" width="20" height="20" >
                        <use href="#download" xlink:href="#download"  width="20" height="20"></use>
                    </svg>
                    Download excel
                </a>
            </div>
            
        </div>
    </div>
</section>

<section class="section section--client u-margin-bottom-4x">
    <div class="details-client details-client--basic u-width-60 u-margin-top-2x">
        <dl>
            <div>
                <dt>
                    Totaal aangemaakte cliënten:&nbsp;
                </dt>
                <dd>
                    {{ all_cases|length }}
                </dd>
            </div>
        </dl>
    </div>
    
</section>

                
                <table id="excel-data" class="table--double-row table--condensed u-border-top-none">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Totaal</th>
                            <th>
                                <a href=".{{ prev_month }}"  style="text-decoration: none; font-size: 2rem; position: absolute; transform: rotate(180deg); line-height: 1rem; transform-origin: left center;">&#8227;</a>&nbsp;{{ start_month|timezone:FRONTEND_TIMEZONE|date:"M Y" }}
                                {% if next_month %}&nbsp;<a href=".{{ next_month }}" style="text-decoration: none; font-size: 2rem; position: absolute; transform: rotate(0deg);  line-height: 1rem;">&#8227;</a>{% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for zorginstelling_data in zorginstelling_list %}
                        <tr class="u-border-top">
                            <th colspan="4">
                                <h2><strong>{{ zorginstelling_data.zorginstelling.name }}</strong></h2>
                                <p>Aantal omslagroute medewerkers: {{ zorginstelling_data.user_list|length }}</p>
                            </th>
                        </tr>
                        <tr class="u-border-top">
                            <th colspan="2">Cliënten aangemaakt</th>
                            <td>{{ zorginstelling_data.case_list|length }}</td>
                            <td>{{ zorginstelling_data.case_list_period|length }}</td>
                        </tr>
                        <tr class="u-border-top">
                            <th rowspan="2">Aanvraag Urgentie onder voorwaarden</th>
                            <th class="u-font-weight-normal">ingediend</th>
                            <td>{{ zorginstelling_data.urgentie_ingediend|length }}</td>
                            <td>{{ zorginstelling_data.urgentie_ingediend_period|length }}</td>
                        </tr>
                        <tr class="u-border-top">
                            <th class="u-font-weight-normal">goedgekeurd</th>
                            <td>{{ zorginstelling_data.urgentie_goedgekeurd|length }}</td>
                            <td>{{ zorginstelling_data.urgentie_goedgekeurd_period|length }}</td>
                        </tr>
                        <tr class="u-border-top">
                            <th rowspan="2">Aanvraag Voordracht omklap</th>
                            <th class="u-font-weight-normal">ingediend</th>
                            <td>{{ zorginstelling_data.omklap_ingediend|length }}</td>
                            <td>{{ zorginstelling_data.omklap_ingediend_period|length }}</td>
                        </tr>
                        <tr class="u-border-top">
                            <th class="u-font-weight-normal">goedgekeurd</th>
                            <td>{{ zorginstelling_data.omklap_goedgekeurd|length }}</td>
                            <td>{{ zorginstelling_data.omklap_goedgekeurd_period|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/tableToExcel.js" %}"></script>
{{ block.super }}
<script>

var link = document.getElementById("download-excel-link");
link.addEventListener('click', function(e){
    e.preventDefault();
    TableToExcel.convert(document.getElementById("excel-data"), {
    name: "omslagroute-data.xlsx",
    sheet: {
        name: "Zorginstellingen analytics"
    }
    });
});
</script>
{% endblock %}
