{% load staticfiles %}

<article class="download__container">
    {% with document=object.type_to_document.all.0 %}
    <a href="{{ document.uploaded_file.url }}" class="download__box" download>
        {% if object %}
            <img src="{% static object.icon_path %}">
        {% elif icon %}
            <img src="{% static 'images/form.svg' %}">
        {% else %}
            <img src="{% static 'images/checklist.svg' %}">
        {% endif %}

        {% if object %}
            <h3>{{ document.title }}</h3>
            <p><time timestamp="{{ document.uploaded|date }}">Laatst gewijzigd: {{ document.uploaded|date:"j b" }}.</time></p>
        {% else %}
            <h3>{{ title }}</h3>
            <p><time timestamp="{{ date }}">Laatst gewijzigd: {{ date }}</time></p>
        {% endif %}
    </a>
        {% if request.user.is_authenticated and object %}
        <a href="{% url 'add_document_to_type' object.id %}">nieuwe versie uploaded</a>
        {% endif %}
    {% endwith %}
</article>
