{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block user %}
    <!-- <div class="site-login">
        <a href="/login">Log in</a>
    </div> -->
{% endblock %}

{% block main %}
    <main class="site-main">
        <!-- <section class="section-login">
            <h2>Log in</h2>
            <form class="section-login__title">
                <p>
                    <label>Jouw rol:</label>
                    <select>
                        <option>
                            zorgaanbieder
                        </option>
                        <option>
                            afdeling wonen
                        </option>
                    </select>
                </p>

                <p>
                    <label>Wachtwoord</label>
                    <input type="password" />
                </p>

                <button type="submit">Ga door</button>
            </form>
        </section> -->

        <section class="section-downloads">
            <h2>Actuele informatie en formulieren</h2>
            <div class="downloads">
                {% include "download.html" with title="Uitleg Omslagroute" %}
                {% include "download.html" with icon="form" title="Sjabloon Individueel Trajectplan (ITP)" %}
                {% include "download.html" with icon="form" title="Formulier <br />Aanvraag Urgentie" %}
                {% include "download.html" with icon="form" title="Formulier <br />Aanvraag Omslag" %}
                {% include "download.html" with icon="form" title="Formulier <br />Aanvraag Begeleid Wonen" %}
                {% include "download.html" with icon="form" title="Formulier <br />Aanvraag Verlenging Beschermd Wonen" %}
                {% include "download.html" with icon="form" title="Formulier <br />Voordracht Omklap" %}
            </div>
        </section>
    </main>
{% endblock %}
