{% extends 'base.html' %}

{% load staticfiles auth_tags %}

{% block main %}
    <main class="site-main">
        {% if not request.user.is_authenticated %}
            {% include 'users/login.html' %}
        {% endif %}

        <section class="section-downloads">
            <h2>Actuele informatie en formulieren</h2>
            {% if document_list %}
            <ul class="downloads">
                {% for document in document_list %}
                    {% include "download.html" with object=document %}
                {% endfor %}

                {% if request.user|has_group:"wonen" %}
                    {% include "upload.html" %}
                {% endif %}
            </ul>

            {% if request.user|has_group:"wonen" %}
            <a href="{% url 'document_list' %}">Documenten beheer</a>
            {% endif %}
            {% else %}
            <p>Er zijn nog geen documenten geüpload</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
