{% extends 'base.html' %}

{% load staticfiles auth_tags %}

{% block main %}
        {% if not request.user.is_authenticated %}
            {% include 'users/login.html' %}
        {% endif %}

        {% include 'timeline/snippets/moments_section.html' %}

        <hr />
        {% include 'documents/snippets/document_section.html' with document_list=floating_document_list title='Overige documenten' request=request only %}
        <hr />
        <div class="form-field form-field--buttons">
            <a href="{% url 'document_list' %}" class="button button--primary">Alle documenten</a>
        </div>
{% endblock %}
