<div class="details-client details-client--address">
    <header>
        <h2 class="h3 {{class}}">Woning omslagroute</h2>
    </header>
    
    <dl>
        <div>
            <dt>Adres: </dt>
            <dd>{{ object.adres_straatnaam }} {{ object.adres_huisnummer }}{% if object.adres_toevoeging %}, {{ object.adres_toevoeging }}{% endif %}<br/>
                {{ object.adres_postcode }} {{ object.adres_plaatsnaam }}
            </dd>
        </div>
        <div>
            <dt>Woningcorporatie: </dt>
            <dd>{{ object.woningcorporatie }}</dd>
        </div>
    </dl>
    {% if object.address_history|length > 1 %}
    <details class="screen-only">
        <summary class="u-text-align--left">Historie<svg class="icon-details--closed" width="12" height="9">
                <use href="#chevron-down" xlink:href="#chevron-down" width="12" height="9"></use>
            </svg><svg class="icon-details--open" width="12" height="9">
                <use href="#chevron-up" xlink:href="#chevron-up" width="12" height="9"></use>
            </svg>
        </summary>
        <div class="content">
            <button type="button" data-handler="close-details" class="button button--close">
                <span class="sr-only">Verberg historie</span>
                <svg class="icon close__icon" width="12" height="12">
                    <use href="#close" xlink:href="#close" width="12" height="12"></use>
                </svg>
            </button>
            <div class="u-scroll-wrapper">
                <ul class="u-list-style-none">
                    {% for h in object.address_history %}
                    <li>
                        <p class="u-margin-bottom-none">{{ h.adres_straatnaam }} {{ h.adres_huisnummer }}, {{ h.adres_postcode }} {{ h.adres_plaatsnaam }}</p>
                        <p class="u-margin-bottom-none">{{ object.woningcorporatie }}</p>
                        {% if h.adres_wijziging_reden %}<p class="u-margin-bottom-none"><i>'{{ h.adres_wijziging_reden }}'</i></p>{% endif %}
                        <small>{{ h.saved|date:"d-m-y H:i" }} - {{ h.saved_by.user }}</small>
                    </li>
                    {% endfor %}
                </ul>
            </div>    
        </div>
    </details>
    {% endif %}
</div>